{# Header ============================================= #}
<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			{# Logo ============================================= #}
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="demos/app-landing/images/logo-dark.png"><img src="demos/app-landing/images/logo.png" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="demos/app-landing/images/logo-dark@2x.png"><img src="demos/app-landing/images/logo@2x.png" alt="Canvas Logo"></a>
			</div>
			{# logo end #}

			{# Primary Navigation ============================================= #}
			<nav id="primary-menu" class="with-arrows clearfix not-dark">

				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
					<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
					<li><a href="#" data-href="#section-nextgen"><div>Explore</div></a>
						<ul>
							<li><a href="#" data-href="#section-nextgen"><div>NextGen Framework</div></a></li>
							<li><a href="#" data-href="#section-stunning-graphics"><div>Stunning Graphics</div></a></li>
							<li><a href="#" data-href="#section-secured-solutions"><div>Secured Solutions</div></a></li>
						</ul>
					</li>
					<li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
				</ul>
				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
					<li><a href="#" data-href="#section-faqs"><div>FAQs</div></a></li>
					<li><a href="#" data-href="#section-gallery"><div>Gallery</div></a></li>
					<li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline"><div>Login</div></a></li>
				</ul>
			</nav>
			{# primary-menu end #}
		</div>
	</div>
</header>
{# header end#}
