{# Header #}
<header id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">

            {% if mobile is not defined or mobile != false %}
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            {% endif %}

            {# Logo #}
            {% if logo is defined %}
                {% if logo.url is not defined %}
                    {% set url = "#" %}
                {% else %}
                    {% set url = logo.url %}
                {% endif %}
                {% if logo.alt is not defined %}
                    {% set alt = "logo" %}
                {% else %}
                    {% set alt = logo.alt %}
                {% endif %}
                <div id="logo" style="border: none;">
                    {% if logo.standard is defined %}
                        <a href="{{ url }}" class="standard-logo" data-dark-logo="images/logo-dark.png">
                            <img src="{{ logo.standard }}" alt="{{ alt }}">
                        </a>
                    {% endif %}
                    {% if logo.retina is defined %}
                        <a href="{{ url }}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
                            <img src="{{ logo.retina }}" alt="{{ alt }}">
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {# logo end #}

            {# Primary Navigation #}
            <nav id="primary-menu">
                {% if menu is defined and menu|length > 0 %}
                    <ul>
                        {% for label, firstLevel in menu %}
                            <li {% if firstLevel.routes is defined and app.request.get('_route') in firstLevel.routes %}class="current"{% endif %}>
                                {% if firstLevel.route is defined %}
                                    <a href="{{ path(firstLevel.route) }}">
                                        <div>{{ label }}</div>
                                    </a>
                                {% elseif firstLevel.url is defined %}
                                    <a href="{{ firstLevel.url }}">
                                        <div>{{ label }}</div>
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <div>{{ label }}</div>
                                    </a>
                                {% endif %}
                                {% if firstLevel.childrens is defined and  firstLevel.childrens|length > 0 %}
                                    <ul>
                                        {% for label,secondLevel in firstLevel.childrens %}
                                            <li>
                                                {% if secondLevel.route is defined %}
                                                    <a href="{{ path(secondLevel.route) }}">
                                                        <div>{{ label }}</div>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ secondLevel.url }}">
                                                        <div>{{ label }}</div>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block extendMenu %}{% endblock extendMenu %}

                {# Top Cart #}
                {% if cart is defined %}
                    <div id="top-cart">
                        <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                            <div class="top-cart-items">
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="images/shop/small/1.jpg"
                                                         alt="Blue Round-Neck Tshirt"/></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Blue Round-Neck Tshirt</a>
                                        <span class="top-cart-item-price">$19.99</span>
                                        <span class="top-cart-item-quantity">x 2</span>
                                    </div>
                                </div>
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="images/shop/small/6.jpg"
                                                         alt="Light Blue Denim Dress"/></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Light Blue Denim Dress</a>
                                        <span class="top-cart-item-price">$24.99</span>
                                        <span class="top-cart-item-quantity">x 3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="top-cart-action clearfix">
                                <span class="fleft top-checkout-price">$114.95</span>
                                <button class="button button-3d button-small nomargin fright">View Cart</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {# top-cart end #}

                {# Top Search #}
                {% if search is defined %}
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value=""
                                   placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div>
                {% endif %}
                {# top-search end #}

                {# Connexion #}
                {% if security.login is defined and header.login is defined and header.login == true %}
                    {% if app.user == null %}
                        <div id="top-account">
                            <a href="{{ path(security.login) }}" class="btn btn-secondary btn-sm" style="color:white">
                                CONNEXION
                            </a>
                        </div>
                    {% else %}
                        <div id="top-account">
                            <a href="{{ path(security.logout) }}" class="btn btn-secondary btn-sm" style="color:white">
                                DECONNEXION
                            </a>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <a href="{{ path('sixnapps_analytic_dashboard') }}" class="btn btn-secondary btn-sm"
                                   style="color:white">
                                    <i class="icon-params" title="Administration"></i>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                {# connexion end #}

            </nav>
            {# primary-menu end #}

        </div>

    </div>

</header>
{# header end #}
