{#
    Header with lock (emdf)
 #}
<header id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">

            {% if mobile is not defined or mobile != false %}
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            {% endif %}

            {# Logo #}
            {% if logo is defined %}
                {% if logo.url is not defined %}
                    {% set url = "#" %}
                {% else %}
                    {% set url = logo.url %}
                {% endif %}
                {% if logo.alt is not defined %}
                    {% set alt = "logo" %}
                {% else %}
                    {% set alt = logo.alt %}
                {% endif %}
                <div id="logo" style="border: none;">
                    {% if logo.standard is defined %}
                        <a href="{{ url }}" class="standard-logo" data-dark-logo="images/logo-dark.png">
                            <img src="{{ logo.standard }}" alt="{{ alt }}">
                        </a>
                    {% endif %}
                    {% if logo.retina is defined %}
                        <a href="{{ url }}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
                            <img src="{{ logo.retina }}" alt="{{ alt }}">
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {# logo end #}

            {# Primary Navigation #}
            <nav id="primary-menu">
                {% if menu is defined and menu|length > 0 %}
                    <ul>
                        {% for label, firstLevel in menu %}
                            <li {% if firstLevel.routes is defined and app.request.get('_route') in firstLevel.routes %}class="current"{% endif %}>
                                {% if firstLevel.route is defined %}
                                    <a href="{{ path(firstLevel.route) }}">
                                        <div>{{ label }}</div>
                                    </a>
                                {% elseif firstLevel.url is defined %}
                                    <a href="{{ firstLevel.url }}">
                                        <div>{{ label }}</div>
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <div>{{ label }}</div>
                                    </a>
                                {% endif %}
                                {% if firstLevel.childrens is defined and  firstLevel.childrens|length > 0 %}
                                    <ul>
                                        {% for label,secondLevel in firstLevel.childrens %}
                                            <li>
                                                {% if secondLevel.route is defined %}
                                                    <a href="{{ path(secondLevel.route) }}">
                                                        <div>{{ label }}</div>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ secondLevel.url }}">
                                                        <div>{{ label }}</div>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {#LOCK#}
                        {% if lock is defined and is_granted('ROLE_ADMIN') %}
                            <li>
                                <div id="top-lock">
                                    {% if app.session.get('superAdminAccess') == 'true' %}
                                        <a href="{{ path(lock.route, {state: 'false'}) }}"
                                           title="Cliquer pour verrouiller" class="button button-mini"
                                           style="color: white;">
                                            <i class="icon-lock-open"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path(lock.route, {state: 'true'}) }}"
                                           title="Cliquer pour déverrouiller" class="button button-mini"
                                           style="color: white;">
                                            <i class="icon-lock"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% block extendMenu %}{% endblock extendMenu %}

                {# Top Cart #}
                {% if cart is defined %}
                    <div id="top-cart">
                        <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                            <div class="top-cart-items">
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="images/shop/small/1.jpg"
                                                         alt="Blue Round-Neck Tshirt"/></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Blue Round-Neck Tshirt</a>
                                        <span class="top-cart-item-price">$19.99</span>
                                        <span class="top-cart-item-quantity">x 2</span>
                                    </div>
                                </div>
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="images/shop/small/6.jpg"
                                                         alt="Light Blue Denim Dress"/></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Light Blue Denim Dress</a>
                                        <span class="top-cart-item-price">$24.99</span>
                                        <span class="top-cart-item-quantity">x 3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="top-cart-action clearfix">
                                <span class="fleft top-checkout-price">$114.95</span>
                                <button class="button button-3d button-small nomargin fright">View Cart</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {# top-cart end #}

                {# Top Search #}
                {% if search is defined %}
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value=""
                                   placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div>
                {% endif %}
                {# top-search end #}

                {# Connexion #}
                {% if app.user != null %}
                    <div id="top-account">
                        <a style="display: inline-flex; align-items: center; cursor: pointer;" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                        <span>
                            {% if app.user.image is defined and app.user.image is not null %}
                                <img src="{{ asset('user/'~app.user.image) }}" alt="Image profil"
                                     style="width: 40px; height: 40px;">
                            {% else %}
                                {% if app.user.genre == 'Homme' %}
                                    <img src="{{ asset('build/assets/img/defaultMan.png') }}" alt="Image profil"
                                         style="width: 40px; height: 40px;">
                                {% else %}
                                    <img src="{{ asset('build/assets/img/defaultWoman.png') }}" alt="Image profil"
                                         style="width: 40px; height: 40px;">
                                {% endif %}

                            {% endif %}
                        </span>
                            <span class="ml-2">
                                {% if app.user.nom is defined and app.user.prenom is defined %}
                                    <span>{{ app.user.nom|first ~'.'~ app.user.prenom }}</span>
                                {% endif %}

                            <br>
                            {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" or app.user.roles[0] == "ROLE_ADMIN" %}
                                <span>Administrateur</span>
                            {% else %}
                                <span>Utilisateur</span>
                            {% endif %}
                        </span>
                            <span class=" ml-2">
                            <i class="icon-angle-down1"></i>
                        </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="cursor: pointer;">
                            {% if dropdown_user is defined and dropdown_user is not null %}
                                {% for item in dropdown_user %}
                                    {% if item.role == 'admin' %}
                                        {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" or app.user.roles[0] == "ROLE_ADMIN" %}
                                            <a class="dropdown-item" href="{{ path(item.route) }}">{{ item.name }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="dropdown-item" href="{{ path(item.route) }}">{{ item.name }}</a>
                                    {% endif %}

                                {% endfor %}
                                <a href="{{ path(security.logout) }}" class="dropdown-item">Déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div id="top-account">
                        <a href="{{ path(security.login) }}" class="button button-mini" style="color:white">
                            CONNEXION
                        </a>
                    </div>
                {% endif %}

            </nav>
            {# primary-menu end #}

        </div>

    </div>

</header>
{# header end #}
