{# Header #}
<header id="header" class="{#full-header#} static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="200">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			{# Logo #}
			<div id="logo" class="nobottomborder">
				<a href="{{ logoLink }}" class="standard-logo" data-dark-logo="{{ darkLogoUrl }}">
					<img src="{{ logoUrl }}" alt="{{ logoAlt }}">
				</a>
				<a href="{{ logoLink }}" class="retina-logo" data-dark-logo="{{ darkRetinaLogoUrl }}">
					<img src="{{ retinaLogoUrl }}" alt="{{ logoAlt }}">
				</a>
			</div>
			{# logo end #}

			{# Primary Navigation #}
			{% if links is defined %}
				<nav id="primary-menu">
					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
						{% for link in links %}
							<li><a href="#" data-href="#{{ link.idTarget }}"><div>{{ link.title|html }}</div></a></li>
						{% endfor %}
					</ul>
				</nav>
			{% endif %}
		  {# Primary Navigation end #}

			<div class="clearfix d-none d-lg-block">
				{% if socials is defined %}
					{{ canvas_component('social-icons', {'socials': socials }) }}
				{% endif %}
			</div>

		</div>
	</div>
</header>
{# #header end #}
