{#
# Media Item
# params:
#		type: string // youtube, vimeo, soundcloud, dailymotion, html5
# 		path: string / array // chemin ou url de la video en mode embed
#		height: int
#		width: int
#
#		HTML5:
		'path' : {
			poster: '../...',
			sources: [
				{
					'src': '../...',
					'type': ' mp4' // type de la video.
				},
				{
					'src': '../...',
					'type': ' mp4' // type de la video.
				},
			]

		}
#}

{% if type is same as('html5') %}
	<video poster="{{ path.poster }}" preload="auto" controls style="display: block; width: 100%;">
		{% for source in path.sources  %}
			<source src='{{ source.src }}' type='video/{{ source.type }}' />
		{% endfor %}
	</video>
{% else %}
	<iframe
			allowfullscreen
			src="{{ path }}"
			width="{{ width }}"
			{% if height is defined and height is not null %} height="{{ height }}{% endif %}"
			frameborder="{% if type is not same as('soundcloud') %}0{% else %}no{% endif %}"
			{% if type is same as('vimeo') %}
				webkitallowfullscreen
				mozallowfullscreen
			{% endif %}
	>
	</iframe>
{% endif %}

