<div class="postcontent nobottommargin clearfix">

	{% for media in medias %}
		<h3>{{ media.title }}</h3>
		{{ canvas_component('media-embed', {'path': media.path, 'type':media.type ,'width': media.width, 'height': media.height}) }}

		<div class="divider"><i class="icon-circle"></i></div>
	{% endfor %}

	<div class="divider"><i class="icon-circle"></i></div>

	<h3>HTML5 embed</h3>
	{{ canvas_component('media-embed', {
		'type': 'html5',
		'path': {
			'poster' : asset('canvas/images/videos/explore-poster.jpg'),
			'sources': [

				{
					'type': 'webm',
					'src': asset('canvas/images/videos/explore.webm')
				},
				{
					'type': 'mp4',
					'src': asset('canvas/images/videos/explore.mp4')
				},
			]
		}}
	) }}
</div>


{#{'path': {#}
{#[#}
{#'poster': asset('canvas/images/videos/explore-poster.jpg'),#}
{#'sources': {#}

{#}#}
{#]#}
{#},#}
{#'type':'html5' ,'width': media.width, 'height': media.height#}
{#}#}
