<a href="{{ link }}">
    <div class="col-lg-12 mb-4">
        <div class="flip-card text-center {% if vertical is defined and vertical == true %} top-to-bottom {% endif %}">
            <div class="flip-card-front dark {{ cart_class|default('') }}" data-height-xl="505" style="background-image: url('{{ image }}');">
                <div class="flip-card-inner">
                    <div class="card nobg noborder text-center">
                        <div class="card-body">
                            <h3 class="card-title">{{ cart_title }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back" data-height-xl="505">
                <div style="transform: none; top: 0; height: 100%;" class="flip-card-inner">
                    <h3 style="font-size: .7em;" class="card-title text-white">{{ cart_title }}</h3>
                    <div style="line-height: 0;">
                        {% for item in list_top %}
                            {% if loop.last %}
                                <span class="mb-0" style="font-size: .5em;">{{ item }}</span>
                            {% else %}
                                <span class="mb-0" style="font-size: .5em;">{{ item }}, </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr style="border-top: 1px solid #eee;">
                    <div class="mb-2 text-white flip-card-desc">{{ description|html }}</div>
                    <hr style="border-top: 1px solid #eee;">
                    <span style="display: flex; align-items: center; position: absolute; bottom: 15px;">
					<span style="padding-right: 25px; display: flex; flex-direction: column;">
						<span style="margin-bottom: 15px;">{{ icon_title }}</span>
						<i class="{{ icon }} h1"></i>
					</span>
					<span style="display: flex; text-align: left; flex-direction: column;align-items: flex-start;justify-content: space-between;">
						{% for item in list_bottom %}
                            <span style="font-size: .8em;"><i class="{{ item[0] }}"></i> : {{ item[1] }}</span>
                        {% endfor %}
					</span>
				</span>
                </div>
            </div>
        </div>
    </div>
</a>
