<div class="fancy-title title-dotted-border title-center">
	<h3>Flip Cards</h3>
</div>
<div class="row grid-container" data-layout="masonry" style="overflow: visible">
	{% for card in flipCards %}
		{% if card.type == 'petite' %}
			{{ canvas_component('flip-card-petite') }}
		{% elseif card.type == 'moyenne' %}
			{{ canvas_component('flip-card-moyenne') }}
		{% else %}
			{{ canvas_component('flip-card-grande') }}
		{% endif %}
	{% endfor %}
	<div class="col-lg-4">
		{{ canvas_component('flip-card-custom-1', {image: 'https://wallpaperplay.com/walls/full/d/4/8/304479.jpg', description: '<p><strong>Description</strong> yoo</p>'}) }}
	</div>
</div>
