{% if cart_title is not defined %}
	{% set cart_title = 'Title'  %}
{% endif %}
{% if content_front is not defined %}
	{% set content_front = 'Content_back'  %}
{% endif %}
{% if content_back is not defined %}
	{% set content_back = 'content_front'  %}
{% endif %}
{% if button is not defined %}
	{% set button = 'Button'  %}
{% endif %}
{% if image_back is not defined %}
	{% set image_back = ''  %}
{% endif %}
{% if image_front is not defined %}
	{% set image_front = ''  %}
{% endif %}
<div class="col-lg-4 mb-4">
	<div class="flip-card text-center {% if vertical is defined and vertical == true %} top-to-bottom {% endif %}">
		<div class="flip-card-front dark" data-height-xl="505" style="background-image: url('{{image_front}}');">
			<div class="flip-card-inner">
				<div class="card nobg noborder text-center">
					<div class="card-body">
						<i class="icon-line2-briefcase h1"></i>
						<h3 class="card-title">{{ cart_title }}</h3>
						<p class="card-text t400">{{ content_front }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flip-card-back" data-height-xl="505" style="background-image: url('{{image_back}}');">
			<div class="flip-card-inner">
				<p class="mb-2 text-white">{{ content_back }}</p>
				<button type="button" class="btn btn-outline-light mt-2">{{ button }}</button>
			</div>
		</div>
	</div>
</div>
