{% if cart_title is not defined %}
	{% set cart_title = 'Title'  %}
{% endif %}
{% if content is not defined %}
	{% set content = 'Content'  %}
{% endif %}
{% if button is not defined %}
	{% set button = 'Button'  %}
{% endif %}
{% if image_back is not defined %}
	{% set image_back = ''  %}
{% endif %}
<div class="col-lg-4 mb-4">
	<div class="flip-card text-center {% if vertical is defined and vertical == true %} top-to-bottom {% endif %}">
		<div class="flip-card-front bg-info dark" data-height-xl="200">
			<div class="flip-card-inner">
				<div class="card nobg noborder text-center">
					<div class="card-body">
						<i class="icon-line2-check h1"></i>
						<h3 class="card-title">{{ cart_title }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="flip-card-back" data-height-xl="200" style="background-image: url('{{image_back}}');">
			<div class="flip-card-inner">
				<p class="mb-2 text-white">{{ content }}</p>
				<button type="button" class="btn btn-outline-light mt-2">{{ button }}</button>
			</div>
		</div>
	</div>
</div>
