
<div class="modal-on-load" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide" id="myModal1">
	<div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
		<div class="row nomargin clearfix">
			<div class="col-md-6" data-height-xl="456" data-height-lg="456" data-height-md="456" data-height-sm="0" data-height-xs="0" style="background-image: url({{ asset('canvas/images/blog/full/1.jpg') }}); background-size: cover;"></div>
			<div class="col-md-6 col-padding" data-height-xl="456" data-height-lg="456" data-height-md="456" data-height-sm="456" data-height-xs="456">
				<div>
					<h4 class="uppercase ls1">Sign Up for Offers</h4>
					<form action="#" class="clearfix" style="max-width: 300px;">
						<div class="col_full">
							<label for="" class="capitalize t600">Username or Email:</label>
							<input type="email" id="template-op-form-email" name="template-op-form-email" value="" class="sm-form-control" />
						</div>
						<div class="col_full">
							<label for="" class="capitalize t600">Choose Password:</label>
							<input type="password" id="template-op-form-password" name="template-op-form-password" value="" class="sm-form-control" />
						</div>
						<div class="col_full nobottommargin">
							<button type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Register Now</button>
						</div>
					</form>
					<p class="nobottommargin"><small class="t300"><em>* No Credit Card Required</em></small></p>
				</div>
			</div>
		</div>
	</div>
</div>
