{% if modal.title is defined and modal.title is not empty %}
	{% set title = modal.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if modal.content is defined and modal.content is not empty %}
	{% set content = modal.content %}
{% else %}
	{% set content = 'No data' %}
{% endif %}

<div class="modal-on-load enable-cookie" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide" id="myModal1">
	<div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
		<div class="center" style="padding: 50px;">
			<h3>{{ title }}</h3>
			<p class="nobottommargin">{{ content }}</p>
		</div>
		<div class="section center nomargin" style="padding: 30px;">
			<a href="#" class="button" onClick="$.magnificPopup.close();return false;">Don't Show me Again</a>
		</div>
	</div>
</div>


