{% if modal.title is defined and modal.title is not empty %}
	{% set title = modal.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if modale.url is defined and modal.url is not empty %}
	{% set url = modal.url %}
{% else %}
	{% set url = 'https://player.vimeo.com/video/139208268?badge=0' %}
{% endif %}

{% if modal.source is defined and modal.source is not empty %}
	{% set source = modal.source %}
{% else %}
	{% set source = 'No data' %}
{% endif %}


<div class="modal-on-load" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide" id="myModal1">
	<div class="block divcenter" style="background-color: #FFF; max-width: 600px;">
		<div class="center clearfix" style="padding: 50px;">
			<h3 class="uppercase">{{ title }}</h3>
			<iframe src="{{ url }}" width="500" height="210" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p class="lead nobottommargin topmargin-sm">{{ source }}</p>
		</div>
	</div>
</div>

