<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="center">
				<a href="#myModal1" data-lightbox="inline" class="button button-large button-rounded">Trigger Modal</a>
				<div class="line"></div>
				<a href="{{ path('sixnapps.canvas.modal-onload') }}" class="button button-mini button-rounded button-dark">Simple Example</a>
				<a href="{{ path('sixnapps.canvas.modal-onload-iframe') }}" class="button button-mini button-rounded button-dark">Video iFrame</a>
				<a href="{{ path('sixnapps.canvas.modal-onload-subscribe') }}" class="button button-mini button-rounded button-dark">Subscription Form</a>
				<a href="{{ path('sixnapps.canvas.modal-onload-common-height') }}" class="button button-mini button-rounded button-dark">Common Height</a>
				<a href="{{ path('sixnapps.canvas.modal-onload-cookies') }}" class="button button-mini button-rounded button-dark">Cookie Enabled</a>
			</div>


			{% if modal.type is defined and modal.type is not empty %}
				{% set type = modal.type %}
			{% else %}
				{% set type = 'simple' %}
			{% endif %}

			{{ canvas_component('modal-onload-' ~ type, { 'modal': modal }) }}

		</div>

	</div>

</section>
