{% if modal.title is defined and modal.title is not empty %}
	{% set title = modal.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if modal.subtitle is defined and modal.subtitle is not empty %}
	{% set subtitle = modal.subtitle %}
{% else %}
	{% set subtitle = 'No data' %}
{% endif %}


<div class="modal-on-load" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide subscribe-widget" id="myModal1">
	<div class="block dark divcenter" style="background: url({{ asset('canvas/images/modals/modal1.jpg') }}) no-repeat; background-size: cover; max-width: 700px;" data-height-xl="400">
		<div style="padding: 50px;">
			<div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
				<h3>{{ title }}</h3>
				<span>{{ subtitle }}</span>
			</div>
			<div class="widget-subscribe-form-result"></div>
			<form class="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 350px;">
				<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email">
				<button class="button button-rounded button-border button-light noleftmargin" type="submit" style="margin-top:15px;">Subscribe</button>
			</form>
			<p class="nobottommargin"><small><em>*We hate Spam &amp; Junk Emails.</em></small></p>
		</div>
	</div>
</div>


