{% if subscribe.type|default('regular') == 'regular' %}
	<div class="widget subscribe-widget clearfix">
		<h4>{{ subscribe.title|default('Newsletter') }}</h4>
		<h5>{{ subscribe.text|default('Suivez notre actualité') }}</h5>
		<form action="{{ subscribe.action }}" role="form" class="notopmargin nobottommargin">
			<div class="input-group divcenter">
				<input type="text" class="form-control" placeholder="{{ subscribe.placeholder|default('Votre adresse email') }}" required="">
				<div class="input-group-append">
					<button class="btn btn-success" type="submit"><i class="icon-email2"></i></button>
				</div>
			</div>
		</form>
	</div>
{% elseif subscribe.type|default('regular') == 'mailchimp' %}
	<div>mailchimp</div>
{% endif %}

