{% if animation is not defined %}
	{% set animation = '' %}
{% endif %}
{% if arrows is not defined %}
	{% set arrows = 'true' %}
{% endif %}
{% if center is not defined %}
	{% set center = 'true' %}
{% endif %}
{% if full is not defined %}
	{% set full = 'false' %}
{% endif %}
{% if noImg is not defined %}
	{% set noImg = 'false' %}
{% endif %}
{% if noImg is not defined %}
	{% set noImg = 'false' %}
{% endif %}





{% if title is defined %}
	<h4 class="uppercase {% if center == true %}center{% endif %}">{{ title|html }}</h4>
{% endif %}
<div class="fslider testimonial {% if noImg ==true %}no-image {% endif %}{% if full == true %}testimonial-full {% endif %}{% if class is defined %}{{ class }}{% endif %}" data-animation="{{ animation }}" data-arrows="{{ arrows }}">
	<div class="flexslider">
		<div class="slider-wrap">

			{% for slide in list %}
				{% if slide.image is defined %}
					{% if slide.image.link is defined %}
						{% set imageLink = slide.image.link %}
					{% else %}
						{% set imageLink = '#' %}
					{% endif %}
					{% if slide.image.imageUrl is defined %}
						{% set imageUrl = slide.image.imageUrl %}
					{% else %}
						{% set imageUrl = '' %}
					{% endif %}
					{% if slide.image.alt is defined %}
						{% set imageAlt = slide.image.alt %}
					{% else %}
						{% set imageAlt = 'Image' %}
					{% endif %}
				{% endif %}

				<div class="slide">
					{% if slide.image is defined %}
						<div class="testi-image">
							<a href="{{ imageLink }}"><img src="{{ imageUrl }}" alt="{{ imageAlt }}"></a>
						</div>
					{% endif %}
					<div class="testi-content {% if textPos is defined %}text-{{ textPos }}{% endif %}">
						{% if slide.text is defined %}<p>{{ slide.text|html }}</p>{% endif %}
						<div class="testi-meta">
							{% if slide.customer is defined %}{{ slide.customer }}{% endif %}
							{% if slide.company is defined %}<span>{{ slide.company }}</span>{% endif %}
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>
</div>
