<span class="{% if sidebar is defined and sidebar == true %}sidebar{% endif %} nobottommargin {% if left is not defined or left == false %}col_last{% endif %} clearfix">
	{% if address is defined and contacts is defined %}
		{{ canvas_component('contact-info', {'address': address, 'contacts': contacts }) }}
	{% endif %}

	{% if linkList is defined %}
		{{ canvas_component('link-list-simple', {'linkList': linkList }) }}
	{% endif %}

	{% if twitterProfile is defined %}
		{{ canvas_component('twitter-feed', {'twitterProfile': twitterProfile }) }}
	{% endif %}

	{% if itemList is defined %}
		{{ canvas_component('item-list', {'itemList': itemList }) }}
	{% endif %}

	{% if carousel is defined %}
		{{ canvas_component('carousel-simple', {'carousel': carousel }) }}
	{% endif %}

	{% if subscribe is defined %}
		{{ canvas_component('subscribe-newsletter', {'subscribe': subscribe }) }}
	{% endif %}

	{% if socials is defined %}
		{{ canvas_component('social-icons', {'socials': socials }) }}
	{% endif %}
</span>
