{% if formTitle is not defined %}
	{% set formTitle = 'Title' %}
{% endif %}
{% if formConfig.name is not defined %}
	{% set formConfigName = 'template-contactform' %}
{% else %}
	{% set formConfigName = formConfig.name|toURL %}
{% endif %}
{% if formConfig.action is not defined %}
	{% set formConfigAction = '#' %}
{% else %}
	{% set formConfigAction = formConfig.action %}
{% endif %}
{% if formConfig.method is not defined %}
	{% set formConfigMethod = 'post' %}
{% else %}
	{% set formConfigMethod = formConfig.method %}
{% endif %}
{% if sendBtnLabel is not defined %}
	{% set sendBtnLabel = 'send message' %}
{% endif %}

<div {% if class is defined %}class="{{ class }}"{% endif %}>

	<div class="fancy-title title-dotted-border">
		<h3>{{ formTitle }}</h3>
	</div>

	<div class="{# contact-widget #}"  {% if inlineNotification is defined and inlineNotification == true %}data-alert-type="inline"{% endif %}>

		<div class="contact-form-result"></div>

		<form class="nobottommargin" id="{{ formConfigName }}" name="{{ formConfigName }}" action="{{ formConfigAction }}" method="{{ formConfigMethod }}">

			{% if components is defined %}
				{% set loopLast = 0 %}
				{% for component in components %}
					{% if component.class is defined %}
						{% set componentClass = component.class %}
					{% else %}
						{% set componentClass = 'col_one_third' %}
					{% endif %}
					{% if component.label is defined %}
						{% set componentLabel = component.label %}
					{% else %}
						{% set componentLabel = 'label-'~loop.index0|trans %}
					{% endif %}
					{% if component.type is defined %}
						{% set componentType = component.type %}
					{% else %}
						{% set componentType = 'text' %}
					{% endif %}
					{% if component.required is defined and component.required == true %}
						{% set componentRequired = true %}
					{% else %}
						{% set componentRequired = false %}
					{% endif %}

					{% if component.rows is defined %}
						{% set componentRows = component.rows %}
					{% else %}
						{% set componentRows = '1' %}
					{% endif %}
					{% if component.cols is defined %}
						{% set componentCols = component.cols %}
					{% else %}
						{% set componentCols = '1' %}
					{% endif %}
					{% if component.notLast is defined and component.notLast == true %}
						{% set componentNotLast = true %}
					{% else %}
						{% set componentNotLast = false %}
					{% endif %}

					<div class="{{ componentClass }}{% if loopLast == 2 and componentNotLast == false %} col_last{% endif %}">
						<label for="{{ componentLabel|toURL }}">{{ componentLabel }}{% if componentRequired %}<small>*</small>{% endif %}</label>
						{% if componentType == 'textarea' %}
							<textarea id="{{ componentLabel|toURL }}-area"
									  name="{{ componentLabel|toURL }}-area"
									  value="" class="{% if componentRequired %}required{% endif %} sm-form-control"
									  rows="{{ componentRows }}"
									  cols="{{ componentCols }}"
							></textarea>
						{% elseif componentType == 'fileUpload' %}
							<div class="col_full">
								<input type="file" id="{{ componentLabel|toURL }}" name="{{ componentLabel|toURL }}" value="" class="{% if component.required is defined and component.required == true %}required {% endif %}sm-form-control" />
							</div>
						{% elseif componentType == 'listChoice' and component.list is defined %}
							<select id="{{ componentLabel|toURL }}" name="{{ componentLabel|toURL }}"
									class="sm-form-control">
								{% for choise in  component.list %}
									<option value="{{ choise[1] }}">{{ choise[0] }}</option>
								{% endfor %}
							</select>
						{% else %}
							<input type="{{ componentType }}"
								   id="{{ componentLabel|toURL }}"
								   name="{{ componentLabel|toURL }}"
								   value="" class="{% if componentRequired %}required{% endif %} sm-form-control"
							/>
						{% endif %}
						{% if component.help is defined  %}
							<small id="{{ componentLabel|toURL }}-help" class="form-text text-muted">{{ component.help }}</small>
						{% endif %}
					</div>
					{% if loopLast == 2 and componentNotLast == false %}
						<div class="clear"></div>
						{% set loopLast = 0 %}
					{% endif %}
					{% set loopLast = loopLast + 1 %}
				{% endfor %}
			{% endif %}

			{% if recaptcha is defined %}
				<div class="col_half">
					<script src="https://www.google.com/recaptcha/api.js" async defer></script>
					<div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>
				</div>
			{% endif %}

			<div class="clear"></div>

			<div class="col_full hidden">
				<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
			</div>

			<div class="col_full">
				<button class="button button-3d nomargin" type="submit" id="{{ formConfigName }}-submit"
						name="{{ formConfigName }}-submit" value="submit">
					{{ sendBtnLabel }}
				</button>
			</div>

		</form>
	</div>
</div>

