<span {% if class is defined %}class="{{ class }}"{% endif %}>
	{% if address is defined %}
		<address>
			{% if address.name is defined %}<strong>{{ address.name }}</strong><br>{% endif %}
			{% if address.street is defined %}{{ address.street }}<br>{% endif %}
			{% if address.zipCode is defined %}
				{{ address.zipCode }},
			{% endif %}
			{% if address.city is defined %}
				{{ address.city }}<br>
			{% endif %}
			{% if address.country is defined %}{{ address.country }}<br>{% endif %}
		</address>
	{% endif %}
	{% if contacts is defined %}
		{% for contact in contacts %}
			<strong>{{ contact.title|html }}:</strong>
			{{ contact.body }}<br>
		{% endfor %}
	{% endif %}
</span>
