<div class="clear"></div>
{% if datas is defined %}
    <div class="col_half">
        {% for data in datas %}
            {% if loop.index is not even %}
                <div class="row">
            {% endif %}
            <div class="col-lg-6 col-md-6 bottommargin clearfix">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                    <div class="fbox-icon">
                        <a href="{% if data.link is defined %}{{ data.link }}{% else %}#{% endif %}"><i
                                    class="icon-{% if data.icon is defined %}{{ data.icon }}{% else %}circle-blank{% endif %}"></i></a>
                    </div>
                    <h3>{% if data.title is defined %}{{ data.title }}{% endif %}<span
                                class="subtitle">{% if data.subtitle is defined %}{{ data.subtitle }}{% endif %}</span>
                    </h3>
                </div>
            </div>
            {% if loop.index is even or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {#<div class="row clear-bottommargin justify-content-center">#}
    {#{% for data in datas %}#}
    {#<div class="col-lg-3 col-md-6 bottommargin clearfix">#}
    {#<div class="feature-box fbox-center fbox-bg fbox-plain">#}
    {#<div class="fbox-icon">#}
    {#<a href="{% if data.link is defined %}{{ data.link }}{% else %}#{% endif %}"><i#}
    {#class="icon-{% if data.icon is defined %}{{ data.icon }}{% else %}circle-blank{% endif %}"></i></a>#}
    {#</div>#}
    {#<h3>{% if data.title is defined %}{{ data.title }}{% endif %}<span#}
    {#class="subtitle">{% if data.subtitle is defined %}{{ data.subtitle }}{% endif %}</span>#}
    {#</h3>#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div>#}
{% endif %}
