{% if logoLink is not defined %}
	{% set logoLink = '#' %}
{% endif %}
{% if logoUrl is not defined %}
	{% set logoUrl = '' %}
{% endif %}
{% if logoAlt is not defined %}
	{% set logoAlt = 'logo' %}
{% endif %}

{% if socialLogins is defined %}
	{% if socialLogins.label is defined %}
		{% set socialLoginsLabel = socialLogins.label %}
	{% else %}
		{% set socialLoginsLabel = 'or Login with:' %}
	{% endif %}
	{% if socialLogins.connector is defined %}
		{% set socialLoginsConnector = socialLogins.connector %}
	{% else %}
		{% set socialLoginsConnector = 'or' %}
	{% endif %}
{% endif %}

{% if copyrightsText is not defined %}
	{% set copyrightsText = 'Copyrights &copy; All Rights Reserved by 6nApps Inc.' %}
{% endif %}

<div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; {% if backgroundStyle is defined %}{{ backgroundStyle }}{% else %}background: #444;{% endif %}"></div>
<div class="section nobg full-screen nopadding nomargin">
	<div class="container-fluid vertical-middle divcenter clearfix">
		<div class="center">
			<a href="{{ logoLink }}"><img src="{{ logoUrl }}" alt="{{ logoAlt }}" {% if logoWidth is defined %}width="{{ logoWidth }}"{% endif %} class="m-2"></a>
		</div>
		<div class="card divcenter noradius noborder" style="max-width: 400px; {% if backgroundFormStyle is defined %}{{ backgroundFormStyle }}{% endif %}">
			<div class="card-body" style="padding: 40px;">
				{{ connexionForm|html }}
				{% if socialLogins is defined %}
					<div class="line line-sm"></div>
					<div class="center">
						<h4 style="margin-bottom: 15px;">{{ socialLoginsLabel }}</h4>
						{% for item in socialLogins.list %}
							<a href="{{ item.link }}" class="button button-rounded si-{{ item.name }} si-colored">{{ item.name }}</a>
							{% if not loop.last %}
								<span class="d-none d-md-block">{{ socialLoginsConnector }}</span>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="center dark"><small>{{ copyrightsText|html }}</small></div>
	</div>
</div>
