{% set formAction = '#' %}
{% set formMethod = 'get' %}
{% set forgotLink = '#' %}

{% if formLabel is not defined %}
	{% set formLabel = 'Login to your Account' %}
{% endif %}
{% if usernameLabel is not defined %}
	{% set usernameLabel = 'Username' %}
{% endif %}
{% if passwordLabel is not defined %}
	{% set passwordLabel = 'Password' %}
{% endif %}
{#{% if rememberLabel is not defined %}#}
	{#{% set rememberLabel = 'Remember me' %}#}
{#{% endif %}#}
{% if submitLabel is not defined %}
	{% set submitLabel = 'Login' %}
{% endif %}
{% if forgotLabel is not defined %}
	{% set forgotLabel = 'Forgot Password?' %}
{% endif %}
{% if submitBlack is not defined %}
	{% set submitBlack = false %}
{% endif %}

{% if formConfig is defined %}
	{% if formConfig.action is defined %}
		{% set formAction = formConfig.action %}
	{% endif %}
	{% if formConfig.method is defined %}
		{% set formMethod = formConfig.method %}
	{% endif %}
	{% if formConfig.forgotLink is defined %}
		{% set forgotLink = formConfig.forgotLink %}
	{% endif %}
{% endif %}

<div class="well well-lg nobottommargin">
	<form id="login-form" name="login-form" class="nobottommargin" action="{{ formAction }}" method="{{ formMethod }}">

		<h3>{{ formLabel }}</h3>

		<div class="col_full">
			<label for="login-form-username">{{ usernameLabel }}:</label>
			<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
		</div>

		<div class="col_full">
			<label for="login-form-password">{{ passwordLabel }}:</label>
			<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
		</div>

		{% if rememberLabel is defined %}
			<div class="col_full">
				<input id="login-form-remember" class="checkbox-style" name="login-form-remember" type="checkbox" checked="">
				<label for="login-form-remember" class="checkbox-style-3-label">{{ rememberLabel }}</label>
			</div>
		{% endif %}

		<div class="col_full nobottommargin">
			<button class="button button-3d nomargin {% if submitBlack %}button-black{% endif %}" id="login-form-submit" name="login-form-submit" value="login">{{ submitLabel }}</button>
			<a href="{{ forgotLink }}" class="fright">{{ forgotLabel }}</a>
		</div>

	</form>
</div>
