{% set formAction = '#' %}
{% set formMethod = 'get' %}
{% set forgotLink = '#' %}

{% if formLabel is not defined %}
	{% set formLabel = 'Don\'t have an Account? Register Now.' %}
{% endif %}
{% if formText is not defined %}
	{% set formText = '' %}
{% endif %}
{% if registerLabel is not defined %}
	{% set registerLabel = 'Register now' %}
{% endif %}
{% if submitBlack is not defined %}
	{% set submitBlack = false %}
{% endif %}


{% if formConfig is defined %}
	{% if formConfig.action is defined %}
		{% set formAction = formConfig.action %}
	{% endif %}
	{% if formConfig.method is defined %}
		{% set formMethod = formConfig.method %}
	{% endif %}
{% endif %}



<h3>{{ formLabel }}</h3>

<p>{{ formText }}</p>

<form id="register-form" name="register-form" class="nobottommargin" action="{{ formAction }}" method="{{ formMethod }}">

	{% if components is defined %}
		{% for component in components %}
			{% if component.class is defined %}
				{% set componentClass = component.class %}
			{% else %}
				{% set componentClass = 'col_half' %}
			{% endif %}
			{% if component.label is defined %}
				{% set componentLabel = component.label %}
			{% else %}
				{% set componentLabel = 'label-'~loop.index0|trans %}
			{% endif %}
			{% if component.type is defined %}
				{% set componentType = component.type %}
			{% else %}
				{% set componentType = 'text' %}
			{% endif %}
			{% if component.required is defined and component.required == true %}
				{% set componentRequired = true %}
			{% else %}
				{% set componentRequired = false %}
			{% endif %}
			{% if component.notLast is defined and component.notLast == true %}
				{% set componentNotLast = true %}
			{% else %}
				{% set componentNotLast = false %}
			{% endif %}

			<div class="{{ componentClass }}{% if loop.index0 % 2 != 0 and componentNotLast == false %} col_last{% endif %}">
				<label for="{{ componentLabel|toURL }}">{{ componentLabel }} :</label>
					<input type="{{ componentType }}"
						   id="{{ componentLabel|toURL }}"
						   name="{{ componentLabel|toURL }}"
						   value="" class="{% if componentRequired %}required{% endif %} sm-form-control"
					/>
				{% if component.help is defined  %}
					<small id="{{ componentLabel|toURL }}-help" class="form-text text-muted">{{ component.help }}</small>
				{% endif %}
			</div>
			{% if loop.index0 % 2 != 0 and componentNotLast == false %}<div class="clear"></div>{% endif %}
		{% endfor %}
	{% endif %}

	<div class="clear"></div>

	<div class="col_full nobottommargin">
		<button class="button button-3d {% if submitBlack %}button-black{% endif %} nomargin" id="register-form-submit" name="register-form-submit" value="register">{{ registerLabel }}</button>
	</div>

</form>
