<div class="widget widget_links clearfix">
	<h4>{{ linkList.title }}</h4>
	{% if linkList.list is defined %}
		<ul>
			{% for link in linkList.list %}
				<li><a href="{{ link[1] }}"><div>{{ link[0] }}</div></a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
