{% if title is not defined %}
    {% set title = 'Title' %}
{% endif %}
{% if bottomTop is not defined %}
    {% set bottomTop = '0px 0px' %}
{% endif %}
{% if topBottom is not defined %}
    {% set topBottom = '0px -300px' %}
{% endif %}
{% if backgroundSize is not defined %}
    {% set backgroundSize = 'contain' %}
{% endif %}
{#@TODO fix error with cover#}
{% if cover is defined %}
<div style="position: relative;">
    {% endif %}
    <section id="page-title"
             class="{% if align is defined %}
					{% if align == 'right' %}page-title-right
					{% elseif align == 'center' %}page-title-center
					{% endif %}
				{% endif %}
				{% if mini is defined and mini == true %}
					page-title-mini
				{% endif %}
				{% if noBg is not defined or ( noBG is defined and noBg == false ) %}
					{% if dark is defined and dark == true %}
						page-title-dark
					{% endif %}
					{% if customDark is defined and customDark == true %}
						page-title-custom-dark
					{% endif %}
					{% if pattern is defined and pattern == true %}
						page-title-pattern
					{% endif %}
					{% if img is defined %}
						page-title-parallax skrollable skrollable-between
					{% elseif parallaxVid is defined %}
						page-title-parallax page-title-video
					{% endif %}
				{% else %}
					page-title-nobg
				{% endif %}"
             style="{% if paddingBg is defined %}
                     padding: {{ paddingBg }};
             {% endif %}
		 		 {% if img is defined %}
                     background-image: url({{ img }});
                     background-size: {{ backgroundSize }};
             {% endif %}"
            {% if img is defined %}
             data-bottom-top="background-position:{{ bottomTop }}" data-top-bottom="background-position:{{ topBottom }};
		{% endif %}"
    >
        {% if parallaxVid is defined and img is not defined %}
            <div class="video-wrap">
                <video poster="{{ asset(parallaxVid.vidImg) }}" preload="auto" loop="" autoplay="" muted=""
                       style="width: 100%; height: 900px;">
                    <source src="{{ asset( parallaxVid.vid[0] ) }}" type="{{ parallaxVid.vid[1] }}">
                    {% if parallaxVid.vidAlt is defined %}
                        <source src="{{ asset( parallaxVid.vidAlt[0] ) }}" type="{{ parallaxVid.vidAlt[1] }}">
                    {% endif %}
                </video>
                <div class="video-overlay"></div>
            </div>
        {% endif %}

        <div class="container clearfix">
            <div class="mb-3">
                <h1 style="{% if titleColor is defined %}color: {{ titleColor }} !important;{% endif %}
                {% if titleBgColor is defined %}background-color: {{ titleBgColor }} !important;{% endif %}
                        display: inline;
                        padding: 0 15px;">
                    {{ title|html }}</h1>
            </div>
            {% if subTitle is defined %}
                <div>
            <span style="{% if textColor is defined %}color: {{ textColor }};{% endif %}
                    {% if textBgColor is defined %}background-color: {{ textBgColor }};{% endif %}
                    display: inline;
                    padding: 0 15px;">
                {{ subTitle|html }}</span>
                </div>
            {% endif %}
            {% if breadcrumb is defined %}
                {{ canvas_component('breadcrumb', {'list': breadcrumb }) }}
            {% endif %}
        </div>
    </section>

    {% if cover is defined %}
    <section style="
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: {{ cover }};
            ">
    </section>
</div>
{% endif %}
