<div class="col-md-6 bottommargin-sm">
	<label for="">{{ label }}</label>
	<div class="input-group">
		<input type="text" value="" class="form-control tleft {{ parameter }}" placeholder="MM/DD/YYYY">
		<div class="input-group-append">
			<div class="input-group-text"><i class="icon-calendar2"></i></div>
		</div>
	</div>
</div>
