<div class="fancy-title title-dotted-border title-center">
	<h3>DATE & TIME PICKERS</h3>
</div>

<form action="#" method="post" class="nobottommargin">
	<div class="input-daterange travel-date-group bottommargin-sm">
		<div class="row">


			{% for datePicker in datePickers %}

				{% if datePicker.label is defined and datePicker.label is not empty %}
					{% set label = datePicker.label %}
				{% else %}
					{% set label = 'Label' %}
				{% endif %}

				{% if datePicker.parameter is defined and datePicker.parameter is not empty %}
					{% set parameter = datePicker.parameter %}
				{% else %}
					{% set parameter = 'Label' %}
				{% endif %}

				{% if datePicker.icon is defined %}

					{{ canvas_component('date-picker-icon', { 'label': label, 'parameter': parameter }) }}

				{% elseif datePicker.range is defined %}

					{{ canvas_component('date-picker-range', { 'label': label, 'parameter': parameter }) }}

				{% elseif datePicker.inline is defined %}

					{{ canvas_component('date-picker-inline', { 'label': label, 'parameter': parameter }) }}

				{% else %}

					{{ canvas_component('date-picker', { 'label': label, 'parameter': parameter }) }}

				{% endif %}

			{% endfor %}

			{#<div class="w-100"></div>#}
			{#<!-- Time Picker -->#}

			{#<div class="col-md-6 bottommargin-sm">#}
				{#<label for="">Date &amp; Time Picker</label>#}
				{#<div class="form-group">#}
					{#<div class="input-group tleft" data-target-input="nearest" data-target=".datetimepicker">#}
						{#<input type="text" class="form-control datetimepicker-input datetimepicker" data-target=".datetimepicker" placeholder="MM/DD/YYYY 00:00 AM/PM"/>#}
						{#<div class="input-group-append" data-target=".datetimepicker" data-toggle="datetimepicker">#}
							{#<div class="input-group-text"><i class="icon-calendar"></i></div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}

			{#<div class="col-md-6 bottommargin-sm">#}
				{#<label for="">Time Picker</label>#}
				{#<div class="form-group">#}
					{#<div class="input-group tleft" data-target-input="nearest" data-target=".datetimepicker1">#}
						{#<input type="text" class="form-control datetimepicker-input datetimepicker1" data-target=".datetimepicker1" placeholder="00:00 AM/PM" />#}
						{#<div class="input-group-append" data-target=".datetimepicker1" data-toggle="datetimepicker">#}
							{#<div class="input-group-text"><i class="icon-clock"></i></div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}

			{#<div class="w-100"></div>#}
			{#<div class="col-md-6 bottommargin-sm">#}
				{#<label for="">Inline Date and Time</label>#}
				{#<div class="datetimepicker2"></div>#}
			{#</div>#}

			{#<div class="col-md-6 bottommargin-sm">#}
				{#<label for="">Without Icon</label>#}
				{#<input type="text" class="form-control datetimepicker-input datetimepicker3 tleft" data-toggle="datetimepicker" data-target=".datetimepicker3" placeholder="00:00 AM/PM" />#}
			{#</div>#}

		</div>
	</div>
</form>

<!-- Date & Time Picker JS -->
<script src="{{ asset('canvas/js/components/moment.js') }}"></script>
<script src="{{ asset('canvas/js/components/datepicker.js') }}"></script>
<script src="{{ asset('canvas/js/components/timepicker.js') }}"></script>

<!-- Include Date Range Picker -->
<script src="{{ asset('canvas/js/components/daterangepicker.js') }}"></script>

<script>

	$(function() {
		$('.travel-date-group .default').datepicker({
			autoclose: true,
			startDate: "today",
		});

		$('.travel-date-group .today').datepicker({
			autoclose: true,
			startDate: "today",
			todayHighlight: true
		});

		$('.travel-date-group .past-enabled').datepicker({
			autoclose: true,
		});
		$('.travel-date-group .format').datepicker({
			autoclose: true,
			format: "dd-mm-yyyy",
		});

		$('.travel-date-group .autoclose').datepicker();

		$('.travel-date-group .disabled-week').datepicker({
			autoclose: true,
			daysOfWeekDisabled: "0"
		});

		$('.travel-date-group .highlighted-week').datepicker({
			autoclose: true,
			daysOfWeekHighlighted: "0"
		});

		$('.travel-date-group .mnth').datepicker({
			autoclose: true,
			minViewMode: 1,
			format: "mm/yy"
		});

		$('.travel-date-group .multidate').datepicker({
			multidate: true,
			multidateSeparator: " , "
		});

		$('.travel-date-group .input-daterange').datepicker({
			autoclose: true
		});

		$('.travel-date-group .inline-calendar').datepicker();

		$('.datetimepicker').datetimepicker({
			showClose: true
		});

		$('.datetimepicker1').datetimepicker({
			format: 'LT',
			showClose: true
		});

		$('.datetimepicker2').datetimepicker({
			inline: true,
			sideBySide: true
		});

		$('.datetimepicker3').datetimepicker();

	});

	$(function() {
		// .daterange1
		$(".daterange1").daterangepicker({
			"buttonClasses": "button button-rounded button-mini nomargin",
			"applyClass": "button-color",
			"cancelClass": "button-light"
		});

		// .daterange2
		$(".daterange2").daterangepicker({
			"opens": "center",
			timePicker: true,
			timePickerIncrement: 30,
			locale: {
				format: 'MM/DD/YYYY h:mm A'
			},
			"buttonClasses": "button button-rounded button-mini nomargin",
			"applyClass": "button-color",
			"cancelClass": "button-light"
		});

		// .daterange3
		$(".daterange3").daterangepicker({
				singleDatePicker: true,
				showDropdowns: true
			},
			function(start, end, label) {
				var years = moment().diff(start, 'years');
				alert("You are " + years + " years old.");
			});

		// reportrange
		function cb(start, end) {
			$(".reportrange span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		}
		cb(moment().subtract(29, 'days'), moment());

		$(".reportrange").daterangepicker({
			"buttonClasses": "button button-rounded button-mini nomargin",
			"applyClass": "button-color",
			"cancelClass": "button-light",
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			}
		}, cb);

		// .daterange4
		$(".daterange4").daterangepicker({
			autoUpdateInput: false,
			locale: {
				cancelLabel: 'Clear'
			},
			"buttonClasses": "button button-rounded button-mini nomargin",
			"applyClass": "button-color",
			"cancelClass": "button-light"
		});

		$(".daterange4").on('apply.daterangepicker', function(ev, picker) {
			$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
		});

		$(".daterange4").on('cancel.daterangepicker', function(ev, picker) {
			$(this).val('');
		});

	});

</script>
