<div class="col-md-6 bottommargin-sm">
	<label for="">{{ label }}</label>
	<div class="input-daterange input-group">
		<input type="text" value="" class="form-control tleft {{ parameter }}" placeholder="MM/DD/YYYY">
		<div class="input-group-prepend">
			<div class="input-group-text">to</div>
		</div>
		<input type="text" value="" class="form-control tleft {{ parameter }}" placeholder="MM/DD/YYYY">
	</div>
</div>
