<div class="postcontent nobottommargin clearfix">
	<div class="row">
		{% for radio in radios.options %}

			<div class="col-lg-4 col-6 bottommargin">
				<label>{{ radio.label }}:</label>
				<br>
				{{ canvas_component('radio',{ 'options': radio.options }) }}
			</div>

		{% endfor %}

		<div class="w-100 line"></div>

		<div class="col-12 bottommargin-lg">
			<label>On Color:</label>
			<br>
			<div class="row">
				{% for radio in radios.onColor %}
					<div class="col-md-2 col-6 mb-2">
						{{ canvas_component('radio',{ 'options': radio.options, 'onColor': radio.onColor }) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="w-100 line"></div>

		<div class="col-12 bottommargin-lg">
			<label>Off Color:</label>
			<br>
			<div class="row">
				{% for radio in radios.offColor %}
					<div class="col-md-2 col-6 mb-2">
						{{ canvas_component('radio',{ 'options': radio.options, 'offColor': radio.offColor }) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="w-100 line"></div>

		<div class="col-12 bottommargin-lg">
			<label>Custom Text:</label>
			<br>
			<div class="row">
				{% for radio in radios.customText %}
					<div class="col-lg-3">
						{{ canvas_component('radio',{ 'options': radio.options,'onColor': radio.onColor,'onText': radio.onText, 'offColor': radio.offColor, 'offText': radio.offText }) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="w-100 line"></div>

		<div class="col-12 bottommargin-lg">
			<label>Custom Icon:</label>
			<br>
			<div class="row">
				{% for radio in radios.customIcon %}
					<div class="col-md-2 col-6">
						{{ canvas_component('radio',{ 'options': radio.options,'onColor': radio.onColor,'onText': radio.onText, 'offColor': radio.offColor, 'offText': radio.offText }) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="w-100 line"></div>

		<div class="col-12 bottommargin-lg">
			<label>Custom Width:</label>
			<br>
			<div class="row">
				{% for radio in radios.customWidth %}
					<div class="col-lg-4 col-6">
						{{ canvas_component('radio',{ 'options': radio.options,'onColor': radio.onColor,'onText': radio.onText, 'offColor': radio.offColor, 'offText': radio.offText, 'width': radio.width }) }}
					</div>
				{% endfor %}
			</div>
		</div>


	</div>
	<div class="w-100 line"></div>

	<h3>Custom Toggles &amp; Switches</h3>

	<div class="row">
		<div class="col-lg-6">
			{% for switch in switches.round %}
				{{ canvas_component('switch', { 'id': 'round-' ~ loop.index, 'round': switch.round, 'size': switch.size  }) }}
			{% endfor %}
		</div>
		<div class="col-lg-6">
			{% for switch in switches.flat %}
				{{ canvas_component('switch', { 'id': 'round-' ~ loop.index, 'flat': switch.flat, 'size': switch.size  }) }}
			{% endfor %}
		</div>



		<div class="w-100 clear"></div>

		<div class="w-100 line"></div>

		{#<div class="col-12">#}
			{#<label>Switcher inside Modal:</label><br>#}

			{#{{ canvas_component('modal-button',{ 'modal': modal }) }}#}
			{#<!-- Modal -->#}
			{#{{ canvas_component('modal',{ 'modal': modal }) }}#}

		{#</div>#}

	</div>


</div>
