{#
# Radio Item
# params:
#		options: [], // unchecked, disabled, indeterminate, readonly, inverse, mini
#		onColor: string // primary, info, success, warning, default, danger, themecolor, black, white
#		offColor: string // primary, info, success, warning, default, danger, themecolor, black, white
#		onText: string // peut contenir du html pour les icones ex: <i class='icon-line-circle-cross'></i>
#		offText: string // peut contenir du html pour les icones ex: <i class='icon-line-circle-cross'></i>
#		width: int
#}

<input type="checkbox"
	   class="bt-switch"
	   {% if 'unchecked' not in options %}checked {% endif %}
	   {% if 'disabled' in options %}disabled {% endif %}
	   {% if 'indeterminate' in options %}data-indeterminate="true" {% endif %}
	   {% if 'readonly' in options %}readonly {% endif %}
	   {% if 'inverse' in options %}data-inverse="true" {% endif %}
	   {% if 'mini' in options %}data-size="mini" {% endif %}
	   {% if onColor is defined and onColor is not null %}data-on-color="{{ onColor }}" {% endif %}
	   {% if onText is defined and onText is not null %}data-on-text="{{ onText|html }}" {% endif %}
	   {% if offColor is defined and offColor is not null %}data-off-color="{{ offColor }}" {% endif %}
	   {% if offtext is defined and offText is not null %}data-off-text="{{ offText|html }}" {% endif %}
	   {% if width is defined and width is not null %}data-handle-width="{{ width }}" {% endif %}
>

