
{% set type = 'switch-toggle-round' %}
{% set typeSize = 'rounded' %}

{% if flat is defined %}
	{% set type = 'switch-toggle-flat' %}
	{% set typeSize = 'flat' %}
{% endif %}

<div class="switch">
	<input id="{{ id }}" class="switch-toggle {% if size is not same as('default') %}switch-{{ typeSize }}-{{ size }} {% endif %} {{ type }}" type="checkbox">
	<label for="{{ id }}"></label>
</div>
