{% if nbrColumns is not defined %}
	{% set nbrColumns = '6' %}
{% endif %}
{% if heightRows is not defined %}
	{% set heightRows = '100' %}
{% endif %}

{% if title is defined %}
	<div class="heading-block center">
		<h4>{{ title }}</h4>
	</div>
{% endif %}

<ul class="clients-grid grid-{{ nbrColumns }} nobottommargin clearfix">
	{% for item in list %}
		{% if item.link is defined %}
			{% set link = item.link %}
		{% else %}
			{% set link = '#' %}
		{% endif %}
		{% if item.imageUrl is defined %}
			{% set imageUrl = item.imageUrl %}
		{% else %}
			{% set imageUrl = '' %}
		{% endif %}
		{% if item.alt is defined %}
			{% set alt = item.alt %}
		{% else %}
			{% set alt = 'image' %}
		{% endif %}
		{% if item.text is defined %}
			{% set text = item.text %}
		{% else %}
			{% set text = '' %}
		{% endif %}
		<li><a href="{{ link }}" class='text-center'><img src="{{ imageUrl }}" alt="{{ alt }}" height="{{ heightRows }}">{{ text|html }}</a></li>
	{% endfor %}
</ul>
