<div class="col-lg-3">
	<div class="pricing-box {% if price.bestPrice is defined and price.bestPrice == true %}best-price"{% endif %}">
		<div class="pricing-title">
			<h3>{{ price.label|html }}</h3>
			{% if price.subLabel is defined %}
				<span>{{ price.subLabel|html }}</span>
			{% endif %}
		</div>
		<div class="pricing-price">
			{{ price.price|html }}
		</div>
		<div class="pricing-features">
			<ul>
				{% for feature in price.features %}
					<li>
						{{ feature|html }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="pricing-action">

			{% if price.action.css is not defined %}
				<a href="{{ price.action.href }}"
				   class="btn btn-{{ price.action.type }} btn-block btn-lg"
						{% if price.id is defined %} data-price-id="price_{{ price.id }}"{% endif %}>
					{{ price.action.label|html }}
				</a>
			{% else %}
				<a href="{{ price.action.href }}" class="{{ price.action.css }}"
						{% if price.id is defined %} data-price-id="{{ price.id }}"{% endif %}>
					{{ price.action.label|html }}
				</a>
			{% endif %}
			{% if price.id is defined %}
				<input
						type="radio" id="price_{{ price.id }}"
						class="d-none"
						{% if price.name is defined %}name="{{ price.name }}"{% endif %}
						{% if price.value is defined %}value="{{ price.value }}"{% endif %}
				>
			{% endif %}
		</div>
	</div>
</div>
{% if price.action.submit is defined and price.action.submit == true %}
	<script>
		$(function(){
			$('[data-price-id="price_{{ price.id }}"]').on("click", function(e){
				e.preventDefault();
				e.stopPropagation();
				let idButton = $(this).attr("data-price-id");
				$("#" + idButton ).trigger("click");
				$("form").submit();
			});
		});
	</script>
{% endif %}
