<div class="fancy-title title-dotted-border title-center">
	<h3>4 Columns</h3>
</div>
<div class="row pricing bottommargin clearfix">
	{% for price in prices  %}
		{% include('@SixnappsCanvasTemplate/components/pricing/4-columns-item.html.twig') %}
	{% endfor %}
</div>
