
	<ul id="portfolio-filter" class="portfolio-filter clearfix">
		<li class="activeFilter"><a href="#" data-filter="all">All</a></li>
		{% for onglet in onglets %}
			<li><a href="#" data-filter=".faq-{{ onglet.class }}">{{ onglet.libelle }}</a></li>
		{% endfor %}
	</ul>

	<div class="clear"></div>

	<div id="faqs" class="faqs">

		{% for question in questions %}
			<div class="toggle faq faq-{{ question.class }}">
				<div class="togglet"><i class="toggle-closed {{ question.icon }}"></i><i class="toggle-open {{ question.icon }}"></i>{{ question.libelle }}</div>
				<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
			</div>
		{% endfor %}

	</div>


