{% if columns is not defined %}
	{% set columns = 5 %}
{% endif %}
<div id="portfolio" class="portfolio portfolio-{{ columns }} portfolio-nomargin portfolio-full portfolio-notitle clearfix" {#style="margin-bottom: -80px !important;"#}>
	{% for item in list %}
		{% if item.previewUrl is defined %}{% set previewUrl = item.previewUrl %}{% else %}{% set previewUrl = '' %}{% endif %}
		{% if item.previewAlt is defined %}{% set previewAlt = item.previewAlt %}{% else %}{% set previewAlt = 'Image' %}{% endif %}
		{% if item.previewSlider is defined %}{% set previewSlider = item.previewSlider %}{% else %}{% set previewSlider = [] %}{% endif %}
		{% if item.title is defined %}{% set title = item.title %}{% else %}{% set title = 'title' %}{% endif %}
		{% if item.type is defined %}{% set type = item.type %}{% else %}{% set type = 'image' %}{% endif %}
		{% if item.link is defined %}{% set link = item.link %}{% else %}{% set link = '#' %}{% endif %}
		{% if item.icon is defined %}{% set icon = item.icon %}{% else %}{% set icon = 'line-plus' %}{% endif %}
		<article class="portfolio-item">
			<div class="portfolio-image" {% if globalStyle is defined %}style="{{ globalStyle }}"{% endif %}>

				{% if previewSlider is defined and previewSlider|length > 0 %}
					<div class="fslider" data-arrows="false" {% if item.sliderSpeed is defined %}data-speed="{{ item.sliderSpeed }}"{% endif %} {% if item.sliderPause is defined %}data-pause="{{ item.sliderPause }}"{% endif %} {% if item.sliderAnimation is defined %}data-animation="{{ item.sliderAnimation }}"{% endif %} {% if item.previewStyle is defined %}style="{{ item.previewStyle }}"{% endif %}>
						<div class="flexslider">
							<div class="slider-wrap">
								{% for slide in previewSlider %}
									{% if slide.previewUrl is defined %}
										<div class="slide">
											<a href="#">
												<img src="{{ slide.previewUrl }}" alt="{% if slide.previewAlt is defined %}{{ slide.previewAlt }}{% else %}{{ previewAlt }}{% endif %}">
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% else %}
					<a href="#">
						<img src="{{ previewUrl }}" alt="{{ previewAlt }}" {% if item.previewStyle is defined %} style="{{ item.previewStyle }}"{% endif %}>
					</a>
				{% endif %}

				{% if item.overlay is defined %}
					<div class="portfolio-overlay" {% if type == 'gallery' %}data-lightbox="gallery"{% endif %}>
						{% if type == 'gallery' %}{% set type = 'gallery-item' %}{% endif %}
						{% for element in item.overlay %}
							{% if element.urlMedia is defined %}{% set urlMedia = element.urlMedia %}{% else %}{% set urlMedia = '' %}{% endif %}
							<a href="{{ urlMedia }}" class="{% if loop.first == true %}left-icon{% else %}hidden{% endif %}" data-lightbox="{{ type }}">{% if loop.first == true %}<i class="icon-{{ icon }}"></i>{% endif %}</a>
						{% endfor %}
						<a href="{{ link }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
					</div>
				{% endif %}

			</div>
			<div class="portfolio-desc">
				<h3><a href="#">{{ title }}</a></h3>
				<span>

					{% if item.subLinks is defined %}
						{% for subLink in item.subLinks %}
							{% if subLink.title is defined %}{% set subTitle = subLink.title %}{% else %}{% set subTitle = 'subTitle' %}{% endif %}
							{% if subLink.link is defined %}{% set subLink = subLink.link %}{% else %}{% set subLink = '#' %}{% endif %}
							<a href="{{ subLink }}">{{ subTitle }}</a>{% if loop.last == false  %},{% endif %}
						{% endfor %}
					{% endif %}

				</span>
			</div>
		</article>
	{% endfor %}
</div><!-- #portfolio end -->
