{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
    {% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
    {{ canvas_component('title', {'title':'Images', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
    <div class="fancy-title title-dotted-border title-center">
        <h3>Image component 1</h3>
    </div>
    <div class="container clearfix mb-5">
        {{ canvas_component('documentation', {'component' : default('canvas_image').component_1 }) }}
        {{ canvas_component('image-component-1', {'component' : default('canvas_image').component_1 }) }}
    </div>

    <div class="fancy-title title-dotted-border title-center">
        <h3>Image component 2</h3>
    </div>
    <div class="container clearfix mb-5">
        {{ canvas_component('documentation', {'component' : default('canvas_image').component_2 }) }}
        {{ canvas_component('image-component-2', {'component' : default('canvas_image').component_2 }) }}
    </div>

    <div class="fancy-title title-dotted-border title-center">
        <h3>Image component 3 </h3>
    </div>
    <div class="container clearfix mb-5">
        {{ canvas_component('documentation', {'component' : default('canvas_image').component_3 }) }}
        {{ canvas_component('image-component-3', {'component' : default('canvas_image').component_3 }) }}
    </div>

{% endblock %}

{% block footer %}
    {% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
