{#
	Simple image with title, text and button submit
#}
<div class="d-flex align-items-center">
    <div class="nobottommargin mr-3">
        <img style="{% if component.imgWidth is defined %}width: {{ component.imgWidth }};{% endif %}"
                {% if component.img is defined %} src="{{ component.img }}" {% elseif component.imgFile is defined %} src="{{ component.img }}" {% endif %}
                {% if component.imgAlt is defined %}alt="{{ component.imgAlt }}"{% endif %}>
    </div>

    <div class="col_three_fifth nobottommargin">
        {% if component.title is defined %}
            <h4>{{ component.title|html }}</h4>
        {% endif %}
        <p>{{ component.content|html }}</p>
    </div>

    <div class="col_one_fifth nobottommargin col_last">
        <div class="col-md-12 d-flex justify-content-center flex-column">
            {% if component.textAboveButton is defined %}
                <h6 style="font-size: 1.2em;" class="mb-0 center">{{ component.textAboveButton|html }}</h6>
            {% endif %}
            <input class="button button-small" type="submit" name="{{ component.nameButton }}"
                   value="{{ component.valueButton }}">
        </div>
    </div>
</div>

