{#
	Simple image with text
#}
{% if component.img is defined and component.content is defined %}
    <div class="d-flex">
        <div class="nobottommargin mr-3">
            <img style="{% if component.imgWidth is defined %}width: {{ component.imgWidth }};{% endif %}"
                    {% if component.img is defined %} src="{{ component.img }}" {% elseif component.imgFile is defined %} src="{{ component.img }}" {% endif %}
                    {% if component.imgAlt is defined %}alt="{{ component.imgAlt }}"{% endif %}>
        </div>

        <div class="col_three_fifth nobottommargin col_last">
            <p>{{ component.content|html }}</p>
        </div>
    </div>
{% endif %}


