{#
    Simple image with title, text and button
#}
<div class="d-flex align-items-center">
    <div class="nobottommargin mr-3">
        <img style="{% if component.imgWidth is defined %}width: {{ component.imgWidth }};{% endif %}"
                {% if component.img is defined %} src="{{ component.img }}" {% elseif component.imgFile is defined %} src="{{ component.img }}" {% endif %}
                {% if component.imgAlt is defined %}alt="{{ component.imgAlt }}"{% endif %}>
    </div>

    <div class="col_three_fifth nobottommargin">
        {% if component.title is defined %}
            <h4>{{ component.title|html }}</h4>
        {% endif %}
        <p>{{ component.content|html }}</p>
    </div>

    <div class="col_one_fifth nobottommargin col_last">
        <div class="d-flex justify-content-center flex-column button-image">
            {% if component.textAboveButton is defined %}
                <h6 style="font-size: 1.2em;" class="mb-0 center">{{ component.textAboveButton|html }}</h6>
            {% endif %}
            {% if component.button is defined %}
                {% if component.button is not null %}
                    <a style="overflow: hidden;"
                       href="{% if component.buttonLink is defined %} {{ component.buttonLink }} {% elseif component.buttonRoute is defined and component.parametersRoute is not defined %} {{ path(component.buttonRoute) }} {% elseif component.buttonRoute is defined and component.parametersRoute is defined %} {{ path(component.buttonRoute,component.parametersRoute) }} {% endif %}"
                       class="button button-small center {% if component.cssClass is defined %}{{ component.cssClass }}{% endif %}">{{ component.button }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>