<div class="section nobottommargin">
	<div class="container clearfix">
		<div class="heading-block center nobottommargin nobottomborder">
			{% if title is defined %}<h3>{{ title }}</h3>{% endif %}
			{% if subTitle is defined %}<span>{{ subTitle }}</span>{% endif %}
		</div>
	</div>
</div>

{% if columns is not defined %}
	{% set columns = 5 %}
{% endif %}
{% if instagramId is not defined %}
	{% set instagramId = '5834720953' %}
{% endif %}
{% if imagesCount is not defined %}
	{% set imagesCount = '10' %}
{% endif %}

<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-{{ columns }} bottommargin-lg" data-user="{{ instagramId }}" data-count="{{ imagesCount }}" data-type="user"></div>
