<h4>{{ item.libelle }}</h4>

<p class="font-weight-bold">{{ item.rue }} <br>
{{ item.codePostal }} {{ item.ville }} {{ item.pays }}</p>

<p class="font-weight-bold"><i class="icon-phone"> : </i>{{ ' ' ~  item.telephone }}</p>

<p class="font-weight-bold"><i class="icon-email"> : </i>{{ ' ' ~  item.email }}</p>




