{% if item.route is defined %}
	{% set url = path(item.route) %}
{% elseif item.link is defined %}
	{% set url = item.link %}
{% else %}
	{% set url = "#" %}
{% endif %}

<div class="bottommargin-sm">
	<a href="{{ url }}">{{ item.libelle|html }}</a>
</div>

