{% if item.type|default('regular') == 'regular' %}

    <form class="bottommargin" action="{{ item.action|default('#') }}">
        <h4 class="nomargin">{{ item.libelle|default('Newsletter') }}</h4>
        <div class="input-group divcenter">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="icon-email2"></i></div>
            </div>
            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email"
                   class="form-control required email"
                   placeholder="{{ item.placeholder|default('Votre adresse email') }}">
            <div class="input-group-append">
                <button class="btn {% if item.dark is defined and item.dark %}btn-dark{% elseif item.customDark is defined and item.customDark %}custom-dark{% else %}btn-light{% endif %}"
                        type="submit">
                    {{ item.button_label|default("S'inscrire") }}
                </button>
            </div>
        </div>
    </form>
{% elseif item.type|default('regular') == 'mailchimp' %}
    {# Begin Mailchimp Signup Form #}
    <div id="mc_embed_signup">
        <p class="h5">{{ item.libelle|default('Newsletter') }}</p>
        <form action="{{ item.url|default('#') ~ '?u=' ~ item.u|default('ukey') ~ '&amp;id=' ~ item.id|default('id') }}"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate newsletter-form mt-1" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_{{ item.u|default('ukey') }}_{{ item.id|default('id') }}" tabindex="-1" value="">
                </div>
                <div class="input-group divcenter">
                    <input type="email" value="" name="EMAIL" placeholder="{{ item.placeholder|default('Votre adresse email') }}"
                           class="required email form-control" data-height="36px" id="mce-EMAIL">
                    <div class="input-group-append">
                        <button class="btn {% if item.dark is defined and item.dark %}btn-dark{% elseif item.customDark is defined and item.customDark %}custom-dark{% else %}btn-light{% endif %}"
                                type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                            {{ item.button_label|default("S'inscrire") }}
                        </button>


                    </div>
                </div>
            </div>
        </form>
    </div>
    {# End mc_embed_signup #}
{% endif %}
