{% if owner is not defined %}
    {% set owner = null %}
{% endif %}
{% if rows is not defined %}
    {% set rows = [] %}
{% endif %}
{% if rowsClass is not defined %}
    {% set  rowsClass = "col-3" %}
{% endif %}
<footer id="footer"
        class="{% if (dark is not defined and customDark is not defined) or (dark is defined and dark) %}dark{% elseif customDark is defined and customDark %}custom-dark{% endif %}">

    <div class="container-fluid">

        {# Footer Widgets #}
        <div class="footer-widgets-wrap clearfix row" style="padding: 20px 0 !important;">

            {% for row in rows %}

                {% if row.footer_title is defined and row.footer_title is not empty %}
                    {% set title = row.footer_title %}
                {% else %}
                    {% set title = '' %}
                {% endif %}

                {% if row.type is defined and row.type is not empty %}
                    {% set type = row.type %}
                {% else %}
                    {% set type = '' %}
                {% endif %}


                {% if row.parameter is defined and row.parameter is not empty %}
                    {% set parameter = row.parameter %}
                {% else %}
                    {% set parameter = '' %}
                {% endif %}

                {% if row.socials is defined and row.socials is not empty %}
                    {% set socials = row.socials %}
                {% else %}
                    {% set socials = '' %}
                {% endif %}

                {% if row.items is defined and row.items is not empty %}
                    {% set items = row.items %}
                {% else %}
                    {% set items = '#' %}
                {% endif %}

                {% if row.class is not defined %}
                    {% set rowClass = rowsClass %}
                {% else %}
                    {% set rowClass = row.class %}
                {% endif %}

                <div class="{{ rowClass }}">

                    <h2>{{ title }}</h2>
                    <hr>

                    <div class="clearfix"></div>

                    {% if type == 'contact' %}
                        {% if owner is not null %}
                            {% set contacts = [] %}
                            {% if owner.phone is defined %}
                                {% set contacts = contacts|merge(
                                    [ {
                                        'title': 'Téléphone',
                                        'body': owner.phone,
                                    } ]) %}
                            {% endif %}
                            {% if owner.email is defined %}
                                {% set contacts = contacts|merge(
                                    [ {
                                        'title': 'Email',
                                        'body': owner.email,
                                    } ]) %}
                            {% endif %}
                            {{ canvas_component('contact-info', { 'address': owner.address, 'contacts': contacts }) }}
                        {% else %}
                            {{ canvas_component('contact-info', { 'address': row.address, 'contacts': row.contacts }) }}
                        {% endif %}
                    {% elseif type == 'informations' %}
                        {% for item in items %}
                            {{ canvas_component('custom-link', { 'item': item }) }}
                        {% endfor %}
                    {% elseif type == 'newsletter' %}
                        {% for item in items %}
                            {{ canvas_component( 'custom-newsletter',  { 'item': item }) }}
                        {% endfor %}
                    {% elseif type == 'reseaux-sociaux' %}
                        {% if owner is not null %}
                            {% for key, item in owner.social_media %}
                                {{ canvas_component('social-icon', { 'icon': key, 'link': item, 'options': parameter, 'route': '#'  }) }}
                            {% endfor %}
                        {% else %}
                            {% for social in socials %}

                                {% if social.label is defined and social.label is not empty %}
                                    {% set icon = social.label %}
                                {% else %}
                                    {% set icon = '' %}
                                {% endif %}

                                {% if social.link is defined and social.link is not empty %}
                                    {% set link = social.link %}
                                {% else %}
                                    {% set link = '#' %}
                                {% endif %}

                                {% if social.route is defined and social.route is not empty %}
                                    {% set route = social.route %}
                                {% else %}
                                    {% set route = '#' %}
                                {% endif %}
                                {{ canvas_component('social-icon', { 'icon': icon, 'link': link, 'options': parameter, 'route': route  }) }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>

            {% endfor %}

        </div>
        {# footer-widgets-wrap end #}

    </div>

</footer>
{# footer end #}
