<footer id="footer" class="dark">

	<div class="container">

		<!-- Footer Widgets
		============================================= -->
		<div class="footer-widgets-wrap clearfix">

			<div class="col_one_third">

				<div class="widget clearfix">

					{% if logoImgUrl is defined %}<img src="{{ logoImgUrl }}" alt="logo" class="footer-logo" width="75">{% endif %}

					{% if message is defined %}<p>{{ message|html }}</p>{% endif %}

					<div {% if bgAddressUrl is defined %}style="background: url('{{ bgAddressUrl }}') no-repeat center center; background-size: 100%;"{% endif %}>
						{% if address is defined and contacts is defined %}{{ canvas_component('contact-info', {'address': address, 'contacts': contacts }) }}{% endif %}
					</div>

				</div>

			</div>

			<div class="col_one_third">

				<div class="widget clearfix">
					{% if testimonials is defined %}{{ canvas_component('testimonials', testimonials) }}{% endif %}
				</div>

				<div class="widget clearfix">
					{% if socials is defined %}
						{{ canvas_component('social-icons', {'socials': socials }) }}
					{% endif %}
				</div>

			</div>

			<div class="col_one_third col_last">

				<div class="widget quick-contact-widget clearfix">

					<h4>Send Message</h4>

					<div class="quick-contact-form-result"></div>

					<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

						<div class="form-process"></div>

						<div class="input-group divcenter">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="icon-user"></i></div>
							</div>
							<input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
						</div>
						<div class="input-group divcenter">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="icon-email2"></i></div>
							</div>
							<input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
						</div>
						<textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
						<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
						<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Send Email</button>

					</form>

				</div>

			</div>

		</div><!-- .footer-widgets-wrap end -->

	</div>

	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
			</div>

			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<div class="copyrights-menu copyright-links nobottommargin">
						<a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
					</div>
				</div>
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->
