<div class="widget clearfix">
	<div class="widget noborder notoppadding">
		{% for social in socials.list %}

			{% if social.link is defined %}
				{% set link = social.link %}
			{% else %}
				{% set link = '#' %}
			{% endif %}

			{% if social.name is defined %}
				{% set name = social.name %}
			{% else %}
				{% set name = '' %}
			{% endif %}

			<a href="{{ social.link }}" class="social-icon {% if socials.class is defined %}{{ socials.class }}{% else %}si-small si-dark{% endif %} si-{{ social.name|lower }}">
				<i class="icon-{{ social.name|lower }}"></i>
				<i class="icon-{{ social.name|lower }}"></i>
			</a>
		{% endfor %}
	</div>
</div>
