{% if title is not defined %}
	{% set title = 'Title' %}
{% endif %}
{% if subTitle is not defined %}
	{% set subTitle = '' %}
{% endif %}
{% if button is defined %}
	{% if button.link is defined %}
		{% set buttonLink = button.link %}
	{% else %}
		{% set buttonLink = '#' %}
	{% endif %}
	{% if button.label is defined %}
		{% set buttonLabel = button.label %}
	{% else %}
		{% set buttonLabel= 'submit' %}
	{% endif %}
{% endif %}

<div class="promo promo-light bottommargin">
	<h3>{{ title|html }}</h3>
	<span>{{ subTitle|html }}</span>
	<a href="{{ buttonLink }}" class="button button-xlarge button-rounded">{{ buttonLabel }}</a>
</div>
