{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Title', 'subTitle': 'A Start Page', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="divcenter" style="max-width:500px">
			<div class="card topmargin bottommargin">
				<div class="card-body">
					{{ canvas_component('login-fosuser', {csrf_token: csrf_token, error: error, send_password: true}) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


