/* ----------------------------------------------------------------
	CUustom Dark Scheme
-----------------------------------------------------------------*/

{% set primary = colors.light_primary %}
{% set primaryDark = colors.dark_primary %}
{% set titleDark = colors.dark_title %}
{% set textDark = colors.dark_text %}
{% set inputDark = colors.dark_input %}


.custom-dark,
.custom-dark h1,
.custom-dark h2,
.custom-dark h3,
.custom-dark h4,
.custom-dark h5,
.custom-dark h6 {
    color: {{ titleDark|raw }};
}

.custom-dark p {
    color: {{ textDark|raw }};
}

.custom-dark a:hover {
    color: {{ titleDark|raw }};
}

body.custom-dark,
.custom-dark #wrapper,
.custom-dark #content,
.custom-dark .shop-quick-view-ajax,
.custom-dark .portfolio-ajax-modal,
.custom-dark .modal-content,
.custom-dark .css3-spinner,
body.custom-dark #side-panel,
body #side-panel.custom-dark {
    background-color: #383838;
}

.custom-dark .css3-spinner > div,
.custom-dark .css3-spinner-grid-pulse > div,
.custom-dark .css3-spinner-ball-rotate > div,
.custom-dark .css3-spinner-zig-zag > div,
.custom-dark .css3-spinner-ball-scale-multiple > div,
.custom-dark .css3-spinner-triangle-path > div,
.custom-dark .css3-spinner-ball-pulse-sync > div {
    background-color: rgba(4, 15, 61, 0.35);
}


.custom-dark .css3-spinner-clip-rotate > div,
.custom-dark .css3-spinner-scale-ripple > div {
    border-color: rgba(4, 15, 61, 0.35);
}

.custom-dark .line,
.custom-dark .double-line {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .section,
.section.custom-dark {
    background-color: {{ primaryDark|raw }};
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark #top-bar,
#top-bar.custom-dark {
    border-bottom-color: rgba(4, 15, 61, 0.1);
    background-color: {{ primaryDark|raw }};
}

.custom-dark .top-links ul li {
    border-left-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .top-links li > a {
    color: #AAA;
}

.custom-dark .top-links li:hover {
    background-color: {{ primaryDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.custom-dark .top-links ul ul,
.custom-dark .top-links ul div.top-link-section {
    background: {{ primaryDark|raw }};
    border-bottom: none;
}

.custom-dark .top-links ul ul li {
    border-top: 1px solid #444;
    border-left: 1px solid #444;
}

.custom-dark .top-links ul ul li:hover {
    background-color: #383838;
}

.custom-dark .top-links ul ul li:first-child {
    border-left: 1px solid #444;
}

.custom-dark #top-social li {
    border-left: 1px solid rgba(4, 15, 61, 0.1);
}

.custom-dark #top-social li a {
    color: #BBB;
}

.custom-dark #header:not(.transparent-header),
#header.custom-dark:not(.transparent-header) {
    background-color: {{ primaryDark|raw }};
    border-bottom: 1px solid rgba(4, 15, 61, 0.05);
}

.custom-dark #header.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
.custom-dark #header.sticky-header.transparent-header #header-wrap:not(.not-dark),
.custom-dark #header.transparent-header.floating-header .container,
.custom-dark #header.transparent-header.floating-header.sticky-header .container,
#header.custom-dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
#header.custom-dark.sticky-header.transparent-header #header-wrap:not(.not-dark),
#header.custom-dark.transparent-header.floating-header .container,
#header.custom-dark.transparent-header.floating-header.sticky-header .container,
.custom-dark .responsive-sticky-header #header-wrap,
.responsive-sticky-header.custom-dark #header-wrap {
    background-color: {{ primaryDark|raw }};
}

.custom-dark #header.full-header #header-wrap:not(.not-dark),
#header.full-header.custom-dark #header-wrap:not(.not-dark) {
    border-bottom-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .slider-element + #header.full-header #header-wrap:not(.not-dark),
.slider-element + #header.full-header.custom-dark #header-wrap:not(.not-dark) {
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark),
#header.transparent-header.full-header.custom-dark:not(.sticky-header) #header-wrap:not(.not-dark) {
    border-bottom-color: rgba(4, 15, 61, 0.2);
}

.custom-dark .slider-element + #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark),
.slider-element + #header.transparent-header.full-header.custom-dark:not(.sticky-header) #header-wrap:not(.not-dark) {
    border-top-color: rgba(4, 15, 61, 0.2);
}

.custom-dark #header.semi-transparent,
.custom-dark #header.semi-transparent.floating-header .container,
#header.custom-dark.semi-transparent,
#header.custom-dark.semi-transparent.floating-header .container {
    background-color: rgba(0, 0, 0, 0.6);
}

.custom-dark #header.sticky-header.semi-transparent,
.custom-dark #header.semi-transparent.floating-header,
.custom-dark #header.semi-transparent.floating-header.sticky-header .container,
#header.custom-dark.sticky-header.semi-transparent,
#header.custom-dark.semi-transparent.floating-header,
#header.custom-dark.semi-transparent.floating-header.sticky-header .container {
    background-color: transparent;
}

.custom-dark #header.semi-transparent.sticky-header #header-wrap,
#header.custom-dark.semi-transparent.sticky-header #header-wrap {
    background-color: rgba(0, 0, 0, 0.6);
}

.custom-dark #logo a {
    color: {{ textDark|raw }};
}

.custom-dark #header.full-header #header-wrap:not(.not-dark) #logo,
#header.full-header.custom-dark #header-wrap:not(.not-dark) #logo {
    border-right-color: rgba(4, 15, 61, 0.15);
}

.custom-dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark) #logo,
#header.transparent-header.full-header.custom-dark:not(.sticky-header) #header-wrap:not(.not-dark) #logo {
    border-right-color: rgba(4, 15, 61, 0.2);
}


.custom-dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a,
.custom-dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li > a,
.custom-dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li > a,
.overlay-menu #primary-menu.custom-dark > ul > li > a,
.custom-dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > #overlay-menu-close,
.overlay-menu #primary-menu.custom-dark > #overlay-menu-close,
.custom-dark #header-wrap:not(.not-dark) #top-search a,
.custom-dark #header-wrap:not(.not-dark) #top-cart a,
.custom-dark #header-wrap:not(.not-dark) #side-panel-trigger a,
.custom-dark #header-wrap:not(.not-dark) #top-account a,
.custom-dark #header-wrap:not(.not-dark) #top-lock a,
.custom-dark #top-cart .top-cart-item-desc a,
body.top-search-open .custom-dark #header-wrap:not(.not-dark) #top-search a,
.custom-dark #header-wrap:not(.not-dark) #top-search a:hover,
.custom-dark #header-wrap:not(.not-dark) #top-cart a:hover,
.custom-dark #header-wrap:not(.not-dark) #side-panel-trigger a:hover,
.custom-dark #header-wrap:not(.not-dark) #top-account a:hover,
.custom-dark #header-wrap:not(.not-dark) #top-search form input {
    color: {{ titleDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark #header.full-header #header-wrap:not(.not-dark) #primary-menu > ul,
#header.full-header.custom-dark #header-wrap:not(.not-dark) #primary-menu > ul {
    border-right-color: rgba(4, 15, 61, 0.15);
}

.custom-dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark) #primary-menu > ul,
#header.transparent-header.full-header.custom-dark:not(.sticky-header) #header-wrap:not(.not-dark) #primary-menu > ul {
    border-right-color: rgba(4, 15, 61, 0.2);
}

.custom-dark #header.transparent-header:not(.sticky-header) #header-wrap:not(.not-dark) form input,
#header.custom-dark.transparent-header:not(.sticky-header) #header-wrap:not(.not-dark) form input {
    border-bottom-color: rgba(4, 15, 61, 0.15) !important;
}

.custom-dark #header-wrap:not(.not-dark) #top-search form input::-moz-placeholder {
    color: rgba(4, 15, 61, 0.6);
}

.custom-dark #header-wrap:not(.not-dark) #top-search form input:-ms-input-placeholder {
    color: rgba(4, 15, 61, 0.6);
}

.custom-dark #header-wrap:not(.not-dark) #top-search form input::-webkit-input-placeholder {
    color: rgba(4, 15, 61, 0.6);
}

.custom-dark #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a,
.custom-dark #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a,
.custom-dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li:hover > a,
.custom-dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li.current > a {
    color: {{ titleDark|raw }};
}

.custom-dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a,
.custom-dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a,
.overlay-menu #primary-menu.custom-dark > ul > li:hover > a,
.overlay-menu #primary-menu.custom-dark > ul > li.current > a {
    color: {{ primary|raw }} !important;
}

.custom-dark #primary-menu:not(.not-dark) ul ul,
.custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
#primary-menu.custom-dark ul ul,
#primary-menu.custom-dark ul li .mega-menu-content {
    background-color: {{ primaryDark|raw }};
    border-color: #3F3F3F;
    border-top-color: {{ primary|raw }};
}

.custom-dark.overlay-menu #primary-menu:not(.not-dark) ul,
.custom-dark.overlay-menu #primary-menu:not(.not-dark) ul,
.overlay-menu #primary-menu.custom-dark ul,
.overlay-menu #primary-menu.custom-dark ul {
    background-color: rgba(0, 0, 0, 0.9);
}

.custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2,
#primary-menu.custom-dark ul li .mega-menu-content.style-2 {
    border-color: transparent;
    border-top-color: {{ primary|raw }};
}

.custom-dark #primary-menu:not(.not-dark) ul ul li,
#primary-menu.custom-dark ul ul li {
    border-top-color: #3F3F3F;
}

.custom-dark #primary-menu:not(.not-dark) ul ul li:first-child,
#primary-menu.custom-dark ul ul li:first-child {
    border-top: 0;
}

.custom-dark #primary-menu:not(.not-dark) ul ul li > a,
#primary-menu.custom-dark ul ul li > a {
    color: {{ inputDark|raw }} !important;
}

.custom-dark #primary-menu:not(.not-dark) ul ul li:hover > a,
#primary-menu.custom-dark ul ul li:hover > a {
    background-color: rgba(0, 0, 0, 0.1);
    color: {{ textDark|raw }} !important;
}

.custom-dark #primary-menu:not(.not-dark) ul ul > li.sub-menu > a,
.custom-dark #primary-menu:not(.not-dark) ul ul > li.sub-menu:hover > a,
#primary-menu.custom-dark ul ul > li.sub-menu > a,
#primary-menu.custom-dark ul ul > li.sub-menu:hover > a {
    background-image: url("../images/icons/submenu-dark.png");
}

.custom-dark #primary-menu ul li .mega-menu-content ul.mega-menu-column:not(:first-child),
#primary-menu.custom-dark ul li .mega-menu-content ul.mega-menu-column:not(:first-child) {
    border-left-color: #3F3F3F;
}

.custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a,
.custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a,
#primary-menu.custom-dark ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a,
#primary-menu.custom-dark ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a {
    color: #BBB !important;
    background: transparent;
}

.custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover,
#primary-menu.custom-dark ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover {
    color: {{ textDark|raw }} !important;
}


.custom-dark #primary-menu.style-2:not(.not-dark) {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark #primary-menu.style-3:not(.not-dark) > ul > li:hover > a,
#primary-menu.custom-dark.style-3 > ul > li:hover > a {
    color: {{ titleDark|raw }};
    background-color: rgba(4, 15, 61, 0.05);
}

.custom-dark #primary-menu.style-3:not(.not-dark) > ul > li.current > a,
#primary-menu.custom-dark.style-3 > ul > li.current > a {
    color: {{ titleDark|raw }};
}

.custom-dark #primary-menu.style-5:not(.not-dark) > ul,
#primary-menu.custom-dark.style-5 > ul {
    border-right-color: rgba(4, 15, 61, 0.1);
}

.custom-dark #primary-menu.sub-title:not(.not-dark) > ul > li > a span,
#primary-menu.custom-dark.sub-title > ul > li > a span {
    color: {{ inputDark|raw }};
}

.custom-dark #primary-menu.sub-title:not(.not-dark) > ul > li:hover > a span,
.custom-dark #primary-menu.sub-title:not(.not-dark) > ul > li.current > a span,
.custom-dark #primary-menu.sub-title.style-2:not(.not-dark) > div > ul > li:hover > a span,
.custom-dark #primary-menu.sub-title.style-2:not(.not-dark) > div > ul > li.current > a span,
#primary-menu.custom-dark.sub-title > ul > li:hover > a span,
#primary-menu.custom-dark.sub-title > ul > li.current > a span,
#primary-menu.custom-dark.sub-title.style-2 > div > ul > li:hover > a span,
#primary-menu.custom-dark.sub-title.style-2 > div > ul > li.current > a span {
    color: {{ titleDark|raw }};
}


.custom-dark #top-cart .top-cart-content {
    background-color: {{ primaryDark|raw }};
    border-color: #3F3F3F;
    border-top-color: {{ primary|raw }};
}

.custom-dark .top-cart-title {
    border-bottom-color: #3F3F3F;
}

.custom-dark .top-cart-item {
    border-top-color: #3F3F3F;
}

.custom-dark .top-cart-item-image {
    border-color: #444;
}

.custom-dark .top-cart-item-image:hover {
    border-color: {{ primary|raw }};
}

.custom-dark .top-cart-item-desc a:hover {
    color: {{ primary|raw }} !important;
}

.custom-dark .top-cart-item-desc span.top-cart-item-price {
    color: #AAA;
}

.custom-dark .top-cart-item-desc span.top-cart-item-quantity {
    color: #888;
}

.custom-dark .top-cart-action {
    border-top-color: #3F3F3F;
}

.custom-dark .one-page-arrow,
.one-page-arrow.custom-dark {
    color: {{ textDark|raw }};
}


.custom-dark.side-header #header {
    background-color: {{ primaryDark|raw }};
    border-right-color: #3F3F3F;
}

.custom-dark.side-header #logo:not(.nobottomborder):after,
.custom-dark.side-header #primary-menu:not(.nobottomborder):after {
    border-bottom-color: #3F3F3F;
}

.custom-dark.side-header #primary-menu:not(.not-dark) > ul > li > a,
.custom-dark.side-header #primary-menu ul ul li:hover > a {
    color: {{ textDark|raw }} !important;
}

.custom-dark.side-header.open-header #header-trigger {
    background-color: rgba(0, 0, 0, 0.3);
    color: {{ titleDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark.side-header.side-header-right #header {
    border-left-color: #3F3F3F;
}

.custom-dark.side-header #primary-menu ul ul a {
    color: #AAA !important;
}

.custom-dark .swiper-pagination span {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .swiper-pagination span:hover,
.custom-dark .swiper-pagination span.swiper-pagination-bullet-active {
    background-color: {{ primaryDark|raw }} !important;
}


.custom-dark .slider-caption,
.custom-dark .slider-caption h2 {
    color: {{ titleDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.not-dark .slider-caption,
.not-dark .slider-caption h2 {
    color: #222;
    text-shadow: none;
}

.custom-dark .ei-title h2,
.custom-dark .ei-title h3,
.custom-dark .ei-title h2 span,
.custom-dark .ei-title h3 span {
    color: {{ titleDark|raw }} !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.not-dark .ei-title h2,
.not-dark .ei-title h3,
.not-dark .ei-title h2 span,
.not-dark .ei-title h3 span {
    color: #222 !important;
    text-shadow: none;
}

.custom-dark #page-title {
    background-color: {{ primaryDark|raw }};
    border-bottom-color: #3F3F3F;
}

.custom-dark #page-title h1 {
    color: rgba(4, 15, 61, 0.9) !important;
}

.custom-dark #page-title span {
    color: rgba(4, 15, 61, 0.7);
}

.custom-dark .breadcrumb a {
    color: #BBB;
}

.custom-dark .breadcrumb a:hover {
    color: {{ titleDark|raw }};
}

.custom-dark #page-title.page-title-pattern {
    background-image: url('../images/pattern2.png');
}


.custom-dark .portfolio-filter {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-filter li a {
    color: {{ inputDark|raw }};
    border-left-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-filter li a:hover {
    color: {{ titleDark|raw }};
}

.custom-dark .portfolio-shuffle {
    color: {{ inputDark|raw }};
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-filter li.activeFilter a,
.custom-dark .portfolio-shuffle:hover {
    color: {{ textDark|raw }};
}

.custom-dark .portfolio-desc h3 a {
    color: {{ titleDark|raw }};
}

.custom-dark .portfolio-desc h3 a:hover {
    color: #BBB;
}

.custom-dark .portfolio-desc span {
    color: #888;
}

.custom-dark .portfolio-desc span a {
    color: #888;
}

.custom-dark .portfolio-desc span a:hover {
    color: {{ textDark|raw }};
}

.custom-dark .portfolio-notitle .portfolio-desc {
    background-color: {{ primaryDark|raw }};
    border-bottom: 1px solid rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-1 .portfolio-item {
    border-bottom-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-1.portfolio-fullwidth .portfolio-desc {
    background-color: {{ primaryDark|raw }};
}

.custom-dark .portfolio-overlay a {
    background-color: rgba(0, 0, 0, 0.5);
    color: {{ textDark|raw }};
}

.custom-dark .portfolio-overlay a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.custom-dark .ajax-modal-title {
    background-color: {{ primaryDark|raw }};
    border-bottom-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .portfolio-meta li {
    color: {{ inputDark|raw }};
}

.custom-dark .portfolio-meta li span {
    color: #BBB;
}

.custom-dark .well .line {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark #portfolio-navigation a {
    color: #BBB;
}

.custom-dark #portfolio-navigation a:hover {
    color: {{ titleDark|raw }};
}

.custom-dark .entry {
    border-bottom-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .entry-title h2 a,
.custom-dark .ipost .entry-title h3 a,
.custom-dark .ipost .entry-title h4 a {
    color: {{ titleDark|raw }};
}

.custom-dark .entry-title h2 a:hover,
.custom-dark .ipost .entry-title h3 a:hover,
.custom-dark .ipost .entry-title h4 a:hover {
    color: #BBB;
}

.custom-dark .entry-meta li {
    border-left-color: rgba(4, 15, 61, 0.08);
    color: #888;
}

.custom-dark .entry-meta li a {
    color: #888;
}

.custom-dark .entry-meta li a:hover {
    color: {{ textDark|raw }};
}

.custom-dark .entry-link {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .post-masonry-full .entry {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .timeline-border {
    border-left-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .post-timeline .entry-timeline {
    border-color: rgba(4, 15, 61, 0.1);
    background-color: rgba(4, 15, 61, 0.08);
    color: #AAA;
}

.custom-dark .post-timeline .entry.entry-date-section span {
    border-color: rgba(4, 15, 61, 0.1);
    background-color: {{ primaryDark|raw }};
}

.custom-dark .post-timeline .entry-timeline div.timeline-divider {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .post-timeline .entry:hover .entry-timeline,
.custom-dark .post-timeline .entry:hover .timeline-divider {
    border-color: {{ primary|raw }};
    color: {{ primary|raw }};
}

.custom-dark .spost,
.custom-dark .mpost {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .spost .entry-image a i,
.custom-dark .mpost .entry-image a i {
    color: {{ textDark|raw }};
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .spost .entry-title h4 a,
.custom-dark .mpost .entry-title h4 a {
    color: #BBB;
}

.custom-dark .spost .entry-title h4 a:hover,
.custom-dark .mpost .entry-title h4 a:hover {
    color: {{ inputDark|raw }};
}

.custom-dark .spost .entry-meta li,
.custom-dark .mpost .entry-meta li {
    border-left-color: #666;
}

.custom-dark .spost .entry-meta li a,
.custom-dark .mpost .entry-meta li a,
.custom-dark .testimonial.twitter-scroll .testi-meta span a {
    color: #AAA;
}

.custom-dark .spost .entry-meta li a:hover,
.custom-dark .mpost .entry-meta li a:hover,
.custom-dark .testimonial.twitter-scroll .testi-meta span a:hover {
    color: #888;
}

.custom-dark #comments {
    border-top-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .commentlist {
    border-bottom-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .comment-wrap {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .comment-avatar {
    background: rgba(4, 15, 61, 0.08);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .comment-content .comment-author {
    color: {{ textDark|raw }};
}

.custom-dark .comment-content .comment-author a {
    color: #BBB;
}

.custom-dark .comment-content .comment-author a:hover {
    color: {{ titleDark|raw }};
}

.custom-dark .review-comment-ratings {
    color: {{ textDark|raw }};
}

.custom-dark .comment-reply-link:hover {
    color: #888;
}

.custom-dark p.wp-caption-text {
    background-color: rgba(0, 0, 0, 0.2);
}


.custom-dark .product-title h3 a,
.custom-dark .single-product .product-title h2 a {
    color: {{ titleDark|raw }};
}

.custom-dark .product-title h3 a:hover,
.custom-dark .single-product .product-title h2 a:hover {
    color: #BBB;
}

.custom-dark .product-price {
    color: #BBB;
}

.custom-dark .product-overlay a {
    color: {{ titleDark|raw }};
    background-color: rgba(0, 0, 0, 0.8);
    border-right-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .product-overlay a:last-child {
    border-right: 0;
}

.custom-dark .product-overlay a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.custom-dark .bothsidebar .product-1 .product {
    border-top-color: rgba(4, 15, 61, 0.08);
}


.custom-dark .quantity .qty {
    border-left-color: rgba(4, 15, 61, 0.08);
    border-right-color: rgba(4, 15, 61, 0.08);
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .quantity .plus,
.custom-dark .quantity .minus {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .quantity .plus:hover,
.custom-dark .quantity .minus:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-dark .product-meta {
    color: #888;
}

.custom-dark .cart .remove {
    color: #BBB;
}

.custom-dark .cart .remove:hover {
    color: {{ titleDark|raw }};
}

.custom-dark .cart th {
    color: {{ textDark|raw }};
}

.custom-dark .cart td {
    border-color: rgba(4, 15, 61, 0.08) !important;
}

.custom-dark .cart-product-thumbnail img {
    border-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .cart-product-thumbnail img:hover {
    border-color: {{ primary|raw }};
}

.custom-dark .cart-product-name a,
.custom-dark .product-name a {
    color: {{ titleDark|raw }};
}

.custom-dark .cart-product-name a:hover,
.custom-dark .product-name a:hover {
    color: #BBB;
}

.custom-dark td.actions {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .events .entry,
.custom-dark .ievent {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.custom-dark .countdown-section {
    color: {{ textDark|raw }};
    border-left-color: rgba(4, 15, 61, 0.2);
}

.custom-dark .countdown-amount,
.custom-dark .rounded-skill {
    color: {{ titleDark|raw }};
}

.custom-dark .button-dark:not(.button-border),
.custom-dark .button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-dark .button-dark:hover {
    background-color: {{ primary|raw }};
}

.custom-dark .button-light:not(.button-border):hover {
    background-color: {{ primaryDark|raw }};
}

.custom-dark .button.button-border:not(.button-light) {
    border-color: rgba(4, 15, 61, 0.4);
    color: rgba(4, 15, 61, 0.5);
}

.custom-dark .button.button-border:not(.button-light):hover {
    color: {{ titleDark|raw }};
}

.not-dark .button.button-border:not(.button-light) {
    border-color: #444;
    color: {{ primaryDark|raw }};
}

.not-dark .button.button-border:not(.button-light):hover {
    background-color: #444;
    color: {{ textDark|raw }};
}

.custom-dark .promo > span,
.custom-dark .promo > .container > span {
    color: rgba(4, 15, 61, 0.8);
}

.custom-dark .promo.promo-border {
    border-color: rgba(4, 15, 61, 0.08);
}

.custom-dark .promo.promo-light {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .promo.promo-dark:not(.promo-flat) {
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-dark .feature-box h3 {
    color: {{ textDark|raw }};
}

.custom-dark .feature-box p {
    color: #888;
}

.custom-dark .feature-box.fbox-light.fbox-outline .fbox-icon {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .feature-box.fbox-light .fbox-icon i,
.custom-dark .feature-box.fbox-light .fbox-icon img {
    border-color: rgba(4, 15, 61, 0.1);
    background-color: rgba(4, 15, 61, 0.1);
    color: {{ textDark|raw }};
}

.custom-dark .feature-box.fbox-dark.fbox-outline .fbox-icon {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .feature-box.fbox-dark .fbox-icon i,
.custom-dark .feature-box.fbox-dark .fbox-icon img {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .feature-box.fbox-border.fbox-light .fbox-icon,
.custom-dark .feature-box.fbox-border.fbox-dark .fbox-icon {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .feature-box.fbox-border.fbox-light .fbox-icon i,
.custom-dark .feature-box.fbox-border.fbox-light .fbox-icon img,
.custom-dark .feature-box.fbox-border.fbox-dark .fbox-icon i,
.custom-dark .feature-box.fbox-border.fbox-dark .fbox-icon img,
.custom-dark .feature-box.fbox-plain.fbox-light .fbox-icon i,
.custom-dark .feature-box.fbox-plain.fbox-light .fbox-icon img,
.custom-dark .feature-box.fbox-plain.fbox-dark .fbox-icon i,
.custom-dark .feature-box.fbox-plain.fbox-dark .fbox-icon img {
    color: {{ textDark|raw }};
}

.custom-dark .feature-box h3 span.subtitle {
    color: #AAA;
}

.custom-dark .feature-box.fbox-bg.fbox-center,
.custom-dark .feature-box.media-box.fbox-bg .fbox-desc {
    background-color: #383838;
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .feature-box.fbox-bg.fbox-center.fbox-plain .fbox-icon,
.custom-dark .feature-box.fbox-bg.fbox-center.fbox-border .fbox-icon,
.custom-dark .feature-box.fbox-bg.fbox-center.fbox-outline .fbox-icon {
    background-color: #383838 !important;
}

.custom-dark .feature-box.fbox-bg.fbox-center.fbox-light .fbox-icon i {
    background-color: #444 !important;
}

.custom-dark .fbox-effect .fbox-icon i:after {
    box-shadow: 0 0 0 2px #494949;
}

.custom-dark .fbox-effect .fbox-icon i:hover,
.custom-dark .fbox-effect:hover .fbox-icon i {
    background-color: #494949;
}

.custom-dark .fbox-effect.fbox-dark .fbox-icon i:after {
    box-shadow: 0 0 0 2px{{ primary|raw }};
}

.custom-dark .fbox-effect.fbox-dark .fbox-icon i:hover,
.custom-dark .fbox-effect.fbox-dark:hover .fbox-icon i {
    background-color: {{ primary|raw }};
}

.custom-dark .fbox-border.fbox-effect .fbox-icon i:hover,
.custom-dark .fbox-border.fbox-effect:hover .fbox-icon i {
    box-shadow: 0 0 0 1px #494949;
}

.custom-dark .fbox-border.fbox-effect .fbox-icon i:after {
    background-color: #494949;
}

.custom-dark .fbox-border.fbox-effect.fbox-dark .fbox-icon i:hover,
.custom-dark .fbox-border.fbox-effect.fbox-dark:hover .fbox-icon i {
    box-shadow: 0 0 0 1px{{ primary|raw }};
}

.custom-dark .fbox-border.fbox-effect.fbox-dark .fbox-icon i:after {
    background-color: {{ primary|raw }};
}

.custom-dark .process-steps li .i-bordered {
    background-color: #494949;
}

.custom-dark .process-steps li:before,
.custom-dark .process-steps li:after,
.custom-dark .feature-box.fbox-center:not(.fbox-bg) h3:after {
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .heading-block:not(.not-dark):after {
    border-top-color: rgba(4, 15, 61, 0.4);
}

.custom-dark .style-msg2 {
    border-left: 4px solid rgba(0, 0, 0, 0.3);
}

.custom-dark .style-msg .sb-msg,
.custom-dark .style-msg2 .msgtitle,
.custom-dark .style-msg2 .sb-msg {
    border-left-color: rgba(4, 15, 61, 0.1);
}


.custom-dark .i-rounded,
.custom-dark .i-circled,
.custom-dark .i-bordered {
    background-color: #494949;
}

.custom-dark .i-bordered {
    border-color: {{ textDark|raw }};
    color: {{ textDark|raw }};
}

.custom-dark .i-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: none;
}

.custom-dark .i-rounded:hover,
.custom-dark .i-circled:hover {
    background-color: {{ primary|raw }};
    color: {{ textDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.custom-dark .i-bordered:hover {
    background-color: #444;
    color: {{ textDark|raw }};
    border-color: #444;
}

.custom-dark .i-plain {
    color: {{ textDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.custom-dark .i-plain:hover {
    color: {{ textDark|raw }};
}

.custom-dark .social-icon {
    color: {{ textDark|raw }} !important;
    border-color: {{ textDark|raw }};
}

.custom-dark #footer .social-icon.si-borderless,
#footer.custom-dark .social-icon.si-borderless {
    color: #555 !important;
}

.custom-dark .si-dark {
    background-color: rgba(0, 0, 0, 0.2);
    color: {{ textDark|raw }} !important;
    border-color: transparent;
}

.custom-dark .si-light {
    background-color: rgba(4, 15, 61, 0.1);
    color: {{ titleDark|raw }} !important;
    border-color: transparent;
}

.custom-dark .social-icon i:last-child {
    color: {{ textDark|raw }} !important;
}

.custom-dark .social-icon:hover {
    color: {{ textDark|raw }} !important;
    border-color: transparent;
}

.custom-dark .si-share {
    border-top-color: rgba(4, 15, 61, 0.1);
    border-bottom-color: rgba(4, 15, 61, 0.1);
}


.custom-dark .toggle .togglet,
.custom-dark .toggle .toggleta {
    color: {{ textDark|raw }};
}

.custom-dark .toggle.toggle-bg .togglet,
.custom-dark .toggle.toggle-bg .toggleta {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .toggle.toggle-border {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .faqs .toggle {
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .acctitle,
.custom-dark .acctitlec {
    color: {{ textDark|raw }};
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .accordion.accordion-bg .acctitle,
.custom-dark .accordion.accordion-bg .acctitlec {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .accordion.accordion-border {
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .accordion.accordion-border .acctitle,
.custom-dark .accordion.accordion-border .acctitlec {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark ul.tab-nav {
    border-bottom-color: #494949;
}

.custom-dark ul.tab-nav li,
.custom-dark .tabs.tabs-alt ul.tab-nav li.ui-tabs-active a {
    border-color: #494949;
}

.custom-dark ul.tab-nav li:first-child {
    border-left-color: #494949;
}

.custom-dark ul.tab-nav li a {
    color: {{ textDark|raw }};
    background-color: rgba(0, 0, 0, 0.15);
}

.custom-dark .tabs.tabs-alt ul.tab-nav li a,
.custom-dark ul.tab-nav li.ui-tabs-active a {
    background-color: #383838;
}

.custom-dark ul.tab-nav.tab-nav2 li a {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark ul.tab-nav.tab-nav2 li.ui-state-active a {
    background-color: {{ primary|raw }};
}

.custom-dark .tabs-bordered .tab-container {
    border-color: #494949;
}

.custom-dark .side-tabs ul.tab-nav {
    border-right-color: #494949;
}

.custom-dark .side-tabs ul.tab-nav li {
    border-color: #494949;
}

.custom-dark .side-tabs ul.tab-nav li:first-child {
    border-top-color: #494949;
    border-left-color: #494949;
}

.custom-dark .tabs-bordered.side-tabs ul.tab-nav li.ui-tabs-active a {
    border-right-color: #383838;
}

.custom-dark .tabs-bordered.side-tabs .tab-container {
    border-top-color: #494949;
}

.custom-dark .sidenav {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .sidenav > li > a {
    border-color: #494949;
    color: #BBB;
}

.custom-dark .sidenav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-dark .faqlist li a {
    color: {{ textDark|raw }};
}

.custom-dark .clients-grid li:before,
.custom-dark .testimonials-grid li:before {
    border-left-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .clients-grid li:after,
.custom-dark .testimonials-grid li:after {
    border-bottom-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .testimonial {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark .testimonial.twitter-scroll .testi-content p a {
    border-bottom: 1px dotted #AAA;
}

.custom-dark .testimonial.twitter-scroll .testi-content p a:hover {
    border-bottom: 1px solid #888;
}

.custom-dark .testimonial.twitter-scroll .testi-image i {
    background-color: rgba(0, 0, 0, 0.2);
    color: {{ titleDark|raw }};
    text-shadow: none;
}

.parallax.custom-dark .testimonial .flex-control-nav {
    height: 8px;
    margin-top: 30px;
}

.parallax.custom-dark .testimonial .flex-control-nav li {
    width: 8px;
    height: 8px;
    margin: 0 3px;
}

.parallax.custom-dark .testimonial .flex-control-nav li a {
    width: 8px !important;
    height: 8px !important;
    border: 1px solid{{ textDark|raw }};
    background-color: transparent;
}

.parallax.custom-dark .testimonial .flex-control-nav li:hover a,
.parallax.custom-dark .testimonial .flex-control-nav li a.flex-active {
    background-color: {{ textDark|raw }};
}

.custom-dark .team-desc.team-desc-bg {
    background-color: rgba(4, 15, 61, 0.05);
}

.custom-dark .team-content {
    color: {{ inputDark|raw }};
}

.custom-dark .pricing-box {
    border-color: rgba(4, 15, 61, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark .pricing-title {
    background-color: rgba(4, 15, 61, 0.03);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .pricing-title h3 {
    color: {{ textDark|raw }};
}

.custom-dark .pricing-price {
    color: {{ titleDark|raw }};
}

.custom-dark .pricing-price:after {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .pricing-features {
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .pricing-box.best-price {
    background-color: transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.custom-dark .pricing-box.best-price .pricing-title {
    background-color: transparent;
}

.custom-dark .pricing-box.pricing-minimal .pricing-price {
    background-color: transparent;
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .pricing-box.pricing-extended {
    background-color: transparent;
}

.custom-dark .pricing-box.pricing-extended .pricing-action-area {
    border-left-color: rgba(4, 15, 61, 0.15);
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .pricing-box.pricing-extended .pricing-meta {
    color: {{ inputDark|raw }};
}

.custom-dark .counter.counter-lined + h5:before {
    border-color: {{ titleDark|raw }};
}

.custom-dark .rounded-skill {
    color: {{ titleDark|raw }};
}

.custom-dark .skills li {
    background-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .skills li .progress-percent {
    background-color: #4E4E4E;
}

.custom-dark .progress-percent:after,
.custom-dark .progress-percent:before {
    border-top-color: #4E4E4E;
}

.custom-dark .skills li > span {
    font-weight: 600;
    color: {{ textDark|raw }};
}

.custom-dark .owl-carousel.owl-loading {
    background-image: url('../images/preloader-dark.gif');
}

.custom-dark .owl-carousel .owl-nav [class*=owl-] {
    border-color: transparent;
    color: {{ titleDark|raw }};
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-dark label {
    color: #BBB;
}

.custom-dark label.label-muted {
    color: #777;
}

.custom-dark #contact-form-overlay,
.custom-dark #contact-form-overlay-mini {
    background-color: #383838;
}

.custom-dark .title-block > span {
    color: {{ inputDark|raw }};
}

.custom-dark .heading-block:not(.not-dark),
.custom-dark .counter {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark .heading-block:not(.not-dark) h1,
.custom-dark .heading-block:not(.not-dark) h2,
.custom-dark .heading-block:not(.not-dark) h3,
.custom-dark .heading-block:not(.not-dark) h4,
.custom-dark .emphasis-title:not(.not-dark) h1,
.custom-dark .emphasis-title:not(.not-dark) h2 {
    color: {{ titleDark|raw }};
}

.custom-dark .heading-block.not-dark h1,
.custom-dark .heading-block.not-dark h2,
.custom-dark .heading-block.not-dark h3,
.custom-dark .heading-block.not-dark h4,
.custom-dark .emphasis-title.not-dark h1,
.custom-dark .emphasis-title.not-dark h2 {
    color: {{ primaryDark|raw }};
}

.custom-dark .heading-block:not(.not-dark) > span {
    color: {{ titleDark|raw }};
}

.custom-dark .emphasis-title.not-dark {
    color: #444;
}

.custom-dark .fancy-title h1,
.custom-dark .fancy-title h2,
.custom-dark .fancy-title h3,
.custom-dark .fancy-title h4,
.custom-dark .fancy-title h5,
.custom-dark .fancy-title h6 {
    background-color: #383838;
}

.custom-dark .fancy-title.title-double-border:before,
.custom-dark .fancy-title.title-border:before,
.custom-dark .fancy-title.title-border-color:before,
.custom-dark .fancy-title.title-border:before {
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .divider {
    color: rgba(4, 15, 61, 0.15);
}

.custom-dark .divider:after,
.custom-dark .divider.divider-center:before,
.custom-dark .divider.divider-center.divider-short:before {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .divider.divider-rounded,
.custom-dark .divider.divider-border {
    color: {{ inputDark|raw }};
}

.custom-dark .divider.divider-rounded i,
.custom-dark .divider.divider-border i {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .divider.divider-border i {
    background-color: transparent;
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .quote:before {
    color: rgba(4, 15, 61, 0.1);
}

.custom-dark .highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .top-advert {
    border-left-color: rgba(4, 15, 61, 0.1);
    border-right-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .error404 {
    color: rgba(4, 15, 61, 0.15);
}

.custom-dark.error404-wrap .form-control::-webkit-input-placeholder {
    color: #888;
}

.custom-dark.error404-wrap .form-control::-moz-placeholder {
    color: #888;
}

.custom-dark.error404-wrap .form-control:-ms-input-placeholder {
    color: #888;
}

.custom-dark .preloader {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .preloader,
.custom-dark .preloader2,
.custom-dark .form-process {
    background-image: url('../images/preloader-dark.gif');
}

.custom-dark .form-process {
    background-color: transparent;
}


#footer.custom-dark,
.custom-dark #footer {
    background-color: {{ primaryDark|raw }};
    color: {{ textDark|raw }};
    border-top-color: rgba(0, 0, 0, 0.2);
}

.custom-dark #copyrights {
    background-color: rgba(0, 0, 0, 0.2);
    color: {{ textDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-dark #copyrights i.footer-icon {
    color: rgba(4, 15, 61, 0.3);
}

.custom-dark .copyright-links a {
    color: {{ textDark|raw }};
    border-bottom-color: {{ textDark|raw }};
}

.custom-dark .copyright-links a:hover {
    color: rgba(4, 15, 61, 0.35);
    border-bottom-color: rgba(4, 15, 61, 0.35);
}


.custom-dark .footer-widgets-wrap a {
    color: {{ textDark|raw }};
}

.custom-dark .footer-widgets-wrap a:hover {
    color: {{ inputDark|raw }};
}

.custom-dark .sidebar-widgets-wrap .widget,
body.custom-dark #side-panel .widget,
body #side-panel.custom-dark .widget {
    border-top-color: rgba(4, 15, 61, 0.1);
}

body.custom-dark #side-panel #side-panel-trigger-close a,
body #side-panel.custom-dark #side-panel-trigger-close a {
    background-color: rgba(0, 0, 0, 0.2);
    color: {{ textDark|raw }};
}

.custom-dark .widget h4 {
    color: {{ textDark|raw }};
}

.custom-dark .widget p {
    opacity: 0.8;
}

.custom-dark .tagcloud a {
    color: {{ inputDark|raw }};
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .tagcloud a:hover {
    border-color: transparent !important;
    background-color: {{ primary|raw }};
    color: {{ textDark|raw }} !important;
}

.custom-dark .widget_recent_comments li {
    background-image: url("../images/icons/widget-comment-dark.png");
}

.custom-dark .widget_nav_menu li a,
.custom-dark .widget_links li a,
.custom-dark .widget_meta li a,
.custom-dark .widget_archive li a,
.custom-dark .widget_recent_comments li a,
.custom-dark .widget_recent_entries li a,
.custom-dark .widget_categories li a,
.custom-dark .widget_pages li a,
.custom-dark .widget_rss li a {
    color: {{ textDark|raw }};
    background-image: url("../images/icons/widget-link-dark.png");
}

.custom-dark .widget_nav_menu li a:hover,
.custom-dark .widget_links li a:hover,
.custom-dark .widget_meta li a:hover,
.custom-dark .widget_archive li a:hover,
.custom-dark .widget_recent_comments li a:hover,
.custom-dark .widget_recent_entries li a:hover,
.custom-dark .widget_categories li a:hover,
.custom-dark .widget_pages li a:hover,
.custom-dark .widget_rss li a:hover {
    color: #AAA;
}


.custom-dark .nav-tree li a {
    color: #BBB;
}


.custom-dark #cookie-notification,
#cookie-notification.custom-dark {
    background-color: rgba(0, 0, 0, 0.85);
    color: {{ titleDark|raw }};
}


/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/

.custom-dark .show-grid [class^=col-] {
    background-color: rgba(4, 15, 61, 0.05);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark mark {
    background: rgba(0, 0, 0, 0.5);
    color: {{ textDark|raw }};
}

.custom-dark fieldset {
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .img-thumbnail {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark hr {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .page-header {
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark blockquote {
    border-left-color: rgba(4, 15, 61, 0.2);
}

.custom-dark .blockquote-reverse,
.custom-dark blockquote.pull-right {
    border-right-color: rgba(4, 15, 61, 0.2);
}

.custom-dark code {
    color: #DF6F72;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-dark kbd {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark pre {
    color: {{ textDark|raw }};
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .table > thead > tr > th,
.custom-dark .table > tbody > tr > th,
.custom-dark .table > tfoot > tr > th,
.custom-dark .table > thead > tr > td,
.custom-dark .table > tbody > tr > td,
.custom-dark .table > tfoot > tr > td {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .table > thead > tr > th {
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .table > tbody + tbody {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .table .table {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .table-bordered {
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .table-bordered > thead > tr > th,
.custom-dark .table-bordered > tbody > tr > th,
.custom-dark .table-bordered > tfoot > tr > th,
.custom-dark .table-bordered > thead > tr > td,
.custom-dark .table-bordered > tbody > tr > td,
.custom-dark .table-bordered > tfoot > tr > td {
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .table-striped > tbody > tr:nth-child(odd) > td,
.custom-dark .table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-dark .table-hover > tbody > tr:hover > td,
.custom-dark .table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-dark .table > thead > tr > td.active,
.custom-dark .table > tbody > tr > td.active,
.custom-dark .table > tfoot > tr > td.active,
.custom-dark .table > thead > tr > th.active,
.custom-dark .table > tbody > tr > th.active,
.custom-dark .table > tfoot > tr > th.active,
.custom-dark .table > thead > tr.active > td,
.custom-dark .table > tbody > tr.active > td,
.custom-dark .table > tfoot > tr.active > td,
.custom-dark .table > thead > tr.active > th,
.custom-dark .table > tbody > tr.active > th,
.custom-dark .table > tfoot > tr.active > th {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-dark .table-hover > tbody > tr > td.active:hover,
.custom-dark .table-hover > tbody > tr > th.active:hover,
.custom-dark .table-hover > tbody > tr.active:hover > td,
.custom-dark .table-hover > tbody > tr.active:hover > th {
    background-color: rgba(4, 15, 61, 0.1);
}

@media (max-width: 767px) {
    .table-responsive {
        border-color: rgba(4, 15, 61, 0.1);
    }
}

.custom-dark legend {
    color: {{ textDark|raw }};
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark output {
    color: {{ inputDark|raw }};
}

.custom-dark .form-control:not(.not-dark),
.custom-dark .sm-form-control:not(.not-dark) {
    color: {{ inputDark|raw }};
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.25);
}

.custom-dark .form-control:not(.not-dark) option,
.custom-dark .sm-form-control:not(.not-dark) option {
    background-color: {{ primaryDark|raw }};
}

.custom-dark .form-control:not(.not-dark):active,
.custom-dark .form-control:not(.not-dark):focus,
.custom-dark .sm-form-control:not(.not-dark):active,
.custom-dark .sm-form-control:not(.not-dark):focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.custom-dark .form-control:not(.not-dark)::-moz-placeholder {
    color: #666;
}

.custom-dark .form-control:not(.not-dark):-ms-input-placeholder {
    color: #666;
}

.custom-dark .form-control:not(.not-dark)::-webkit-input-placeholder {
    color: #666;
}

.custom-dark .sm-form-control:not(.not-dark)::-moz-placeholder {
    color: #666;
}

.custom-dark .sm-form-control:not(.not-dark):-ms-input-placeholder {
    color: #666;
}

.custom-dark .sm-form-control:not(.not-dark)::-webkit-input-placeholder {
    color: #666;
}

.custom-dark .form-control:not(.not-dark)[disabled],
.custom-dark .form-control:not(.not-dark)[readonly],
.custom-dark fieldset[disabled] .form-control:not(.not-dark),
.custom-dark .sm-form-control:not(.not-dark)[disabled],
.custom-dark .sm-form-control:not(.not-dark)[readonly],
.custom-dark fieldset[disabled] .sm-form-control:not(.not-dark) {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .input-group .form-control.error:not(.not-dark) {
    color: #E42C3E;
}

.custom-dark .sm-form-control.error:not(.not-dark) {
    border-color: #E42C3E !important;
}

.custom-dark .form-control.error:not(.not-dark)::-moz-placeholder {
    color: rgba(228, 44, 62, 0.6);
}

.custom-dark .form-control.error:not(.not-dark):-ms-input-placeholder {
    color: rgba(228, 44, 62, 0.6);
}

.custom-dark .form-control.error:not(.not-dark)::-webkit-input-placeholder {
    color: rgba(228, 44, 62, 0.6);
}

.custom-dark .btn:hover,
.custom-dark .btn:focus {
    color: {{ textDark|raw }};
}

.custom-dark .btn-link:hover,
.custom-dark .btn-link:focus {
    color: {{ titleDark|raw }};
}

.custom-dark .dropdown-menu {
    background-color: {{ primaryDark|raw }};
    border-color: #3F3F3F;
}

.custom-dark .dropdown-menu .dropdown-divider {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .dropdown-item {
    color: {{ textDark|raw }};
}

.custom-dark .dropdown-item:hover,
.custom-dark .dropdown-item:focus {
    color: {{ titleDark|raw }};
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .input-group-text,
.custom-dark .input-group-btn .btn-default {
    color: {{ inputDark|raw }};
    background-color: rgba(0, 0, 0, 0.35);
    border-color: rgba(0, 0, 0, 0.25);
}

.custom-dark .input-group-btn .btn-default {
    color: {{ textDark|raw }};
}

.custom-dark .input-group-btn .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.30);
}

.custom-dark .nav > li > a:hover,
.custom-dark .nav > li > a:focus,
.custom-dark .nav .open > a,
.custom-dark .nav .open > a:hover,
.custom-dark .nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .nav .nav-divider {
    background-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .nav-tabs {
    border-bottom-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .nav-tabs > li > a:hover {
    border-color: rgba(4, 15, 61, 0.2);
    border-bottom: none;
}

.custom-dark .nav-tabs.nav-justified > li > a:hover,
.custom-dark .nav-tabs-justified > li > a:hover {
    border-bottom: 1px solid rgba(4, 15, 61, 0.2);
}

.custom-dark .nav-tabs > li.active > a,
.custom-dark .nav-tabs > li.active > a:hover,
.custom-dark .nav-tabs > li.active > a:focus {
    color: {{ textDark|raw }};
    background-color: #383838;
    border: 1px solid rgba(4, 15, 61, 0.2);
    border-bottom-color: #383838;
}

.custom-dark .nav-tabs.nav-justified > .active > a,
.custom-dark .nav-tabs.nav-justified > .active > a:hover,
.custom-dark .nav-tabs.nav-justified > .active > a:focus {
    border-color: rgba(4, 15, 61, 0.15);
}

@media (min-width: 768px) {
    .custom-dark .nav-tabs.nav-justified > li > a {
        border-bottom-color: rgba(4, 15, 61, 0.15);
    }

    .custom-dark .nav-tabs.nav-justified > .active > a,
    .custom-dark .nav-tabs.nav-justified > .active > a:hover,
    .custom-dark .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #383838;
    }
}

.custom-dark .nav-tabs-justified > .active > a,
.custom-dark .nav-tabs-justified > .active > a:hover,
.custom-dark .nav-tabs-justified > .active > a:focus {
    border-color: rgba(4, 15, 61, 0.15);
}

@media (min-width: 768px) {
    .custom-dark .nav-tabs-justified > li > a {
        border-bottom-color: rgba(4, 15, 61, 0.15);
    }

    .custom-dark .nav-tabs-justified > .active > a,
    .custom-dark .nav-tabs-justified > .active > a:hover,
    .custom-dark .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #383838;
    }
}

.custom-dark .navbar-default {
    background-color: rgba(4, 15, 61, 0.1);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .navbar-default .navbar-brand {
    color: {{ titleDark|raw }};
}

.custom-dark .navbar-default .navbar-brand:hover,
.custom-dark .navbar-default .navbar-brand:focus {
    color: #BBB;
}

.custom-dark .navbar-default .navbar-text {
    color: {{ inputDark|raw }};
}

.custom-dark .navbar-default .navbar-nav > li > a {
    color: #BBB;
}

.custom-dark .navbar-default .navbar-nav > li > a:hover,
.custom-dark .navbar-default .navbar-nav > li > a:focus {
    color: {{ titleDark|raw }};
    background-color: transparent;
}

.custom-dark .navbar-default .navbar-nav > .active > a,
.custom-dark .navbar-default .navbar-nav > .active > a:hover,
.custom-dark .navbar-default .navbar-nav > .active > a:focus {
    color: {{ titleDark|raw }};
    background-color: rgba(0, 0, 0, 0.25);
}

.custom-dark .navbar-default .navbar-nav > .disabled > a,
.custom-dark .navbar-default .navbar-nav > .disabled > a:hover,
.custom-dark .navbar-default .navbar-nav > .disabled > a:focus {
    color: {{ inputDark|raw }};
}

.custom-dark .navbar-default .navbar-toggle {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .navbar-default .navbar-toggle:hover,
.custom-dark .navbar-default .navbar-toggle:focus {
    background-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .navbar-default .navbar-toggle .icon-bar {
    background-color: #BBB;
}

.custom-dark .navbar-default .navbar-collapse,
.custom-dark .navbar-default .navbar-form {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .navbar-default .navbar-nav > .open > a,
.custom-dark .navbar-default .navbar-nav > .open > a:hover,
.custom-dark .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.25);
    color: {{ titleDark|raw }};
}

@media (max-width: 767px) {
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item {
        color: #BBB;
    }

    .custom-dark .navbar-default .navbar-nav .open .dropdown-item:hover,
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item:focus {
        color: {{ titleDark|raw }};
    }

    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.active,
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.active:hover,
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.active:focus {
        background-color: rgba(0, 0, 0, 0.25);
        color: {{ titleDark|raw }};
    }

    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.disabled,
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.disabled:hover,
    .custom-dark .navbar-default .navbar-nav .open .dropdown-item.disabled:focus {
        color: {{ inputDark|raw }};
    }
}

.custom-dark .navbar-default .navbar-link {
    color: #BBB;
}

.custom-dark .navbar-default .navbar-link:hover {
    color: {{ titleDark|raw }};
}

.custom-dark .page-link {
    color: #BBB;
    background-color: rgba(4, 15, 61, 0.1);
    border-color: #666;
}

.custom-dark .page-link:hover,
.custom-dark .page-link:focus {
    color: {{ titleDark|raw }};
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-dark .disabled .page-link,
.custom-dark .disabled .page-link:hover,
.custom-dark .disabled .page-link:focus {
    color: {{ inputDark|raw }};
    background-color: rgba(4, 15, 61, 0.2);
    border-color: #777;
}

.custom-dark .label-default {
    background-color: rgba(4, 15, 61, 0.2);
}

.custom-dark .label-default[href]:hover,
.custom-dark .label-default[href]:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .badge {
    background-color: rgba(4, 15, 61, 0.2);
}

.custom-dark .jumbotron {
    background-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .thumbnail {
    background-color: rgba(4, 15, 61, 0.15);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .thumbnail .caption {
    color: {{ titleDark|raw }};
}

.custom-dark .progress {
    background-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .list-group-item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #444;
}

.custom-dark a.list-group-item {
    color: #BBB;
}

.custom-dark a.list-group-item .list-group-item-heading {
    color: {{ textDark|raw }};
}

.custom-dark a.list-group-item:hover,
.custom-dark a.list-group-item:focus {
    background-color: rgba(4, 15, 61, 0.05);
}

.custom-dark a.list-group-item.active,
.custom-dark a.list-group-item.active:hover,
.custom-dark a.list-group-item.active:focus {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.custom-dark .list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}

.custom-dark a.list-group-item-success {
    color: #3c763d;
}

.custom-dark a.list-group-item-success:hover,
.custom-dark a.list-group-item-success:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}

.custom-dark a.list-group-item-success.active,
.custom-dark a.list-group-item-success.active:hover,
.custom-dark a.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

.custom-dark .list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

.custom-dark a.list-group-item-info {
    color: #31708f;
}

.custom-dark a.list-group-item-info:hover,
.custom-dark a.list-group-item-info:focus {
    color: #31708f;
    background-color: #c4e3f3;
}

.custom-dark a.list-group-item-info.active,
.custom-dark a.list-group-item-info.active:hover,
.custom-dark a.list-group-item-info.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}

.custom-dark .list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.custom-dark a.list-group-item-warning {
    color: #8a6d3b;
}

.custom-dark a.list-group-item-warning:hover,
.custom-dark a.list-group-item-warning:focus {
    color: #8a6d3b;
    background-color: #faf2cc;
}

.custom-dark a.list-group-item-warning.active,
.custom-dark a.list-group-item-warning.active:hover,
.custom-dark a.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}

.custom-dark .list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

.custom-dark a.list-group-item-danger {
    color: #a94442;
}

.custom-dark a.list-group-item-danger:hover,
.custom-dark a.list-group-item-danger:focus {
    color: #a94442;
    background-color: #ebcccc;
}

.custom-dark a.list-group-item-danger.active,
.custom-dark a.list-group-item-danger.active:hover,
.custom-dark a.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}

.custom-dark .card {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-dark .card-footer {
    background-color: rgba(4, 15, 61, 0.1);
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .card > .card-body + .table,
.custom-dark .card > .card-body + .table-responsive {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .card-group .card-heading + .collapse .card-body {
    border-top-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .card-group .card-footer + .collapse .card-body {
    border-bottom-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .card-default {
    border-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .card-default > .card-heading {
    color: {{ textDark|raw }};
    background-color: rgba(4, 15, 61, 0.1);
    border-color: rgba(4, 15, 61, 0.1);
}

.custom-dark .card-default > .card-heading + .collapse .card-body {
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .card-default > .card-footer + .collapse .card-body {
    border-bottom-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .close {
    opacity: 1;
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.custom-dark .close:hover,
.custom-dark .close:focus {
    color: rgba(0, 0, 0, 0.4);
}

.custom-dark .modal-content {
    border-color: #555;
}

.custom-dark .modal-header {
    border-bottom-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .modal-footer {
    border-top-color: rgba(4, 15, 61, 0.15);
}

.custom-dark .popover {
    background-color: {{ primaryDark|raw }};
    border-color: #494949;
}

.custom-dark .popover-title {
    background-color: rgba(4, 15, 61, 0.1);
    border-bottom-color: rgba(4, 15, 61, 0.075);
}

.custom-dark .popover.top > .arrow {
    border-top-color: #494949;
}

.custom-dark .popover.top > .arrow:after {
    border-top-color: {{ primaryDark|raw }};
}

.custom-dark .popover.right > .arrow {
    border-right-color: #494949;
}

.custom-dark .popover.right > .arrow:after {
    border-right-color: {{ primaryDark|raw }};
}

.custom-dark .popover.bottom > .arrow {
    border-bottom-color: #494949;
}

.custom-dark .popover.bottom > .arrow:after {
    border-bottom-color: {{ primaryDark|raw }};
}

.custom-dark .popover.left > .arrow {
    border-left-color: #494949;
}

.custom-dark .popover.left > .arrow:after {
    border-left-color: {{ primaryDark|raw }};
}


@media (max-width: 991px) {

    .custom-dark .postcontent,
    .custom-dark .postcontent.bothsidebar,
    .custom-dark .sidebar {
        border-bottom-color: rgba(4, 15, 61, 0.1);
    }

    .custom-dark #header.transparent-header,
    .custom-dark #header.semi-transparent,
    #header.custom-dark.transparent-header,
    #header.custom-dark.semi-transparent {
        background-color: {{ primaryDark|raw }};
        border-bottom-color: rgba(4, 15, 61, 0.1);
    }

    .custom-dark #primary-menu.mobile-menu-off-canvas:not(.not-dark) > ul,
    .custom-dark #primary-menu.mobile-menu-off-canvas:not(.not-dark) > div > ul,
    #primary-menu.mobile-menu-off-canvas.custom-dark > ul,
    #primary-menu.mobile-menu-off-canvas.custom-dark > div > ul {
        background-color: {{ primaryDark|raw }};
        border-right: 1px solid rgba(4, 15, 61, 0.05) !important;
    }

    .custom-dark #primary-menu.mobile-menu-off-canvas.from-right:not(.not-dark) > ul,
    .custom-dark #primary-menu.mobile-menu-off-canvas.from-right:not(.not-dark) > div > ul,
    #primary-menu.mobile-menu-off-canvas.from-right.custom-dark > ul,
    #primary-menu.mobile-menu-off-canvas.from-right.custom-dark > div > ul {
        border-right: 0 !important;
        border-left: 1px solid rgba(4, 15, 61, 0.05) !important;
    }

    .custom-dark #primary-menu:not(.not-dark) ul li,
    .custom-dark #primary-menu:not(.not-dark) ul ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
    .custom-dark #primary-menu:not(.not-dark) ul ul li,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content ul ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.grid-2 > ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.grid-3 > ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.grid-4 > ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.grid-5 > ul,
    .custom-dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2 li {
        border-top-color: rgba(4, 15, 61, 0.1) !important;
    }

    .custom-dark #primary-menu:not(.not-dark) > ul > li.sub-menu > a,
    .custom-dark #primary-menu:not(.not-dark) > .container > ul > li.sub-menu > a {
        background-image: url("../images/icons/submenu-dark.png");
    }

    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul ul li,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content ul ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content.grid-2 > ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content.grid-3 > ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content.grid-4 > ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content.grid-5 > ul,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul li .mega-menu-content.style-2 li {
        border-top-color: {{ titleDark|raw }} !important;
    }

    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > ul > li:hover a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > ul > li.current a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > div > ul > li:hover a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > div > ul > li.current a {
        color: {{ primary|raw }} !important;
    }

    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu ul ul a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > ul > li:hover ul a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > ul > li.current ul a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > div > ul > li:hover ul a,
    body:not(.custom-dark) #header:not(.custom-dark) #header-wrap:not(.custom-dark) #primary-menu > div > ul > li.current ul a {
        color: #444 !important;
    }

    .custom-dark .pricing-box.pricing-extended .pricing-action-area {
        border-top-color: rgba(4, 15, 61, 0.15);
    }

}

