/* Overide default style */

{% set primary = colors.light_primary %}
{% set primaryDark = colors.dark_primary %}
{% set titleDark = colors.dark_title %}
{% set textDark = colors.dark_text %}
{% set inputDark = colors.dark_input %}


/* Page Title - Custom Dark
-----------------------------------------------------------------*/

#page-title.page-title-custom-dark {
    background-color: {{ primaryDark|raw }};
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) !important;
    border-bottom: none;
}

#page-title.page-title-custom-dark h1 {
    color: {{ titleDark|raw }} !important;
}

#page-title.page-title-custom-dark span {
    color: {{ textDark|raw }};
}

#page-title.page-title-custom-dark .breadcrumb > .active {
    color: {{ titleDark|raw }};
}

#page-title.page-title-custom-dark .breadcrumb a {
    color: {{ textDark|raw }};
}

#page-title.page-title-custom-dark .breadcrumb a:hover {
    color: {{ inputDark|raw }};
}

.page-title-custom-dark #portfolio-navigation a {
    color: {{ titleDark|raw }};
}

/* Icon
------------------------------------------------------------------- */
.bgicon {
    display: block;
    position: absolute;
    bottom: -60px;
    right: -50px;
    font-size: 210px;
    color: rgba(0, 0, 0, 0.15);
}
