<ol class="breadcrumb">
	{% for crumb in list %}
		{% if crumb.label is defined %}{% set crumbLabel = crumb.label %}{% else %}{% set crumbLabel = 'label' %}{% endif %}
		{% if crumb.link is defined %}{% set crumbLink = crumb.link %}{% else %}{% set crumbLink = '#' %}{% endif %}
		{% if loop.last %}
			<li class="breadcrumb-item active" aria-current="page">{{ crumbLabel }}</li>
		{% else %}
			<li class="breadcrumb-item"><a href="{{ crumbLink }}">{{ crumbLabel }}</a></li>
		{% endif %}
	{% endfor %}
</ol>
