{#List with txt + img #}

{#Simple list#}
{% if content.data is defined and content.data is not null %}
    {% if content.data is iterable %}
        <ul class="ml-4 mt-4" style="list-style: none;">
            {% for item in content.data %}
                <li>
                    <div class="d-flex mb-2">
                        {% if item.img is defined and item.img is not null %}
                            <div class="mr-3">
                                <img style="width: 50px; height: 50px;" src="{{ asset(item.img) }}" alt="">
                            </div>
                        {% endif %}
                        <div class="col_three_fifth nobottommargin col_last">
                            {% if  item.text is defined %}
                                <p class="mb-0" style="font-size: 0.9em;">{{ item.text }}</p>
                            {% endif %}
                            {% if  item.subText is defined %}
                                <p class="mb-0" style="font-size: 0.9em;">{{ item.subText }}</p>
                            {% endif %}
                            {% if  item.shortText is defined %}
                                <p class="mb-0" style="font-size: 0.9em;"><strong>{{ item.shortText }}</strong></p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5 class="m-2">{{ content.data }}</h5>
    {% endif %}

{% endif %}
