{#Simple list#}
{% if content.data is defined and content.data is not null %}
    {% if content.data is iterable %}
        <ul class="ml-4 mt-4" style="list-style: none;">
            {% for item in content.data %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h5 class="m-2">{{ content.data }}</h5>
    {% endif %}

{% endif %}
