{% if content.nav is defined and content.nav is not null %}
    <section id="sidebar-wrapper">
        <nav class="custom-sidebar">
            <div class="nav nav-tabs d-flex justify-content-between" id="nav-tab" role="tablist">
                {% for item in content.nav|slice(0,3) %}
                    {% if content.nav|slice(0,3)|length == 1 %}
                        {% set column = 'col-lg-12' %}
                    {% elseif content.nav|slice(0,3)|length == 2 %}
                        {% set column = 'col-lg-6' %}
                    {% elseif content.nav|slice(0,3)|length == 3 %}
                        {% set column = 'col-lg-4' %}
                    {% endif %}
                    <a id="nav-tab-{{ loop.index }}" data-toggle="tab" href="#nav-{{ loop.index }}" role="tab"
                       class="nav-item nav-link {{ column }} d-flex align-items-center justify-content-center {% if loop.first %}active{% endif %}"
                       aria-controls="nav-{{ loop.index }}"
                       {% if loop.first %}aria-selected="true"
                       {% else %}aria-selected="false"{% endif %}><i style="font-size: 1.8em;"
                                                                     class="{{ item.icon }} mr-2"></i>{{ item.text }}
                    </a>
                {% endfor %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            {% for item in content.nav %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ loop.index }}"
                     role="tabpanel" aria-labelledby="nav-tab-{{ loop.index }}">
                    {{ item.content|html }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
