<div class="widget clearfix">
	<div id="oc-full" class="owl-carousel {% if teamCarousel is defined and teamCarousel == true %}team-carousel bottommargin{% else %}image-carousel{% endif %} carousel-widget"
		 {% if carousel.items is defined %}
			 {% if carousel.items.sm is defined %}data-items-sm ="{{ carousel.items.sm }}"{% endif %}
			 {% if carousel.items.md is defined %}data-items-md="{{ carousel.items.md }}"{% endif %}
			 {% if carousel.items.xl is defined %}data-items-xl="{{ carousel.items.xl }}"{% endif %}
		 {% endif %}
		 {% if carousel.margin is defined %}data-margin="{{ carousel.margin }}"{% endif %}
		 {% if carousel.loop is defined %}data-loop="{{ carousel.loop }}"{% endif %}
		 {% if carousel.nav is defined %}data-nav="{{ carousel.nav }}"{% endif %}
		 {% if carousel.autoplay is defined %}data-autoplay="{{ carousel.autoplay }}"{% endif %}
		 {% if carousel.pagi is defined %}data-pagi="{{ carousel.pagi }}"{% endif %}
	>
		{% for element in carousel.list %}
			{{ element|html }}
		{% endfor %}
	</div>
</div>

{#<div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="30" data-pagi="false" data-items-sm="2" data-items-md="2" data-items-xl="4">#}
{#</div>#}
