{% if carousel.items is defined and carousel.items is not empty %}
	{% set items = carousel.items %}
{% else %}
	{% set items = '' %}
{% endif %}

<div class="container clearfix">

	<div class="fancy-title title-center title-dotted-border topmargin">
		<h3>Events Carousel</h3>
	</div>

	<div id="oc-events" class="owl-carousel events-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-md="1" data-items-lg="2" data-items-xl="2">

		{% for item in items %}

			<div class="oc-item">

				{% for event in item %}

					<div class="ievent clearfix">
						<div class="entry-image">
							<a href="#">
								<img src="{{ asset('canvas/images/' ~ event.thumbnail) }}" alt="Inventore voluptates velit totam ipsa">
								<div class="entry-date">{{ event.day }}<span>{{ event.month }}</span></div>
							</a>
						</div>
						<div class="entry-c">
							<div class="entry-title">
								<h2><a href="#">{{ event.title }}</a></h2>
							</div>
							<ul class="entry-meta clearfix">
								<li><span class="badge badge-{{ event.badge }}">{{ event.statut }}</span></li>
								<li><a href="#"><i class="icon-time"></i> {{ event.start }} - {{ event.end }}</a></li>
								<li><a href="#"><i class="icon-map-marker2"></i> {{ event.city }}</a></li>
							</ul>
							<div class="entry-content">
								{% for button in event.buttons %}
									<a href="{{ button.link }}" class="btn btn-{{ button.color }}">{{ button.name }}</a>
								{% endfor %}
								{#<a href="#" class="btn btn-secondary" disabled="disabled">Buy Tickets</a>#}
								{#<a href="#" class="btn btn-danger">Read More</a>#}
							</div>
						</div>
					</div>

				{% endfor %}

			</div>

		{% endfor %}

	</div>

</div>
