{% if carousel.images is defined and carousel.images is not empty %}
	{% set images = carousel.images %}
{% else %}
	{% set images = '' %}
{% endif %}

<div class="container clearfix">

	<div class="fancy-title title-center title-dotted-border">
		<h3>Image Carousel</h3>
	</div>

	<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="true" data-items-xs="2" data-items-sm="3" data-items-lg="4" data-items-xl="5">

		{% for image in images %}
			<div class="oc-item">
				<a href="#"><img src="{{ asset('canvas/images/' ~ image ) }}" alt="Image {{ loop.index }}"></a>
			</div>
		{% endfor %}

	</div>

</div>
