{% for carousel in carousels %}

	{% if carousel.type is defined and carousel.type is not empty %}
		{% set type = carousel.type %}
	{% else %}
		{% set type = 'image' %}
	{% endif %}

	{{ canvas_component( 'carousel-' ~ type, { 'carousel': carousel } ) }}

	<div class="clear"></div>

{% endfor %}
