{% if carousel.items is defined and carousel.items is not empty %}
	{% set items = carousel.items %}
{% else %}
	{% set items = '' %}
{% endif %}

<div class="container clearfix">

	<div class="fancy-title title-center title-dotted-border topmargin">
		<h3>Portfolio Carousel</h3>
	</div>

	<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

		{% for item in items %}

			<div class="oc-item">
				<div class="iportfolio">
					<div class="portfolio-image">
						<a href="{{ item.link }}">
							<img src="{{ asset('canvas/images/' ~ item.thumbnail) }}" alt="Open Imagination">
						</a>
						<div class="portfolio-overlay">
							{% if item.data == 'image' %}
								<a href="{{ asset('canvas/images/' ~ item.full) }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
								<a href="{{ item.link }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
							{% else %}
								<a href="{{ item.full }}" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
								<a href="{{ item.link }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
							{% endif %}
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
						<span><a href="#">Media</a>, <a href="#">Icons</a></span>
					</div>
				</div>
			</div>

		{% endfor %}

	</div>

</div>
