{% if carousel.items is defined and carousel.items is not empty %}
	{% set items = carousel.items %}
{% else %}
	{% set items = '' %}
{% endif %}

<div class="container clearfix">

	<div class="fancy-title title-center title-dotted-border topmargin">
		<h3>Portfolio Carousel - Full Width</h3>
	</div>

</div>

<div id="related-portfolio" class="owl-carousel owl-carousel-full portfolio-carousel portfolio-notitle portfolio-nomargin footer-stick carousel-widget" data-margin="0" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">


	{% for item in items %}

		{% if item.image is defined and item.image is not empty %}
			{% set image = item.image %}
		{% else %}
			{% set image = '' %}
		{% endif %}

		{% if item.data == 'simple' %}

			<div class="oc-item">
				<div class="iportfolio">
					<div class="portfolio-image">
						<a href="#">
							<img src="{{ asset('canvas/images/' ~ image.thumbnail) }}" alt="Open Imagination">
						</a>
						<div class="portfolio-overlay">
							<a href="{{ asset('canvas/images/' ~ image.full ) }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
							<a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="#">Open Imagination</a></h3>
						<span><a href="#">Media</a>, <a href="#">Icons</a></span>
					</div>
				</div>
			</div>

		{% elseif item.data == 'iframe' %}

			<div class="oc-item">
				<div class="iportfolio">
					<div class="portfolio-image">
						<a href="{{ item.link }}">
							<img src="{{ asset('canvas/images/' ~ image) }}" alt="Mac Sunglasses">
						</a>
						<div class="portfolio-overlay">
							<a href="{{ item.video }}" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="{{ item.link }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
						<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
					</div>
				</div>
			</div>

		{% else %}

			<div class="oc-item">
				<div class="iportfolio">
					<div class="portfolio-image">
						<a href="{{ item.link }}">
							<img src="{{ asset('canvas/images/' ~ image.thumbnail ) }}" alt="Mac Sunglasses">
						</a>
						<div class="portfolio-overlay" data-lightbox="gallery">
							{% for imageFull in image.full %}
								{% if loop.first %}
									<a href="{{ asset('canvas/images/' ~ imageFull) }}" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								{% else %}
									<a href="{{ asset('canvas/images/' ~ imageFull) }}" class="hidden" data-lightbox="gallery-item"></a>
								{% endif %}
							{% endfor %}
							<a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
						<span><a href="{{ item.link }}">Icons</a>, <a href="#">Illustrations</a></span>
					</div>
				</div>
			</div>


		{% endif %}

	{% endfor %}


</div>
