<div class="widget clearfix">
	<div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget"
		 data-items="{% if carousel.items is defined %}{{ carousel.items }}{% else %}1{% endif %}"
		 data-margin="{% if carousel.margin is defined %}{{ carousel.margin }}{% else %}10{% endif %}"
		 data-loop="{% if carousel.loop is defined %}{{ carousel.loop }}{% else %}true{% endif %}"
		 data-nav="{% if carousel.nav is defined %}{{ carousel.nav }}{% else %}false{% endif %}"
		 data-autoplay="{% if carousel.autoplay is defined %}{{ carousel.autoplay }}{% else %}5000{% endif %}"
		 data-pagi="{% if carousel.pagi is defined %}{{ carousel.pagi }}{% else %}true{% endif %}"
	>
		{% for image in carousel.images %}
			<div class="oc-item"><a href="{{ image.link }}"><img src="{{ image.url }}" alt="{{ image.alt }}"></a></div>
		{% endfor %}
	</div>
</div>
