{% if titleSize is defined and titleSize is not empty %}
	{% set titleSize = titleSize %}
{% else %}
	{% set titleSize = 'h5' %}
{% endif %}

{% if titleStyle is defined and titleStyle is not empty %}
	{% set titleStyle = titleStyle %}
{% else %}
	{% set titleStyle = '' %}
{% endif %}

{% for column in columns %}

	{% if column.title is defined and column.title is not empty %}
		{% set title = column.title %}
	{% else %}
		{% set title = 'Title' %}
	{% endif %}
	{% if column.parameter is defined and column.parameter is not empty %}
		{% set parameter = column.parameter %}
	{% else %}
		{% set parameter = '' %}
	{% endif %}
	{% if column.body is defined %}
		{% set body = column.body %}
	{% else %}
		{% set body = 'Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.' %}
	{% endif %}

	{{ canvas_component('column', { 'title': title, 'titleSize': titleSize, 'titleStyle': titleStyle, 'parameter': parameter, 'body': body }) }}

{% endfor %}

<div class="clear"></div>

{% if showGridBoot is defined and showGridBoot == true %}
	{{ canvas_component('gridBoot') }}
{% endif %}
