<div class="divider notopmargin"><i class="icon-circle"></i></div>

<h3>Bootstrap Grid</h3>

<div class="row show-grid">
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-1">.col-lg-1</div>
</div>

<div class="row show-grid">
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-2">.col-lg-2</div>
</div>

<div class="row show-grid">
	<div class="col-lg-3">.col-lg-3</div>
	<div class="col-lg-3">.col-lg-3</div>
	<div class="col-lg-3">.col-lg-3</div>
	<div class="col-lg-3">.col-lg-3</div>
</div>

<div class="row show-grid">
	<div class="col-lg-4">.col-lg-4</div>
	<div class="col-lg-4">.col-lg-4</div>
	<div class="col-lg-4">.col-lg-4</div>
</div>

<div class="row show-grid">
	<div class="col-lg-5">.col-lg-5</div>
	<div class="col-lg-5">.col-lg-5</div>
	<div class="col-lg-2">.col-lg-2</div>
</div>

<div class="row show-grid">
	<div class="col-lg-6">.col-lg-6</div>
	<div class="col-lg-6">.col-lg-6</div>
</div>

<div class="row show-grid">
	<div class="col-lg-1">.col-lg-1</div>
	<div class="col-lg-11">.col-lg-11</div>
</div>

<div class="row show-grid">
	<div class="col-lg-2">.col-lg-2</div>
	<div class="col-lg-10">.col-lg-10</div>
</div>

<div class="row show-grid">
	<div class="col-lg-3">.col-lg-3</div>
	<div class="col-lg-9">.col-lg-9</div>
</div>

<div class="row show-grid">
	<div class="col-lg-4">.col-lg-4</div>
	<div class="col-lg-8">.col-lg-8</div>
</div>

<div class="row show-grid">
	<div class="col-lg-5">.col-lg-5</div>
	<div class="col-lg-7">.col-lg-7</div>
</div>
