{% if title is not defined %}
	{% set title = '' %}
{% endif %}
{% if subTitle is not defined %}
	{% set subTitle = '' %}
{% endif %}

<div class="heading-block center">
	<h2>{{ title }}</h2>
	<span>{{ subTitle }}</span>
</div>

<div class="row clearfix">

	{% for member in list %}

		<div class="col-lg-6 bottommargin">
			<div class="team team-list clearfix">
				<div class="team-image">
					<img src="{{ member.image }}" alt="{{ member.name }}">
				</div>
				<div class="team-desc">
					<div class="team-title"><h4>{{ member.name }}</h4><span>{{ member.job|html }}</span></div>
					<div class="team-content">
						{{ member.description|html }}
					</div>
					<a href="#" class="social-icon si-rounded si-small si-light si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="#" class="social-icon si-rounded si-small si-light si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>
					<a href="#" class="social-icon si-rounded si-small si-light si-gplus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>
				</div>
			</div>
		</div>

	{% endfor %}
</div>
