{# TEAM
#	params:
#		list: null/string
#		name: string
#		image: string
#		job: string
#		description: string, peut contenir du html
#		socials: object pour le component social-icon
#}

<div class="team{% if list is defined and list is not null %} team-list clearfix{% endif %}">
	<div class="team-image">
		<img src="{{ image }}" alt="{{ name }}">
	</div>
	<div class="team-desc">
		<div class="team-title"><h4>{{ name }}</h4><span>{{ job }}</span></div>
		{% if description is defined and description is not null %}
			<div class="team-content">
				{{ description|html }}
			</div>
		{% endif %}

		{% for social in socials  %}
			{{ canvas_component('social-icon', {'icon': social.icon, 'link': social.link, 'options': social.options  }) }}
		{% endfor %}

	</div>
</div>
