<div class="row common-height bottommargin-lg clearfix">
	{% for member in team %}

		{% if member.image is defined %}{% set image = member.image %}{% else %}{% set image = '' %}{% endif %}
		{% if member.job is defined %}{% set job = member.job %}{% else %}{% set job = 'Your job' %}{% endif %}
		{% if member.description is defined %}{% set description = member.description %}{% else %}{% set description = 'Description' %}{% endif %}

		{% if loop.index0 % 2 == 0 %}
			<div class="col-md-5 col-padding" style="background: url({{ image }}) center center no-repeat; background-size: cover;"></div>
			<div class="col-md-7 col-padding" {% if member.bgColor is defined %}style="background-color: {{ member.bgColor }};"{% endif %}>
				<div>
					<div class="heading-block">
						<span class="before-heading color">{{ job|html }}</span>
						<h3>{{ member.name }}</h3>
					</div>
					<div class="row clearfix">
						<div class="col-lg-6">
							{{ description|html }}
							{% if member.socials is defined %}{{ canvas_component('social-icons', {'socials': member.socials}) }}{% endif %}
						</div>
						{% if member.skills is defined %}
							<div class="col-lg-6">
								{{ canvas_component('animation-skill-bar',{'skills': member.skills}) }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
				<div class="col-md-7 col-padding" {% if member.bgColor is defined %}style="background-color: {{ member.bgColor }};"{% endif %}>
					<div>
						<div class="heading-block">
							<span class="before-heading color">{{ job|html }}</span>
							<h3>{{ member.name }}</h3>
						</div>
						<div class="row clearfix">
							<div class="col-lg-6">
								{{ description|html }}
								{% if member.socials is defined %}{{ canvas_component('social-icons', {'socials': member.socials}) }}{% endif %}
							</div>
							{% if member.skills is defined %}
								<div class="col-lg-6">
									{{ canvas_component('animation-skill-bar',{'skills': member.skills}) }}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-5 col-padding" style="background: url({{ image }}) center center no-repeat; background-size: cover;"></div>
		{% endif %}
	{% endfor %}
</div>

