<div class="fancy-title title-border">
	<h3>3 Columns</h3>
</div>

{% for member in team %}
	{% if loop.index < 4 %}
		<div class="col_one_third{% if loop.index is same as(3) %} col_last{% endif %}">
			{{ canvas_component('team', {'name': member.name, 'job': member.job, 'image': member.image , 'socials': member.socials  }) }}
		</div>
	{% endif %}
{% endfor %}

<div class="clear"></div>

<div class="fancy-title title-border">
	<h3>4 Columns</h3>
</div>

<div class="row">
	{% for member in team %}

		<div class="col-lg-3 col-md-6 bottommargin">
			{{ canvas_component('team', {'name': member.name, 'job': member.job, 'image': member.image , 'socials': member.socials  }) }}
		</div>

	{% endfor %}

</div>

<div class="clear"></div>

<div class="fancy-title title-border">
	<h3>List Layout</h3>
</div>

<div class="row">
	{% for member in team %}
		{% if loop.index < 3 %}
			<div class="col-lg-6 bottommargin">
				{{ canvas_component('team', {'name': member.name, 'job': member.job, 'image': member.image , 'socials': member.socials, 'description': member.description, 'list':'true'  }) }}
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class="clear"></div>

{% set teamList = [] %}
{% for member in team %}
	{% set teamList = teamList|merge([ canvas_component('team', {'name': member.name, 'job': member.job, 'image': member.image , 'socials': member.socials }) ]) %}
{% endfor %}

<div class="fancy-title title-border title-center">
	<h3>Grid Layout - Carousel</h3>
</div>

{{ canvas_component('carousel-advanced',
	{
		'carousel':{
		'teamCarousel': true,
		'items': {'sm': 2, 'md': 2, 'xl': 4},
		'margin': 30,
		'pagi': 'false',
		'list': teamList
	}
	})
}}

<div class="clear"></div>

<div class="fancy-title title-border title-center">
	<h3>List Layout - Carousel</h3>
</div>

{% set teamList2 = [] %}
{% for member in team %}
	{% set teamList2 = teamList2|merge([ canvas_component('team', {'name': member.name, 'job': member.job, 'image': member.image , 'socials': member.socials, 'description': member.description, 'list':'true'  }) ]) %}
{% endfor %}

{{ canvas_component('carousel-advanced',
	{
		'carousel':{
		'teamCarousel': true,
		'items': {'md': 1, 'xl': 2},
		'margin': 30,
		'nav': false,
		'list': teamList2
	}
	})
}}
