{% set dataModal = "
<table class='table'>
    <thead class='thead-dark'>
    <tr>
        <th scope='col'>Parameter</th>
        <th scope='col'>Expected</th>
        <th scope='col'>Required</th>
        <th scope='col'>Explanation</th>
    </tr>
    </thead>
    <tbody>" %}

{#Boucle sur les parametre de la documentation du component#}
{% for key, data in component.documentation %}
    {% set dataModal = dataModal ~ "<tr>
    <th scope='row'>" ~ key ~ "</th>" %}
    {#Boucle sur les données de chaque parametre#}
    {% for keyItem, item in data %}
        {% if keyItem == 'required' %}
            {% if item == 'true' %}
                {% set dataModal = dataModal ~ "<th><span class='badge badge-primary'>" ~ item ~ "</span></th>" %}
            {% else %}
                {% set dataModal = dataModal ~ "<th><span class='badge badge-secondary'>" ~ item ~ "</span></th>" %}
            {% endif %}
        {% else %}
            {% set dataModal = dataModal ~ "<th>" ~ item ~ "</th>" %}
        {% endif %}
        {#Si dernier item et explanation est definie#}
        {% if loop.last and data.explanation is defined %}
            {% set dataModal = dataModal ~ "</tr>" %}
        {% elseif loop.last and data.explanation is not defined %}
            {% set dataModal = dataModal ~ "<th><span class='badge badge-dark'>none</span></th></tr>" %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set dataModal = dataModal~"</tbody></table>" %}

{#Buttton info#}
<div style="position: relative;
            margin-left: 10px;
            margin-bottom: -50px;">
    <a href="#"
       data-toggle="modal"
       data-target="#{{ component.id_documentation }}"
       style="padding: 0.075rem 0.25rem; background: transparent; border: none; color: #333333;"
    >
        <i class="icon-info-circle" style="font-size: 1.3em"></i>
    </a>
</div>

{#Modal#}
{{ canvas_component('modal',{
    'dataTarget': component.id_documentation,
    'labelledby': component.id_documentation ,
    'size': 'large',
    'headTitle': 'Documentation',
    'body': dataModal,
}) }}



