{# MODAL BUTTON
#	params:
#		buttonClass: null/string
#		dataTarget: string
#		buttonLabel: string, peut contenir du html
#}

<a href="#"
   data-toggle="modal"
   data-target="#{{ dataTarget }}"
   class="button button-3d nomargin btn-block d-block d-md-none center">
	{{ buttonLabel|html }}
</a>
