{# MODAL BUTTON
#	params:
#		buttonClass: null/string
#		dataTarget: string
#		buttonLabel: string, peut contenir du html
#}
<a 		href="#"
		class="btn {% if buttonClass is defined and buttonClass is not null %}{{ buttonClass }}{% else %}btn-primary{% endif %} "
		data-toggle="modal"
		data-target="#{{ dataTarget }}">
	{{ buttonLabel|html }}
</a>
