{# MODAL BUTTON
#	params:
#		buttonClass: null/string
#		dataTarget: string
#		buttonLabel: string, peut contenir du html
#}
{% if borderButton.label is defined %}
	{% set buttonLabel = borderButton.label %}
{% else %}
	{% set buttonLabel = 'sticky' %}
{% endif %}

{% if borderButton.color is defined %}
	{% set buttonColor = borderButton.color %}
{% else %}
	{% set buttonColor = '#222' %}
{% endif %}

{% if borderButton.bgColor is defined %}
	{% set buttonBgColor = borderButton.bgColor %}
{% else %}
	{% set buttonBgColor = '#EEE' %}
{% endif %}

<style>
	.sticky-side-element {
		position: fixed;
		top: 50%;
		margin-top: -24px;
		left: auto;
		right: -31px;
		height: 48px;
		line-height: 48px;
		padding: 0 15px;
		background-color: #EEE;
		color: #222;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		z-index: 100;
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
	}
</style>

<a href="#"
   data-toggle="modal"
   data-target="#{{ dataTarget }}"
   class="sticky-side-element">
	{{ buttonLabel|html }}
</a>
