{# MODAL
#	params:
#		dataTarget: string
#		labelledby: string
#		size: string // large, small, default
#		headTitle: string, peut contenir du html
#		body: string, peut contenir du html
#		footer: contient un objet
#			buttonCloseClass: string
#			closeLabel: string, peut contenir du html
#			actions: null / array d'objet à améliorer
#
#}

<div class="modal fade" id="{{ dataTarget }}" tabindex="-1" role="dialog" aria-labelledby="{{ labelledby }}" style="display: none;" aria-hidden="true">
	<div class="modal-dialog {% if size is same as('large') %}modal-lg{% endif %}{% if size is same as('small') %}modal-sm{% endif %}">
		<div class="modal-body">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="{{ labelledby }}">{{ headTitle|html }}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					{{ body|html }}
				</div>
				{% if footer is defined and footer is not empty %}
					<div class="modal-footer">
						<button type="button" class="{{ footer.buttonCloseClass }}" data-dismiss="modal">{{ footer.closeLabel|html }}</button>

						{% if footer.actions is defined and footer.actions is not empty %}
							{% for action in footer.actions  %}
								<button type="button" class="{{ action.buttonClass }}">{{ action.buttonLabel|html }}</button>
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
