<div class="postcontent nobottommargin clearfix">

	<h3>Modals</h3>

	<!-- Button trigger modal -->
	{% for modal in modals  %}

		{% if loop.first %}
			{{ canvas_component('modal-button',{ 'buttonClass': modal.buttonClass, 'dataTarget': modal.dataTarget ,'buttonLabel': modal.buttonLabel }) }}
			{{ canvas_component('modal',{
				'dataTarget': modal.dataTarget,
				'labelledby': modal.labelledby,
				'size': modal.size,
				'headTitle': modal.headTitle,
				'body': modal.body,
				'footer' : modal.footer,
			}) }}
		{% endif %}

	{% endfor %}

	<!-- Modal -->


	<div class="line"></div>

	<h4>Modal - Optional Sizes</h4>
	<!-- Large modal -->
	<!-- Small modal -->
	{% for modal in modals  %}

		{% if not loop.first %}
			{{ canvas_component('modal-button',{ 'buttonClass': modal.buttonClass, 'dataTarget': modal.dataTarget ,'buttonLabel': modal.buttonLabel }) }}
			<!-- Modal -->
			{{ canvas_component('modal',{
				'dataTarget': modal.dataTarget,
				'labelledby': modal.labelledby,
				'size': modal.size,
				'headTitle': modal.headTitle,
				'body': modal.body,
			}) }}
		{% endif %}

	{% endfor %}

	<div class="divider"><i class="icon-circle"></i></div>

	<h3>Popovers</h3>

	{% for popover in popovers %}
		{{ canvas_component('popover',{ 'popover': popover }) }}
	{% endfor %}
	<div class="divider"><i class="icon-circle"></i></div>

	<h3>Tooltips</h3>

	{% for tooltip in tooltips %}
		{{ canvas_component('tooltip',{ 'tooltip': tooltip }) }}
	{% endfor %}

	<div class="divider"><i class="icon-circle"></i></div>

	<h3>Notification Types</h3>
	{% for notification in notifications %}
		{% if loop.index < 5 %}
			{{ canvas_component('notification',{ 'notification': notification }) }}
		{% endif %}
	{% endfor %}

	<div class="line"></div>


	<h4>Notification Positions</h4>
	{% for notification in notifications %}
		{% if loop.index > 4 %}
			{{ canvas_component('notification',{ 'notification': notification }) }}
		{% endif %}
	{% endfor %}


</div>
