<div {% if class is defined %}class="{{ class }}"{% endif %}>
	{{ canvas_component('modal-button',{ 'buttonClass': buttonClass, 'dataTarget': dataTarget ,'buttonLabel': buttonLabel }) }}

	{% if lightButtonLabel is defined %}
		{{ canvas_component('modal-button-light',{ 'dataTarget': dataTarget ,'buttonLabel': lightButtonLabel }) }}
	{% endif %}

	{% if borderButton is defined %}
		{{ canvas_component('modal-button-border',{ 'dataTarget': dataTarget ,'borderButton': borderButton }) }}
	{% endif %}

	{{ canvas_component('modal',{ 'dataTarget': dataTarget, 'labelledby': labelledby, 'size': size, 'headTitle': headTitle, 'body': body, 'footer': footer }) }}
</div>
