{% if notification.element is same as('button') %}
	<button type="button"
	   class="{{ notification.elementClass }}"
	   data-notify-type="{{ notification.notifyType }}"
	   data-notify-position="{{ notification.position }}"
	   data-notify-msg="{{ notification.message|html }}"
	   onclick="SEMICOLON.widget.notifications(this); return false;">

		{{ notification.elementLabel|html }}

	</button>
{% endif %}

{% if notification.element is same as('a') %}
	<a href="{% if notification.elementHref is defined and notification.elementHref is not null %} {{ notification.elementHref }} {% else %}#{% endif %}"
	   class="{{ notification.elementClass }}"
	   data-notify-type="{{ notification.notifyType }}"
	   data-notify-position="{{ notification.position }}"
	   data-notify-msg="{{ notification.message|html }}"
	   onclick="SEMICOLON.widget.notifications(this); return false;">

		{{ notification.elementLabel|html }}

	</a>
{% endif %}
