<button type="button"
		class="{{ popover.buttonClass }}"
		data-container="body"
		data-toggle="popover"
		data-placement="{{ popover.placement }}"
		data-content="{{ popover.content }}"
		data-original-title="" title="">
	{{ popover.buttonLabel|html }}
</button>
