{% if tooltip.element is same as('button') %}
	<button type="button"
			class="{{ tooltip.elementClass }}"
			data-toggle="tooltip"
			data-placement="{{ tooltip.placement }}"
			data-content="{{ tooltip.content }}"
			data-original-title="{{ tooltip.content }}" title="">
		{{ tooltip.elementLabel|html }}
	</button>
{% endif %}

{% if tooltip.element is same as('a') %}
	<a href="{{ tooltip.elementHref }}"
			class="{{ tooltip.elementClass }}"
			data-toggle="tooltip"
			data-placement="{{ tooltip.placement }}"
			data-content="{{ tooltip.content }}"
			data-original-title="{{ tooltip.content }}" title="">
		{{ tooltip.elementLabel|html }}
	</a>
{% endif %}

{% if tooltip.element is same as('span') %}
	<span class="d-inline-block {{ tooltip.elementClass }}"
			data-toggle="tooltip"
			data-placement="{{ tooltip.placement }}"
			data-content="{{ tooltip.content }}"
			data-original-title="{{ tooltip.content }}" title="">
		{{ tooltip.elementLabel|html }}
	</span>
{% endif %}

