<div class="fancy-title title-dotted-border title-center">
	<h3>QUOTES & BLOCKQUOTES</h3>
</div>

<div class="nobottommargin clearfix">

	<blockquote class="float-{{ float }}">
		<img src="{{ asset('canvas/' ~ path ) }}" alt="Picture not loaded">
	</blockquote>

	<p>{{ content }}</p>
	<div {% if float == 'left' %} class="blockquote-reverse" {% endif %}>
		<footer class="blockquote-footer">{{ author }}</footer>
	</div>

</div>
