<div id="posts" class="events small-thumbs">
	{% for event in events  %}
		<div class="entry clearfix">
			<div class="entry-image">
				<a href="#">
					<img src="{{ asset(event.image) }}"
						 alt="{{ event.title }}">
					<div class="entry-date">{{ event.date|date('d') }}<span>{{ event.date|date('M') }}</span></div>
				</a>
			</div>
			<div class="entry-c">
				<div class="entry-title">
					<h2><a href="#">{{ event.title }}</a></h2>
				</div>
				<ul class="entry-meta clearfix">
					{% for type, meta in event.metas %}
						{% if type == 'badge' %}
							<li><span class="badge badge-{{ meta.type }}">{{ meta.label }}</span></li>
						{% elseif type == 'hours' %}
							<li><a href="#"><i class="icon-time"></i> {{ meta }}</a></li>
						{% elseif type == 'location' %}
							<li><a href="#"><i class="icon-map-marker2"></i> {{ meta }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="entry-content">
					<p>{{ event.content }}</p>
					{% for action in event.actions  %}
						<a href="{{ action.href }}" class="btn btn-{{ action.type }}">{{ action.label }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}

	{#<div class="entry clearfix">#}
		{#<div class="entry-image">#}
			{#<a href="#">#}
				{#<img src="{{ asset('canvas/images/events/thumbs/2.jpg') }}"#}
					 {#alt="Nemo quaerat nam beatae iusto minima vel">#}
				{#<div class="entry-date">16<span>Apr</span></div>#}
			{#</a>#}
		{#</div>#}
		{#<div class="entry-c">#}
			{#<div class="entry-title">#}
				{#<h2><a href="#">Nemo quaerat nam beatae iusto minima vel</a></h2>#}
			{#</div>#}
			{#<ul class="entry-meta clearfix">#}
				{#<li><span class="badge badge-danger">Urgent</span></li>#}
				{#<li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>#}
				{#<li><a href="#"><i class="icon-map-marker2"></i> Perth, Australia</a></li>#}
			{#</ul>#}
			{#<div class="entry-content">#}
				{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi#}
				   {#autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus#}
				   {#exercitationem eligendi fuga.</p>#}
				{#<a href="#" class="btn btn-info">RSVP</a> <a href="#" class="btn btn-danger">Read More</a>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}

	{#<div class="entry clearfix">#}
		{#<div class="entry-image">#}
			{#<a href="#">#}
				{#<img src="{{ asset('canvas/images/events/thumbs/3.jpg') }}"#}
					 {#alt="Ducimus ipsam error fugiat harum recusandae">#}
				{#<div class="entry-date">3<span>May</span></div>#}
			{#</a>#}
		{#</div>#}
		{#<div class="entry-c">#}
			{#<div class="entry-title">#}
				{#<h2><a href="#">Ducimus ipsam error fugiat harum recusandae</a></h2>#}
			{#</div>#}
			{#<ul class="entry-meta clearfix">#}
				{#<li><span class="badge badge-info">Public</span></li>#}
				{#<li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>#}
				{#<li><a href="#"><i class="icon-map-marker2"></i> Melbourne, Australia</a></li>#}
			{#</ul>#}
			{#<div class="entry-content">#}
				{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi#}
				   {#autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus#}
				   {#exercitationem eligendi fuga.</p>#}
				{#<a href="#" class="btn btn-secondary">Buy Tickets</a> <a href="#" class="btn btn-danger">Read More</a>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}

	{#<div class="entry clearfix">#}
		{#<div class="entry-image">#}
			{#<a href="#">#}
				{#<img src="{{ asset('canvas/images/events/thumbs/4.jpg') }}"#}
					 {#alt="Nisi officia adipisci molestiae aliquam">#}
				{#<div class="entry-date">16<span>Jun</span></div>#}
			{#</a>#}
		{#</div>#}
		{#<div class="entry-c">#}
			{#<div class="entry-title">#}
				{#<h2><a href="#">Nisi officia adipisci molestiae aliquam</a></h2>#}
			{#</div>#}
			{#<ul class="entry-meta clearfix">#}
				{#<li><span class="badge badge-warning">Private</span></li>#}
				{#<li><a href="#"><i class="icon-time"></i> 12:00 - 18:00</a></li>#}
				{#<li><a href="#"><i class="icon-map-marker2"></i> New York</a></li>#}
			{#</ul>#}
			{#<div class="entry-content">#}
				{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi#}
				   {#autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus#}
				   {#exercitationem eligendi fuga.</p>#}
				{#<a href="#" class="btn btn-info">RSVP</a> <a href="#" class="btn btn-danger">Read More</a>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}
</div>
