{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
	    </div>
	{{ form_end(form) }}
{% endblock content %}
