{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="fos_user_user_show">
	    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
	    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
	</div>
{% endblock content %}
