<div id="page-menu">
	<div id="page-menu-wrap">
		<div class="container clearfix">
			<div class="menu-title">{{ title|raw }}</div>
			<nav>
				<ul>
					{% for link in links %}
						<li {% if app.request.pathinfo == link[1] %}class="current"{% endif %}>
							<a href="{{ link[1] }}">
								<div>{{ link[0] }}</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
		</div>
	</div>
</div>
