{% if container is defined and container %}
<div class="container clearfix">
    {% else %}
    <div class="p-5">
        {% endif %}
        <div class="{% if marginTop is defined and marginTop == false %}notopmargin{% elseif marginTop is defined %}topmargin-lg{% endif %}
            {% if marginBottom is defined and marginBottom == false %}nobottommargin{% elseif marginBottom is defined %}bottommargin-lg{% endif %}">
            <div class="m-5" style="min-height: 350px; float: {% if side == 'left' %}left;{% else %}right;{% endif %}">
                {% if img is defined %}
                    <img src="{{ img }}" style="max-height: 30em;">
                {% endif %}
            </div>

            <div>
                <div>
                    <h3 style="{% if titleColor is defined %}color:{{ titleColor }}{% endif %}">{{ title }}</h3>
                    {% if subTitle is defined %}
                        <h4>{{ subTitle }}</h4>
                    {% endif %}
                </div>
                {% if text is defined %}
                    {{ text|html }}
                {% endif %}
            </div>

            <div class="clear"></div>
            <div class="line"></div>
        </div>
    </div>
