{% set count = 0 %}

<div class="section">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>{{ title }}</h2>
            {% if subTitle is defined %}
                <span>{{ subTitle }}</span>
            {% endif %}
        </div>

        <div class="col_full">
            <img data-animate="fadeIn" class="aligncenter" src="{{ img }}">
        </div>
        {% if data is defined %}
            {% for data in item %}
                {% set count = count+1 %}
                <div class="col_one_third nobottommargin {% if count == 3 %}{% set count = 0 %} col_last{% endif %}">

                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt">{{ data.nb }}.</i></a>
                        </div>
                        <h3>{{ data.title }}</h3>
                        <p>{{ data.text|html }}</p>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>