<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="col_three_fifth nobottommargin">

				{% if careers.items is defined and careers.items is not empty %}
					{% set items = careers.items %}
				{% else %}
					{% set items = '' %}
				{% endif %}



				{% for item in items %}
					{{ canvas_component('careers-item', { 'last': loop.last, 'item': item }) }}

					<div class="divider divider-short"><i class="icon-star3"></i></div>
				{% endfor %}



			</div>

				{% if careers.form is defined and careers.form is not empty %}
					{% set form = careers.form %}
				{% else %}
					{% set form = '' %}
				{% endif %}

				{{ canvas_component('careers-form', { 'form': form, 'items': items }) }}



		</div>

	</div>

</section>
