{% if item.title is defined and item.title is not empty %}
	{% set title = item.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if item.description is defined and item.description is not empty %}
	{% set description = item.description %}
{% else %}
	{% set description = 'No data' %}
{% endif %}

{% if item.expects is defined and item.expects is not empty %}
	{% set expects = item.expects %}
{% else %}
	{% set expects = '' %}
{% endif %}

{% if item.requirements is defined and item.requirements is not empty %}
	{% set requirements = item.requirements %}
{% else %}
	{% set requirements = '' %}
{% endif %}

{% if item.profil is defined and item.profil is not empty %}
	{% set profil = item.profil %}
{% else %}
	{% set profil = '' %}
{% endif %}

<div class="fancy-title title-bottom-border">
	<h3>{{ title }}</h3>
</div>

<p>{{ description }}</p>

<div class="accordion accordion-bg clearfix">

	<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Requirements</div>
	<div class="acc_content clearfix">
		<ul class="iconlist iconlist-color nobottommargin">
			{% for item in requirements %}
				<li><i class="icon-ok"></i>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What we Expect from you?</div>
	<div class="acc_content clearfix">
		<ul class="iconlist iconlist-color nobottommargin">
			{% for item in expects %}
				<li><i class="icon-plus-sign"></i>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What you've got?</div>
	<div class="acc_content clearfix">{{ profil|html }}</div>

</div>

<a href="#" data-scrollto="#job-apply" {% if last %} data-highlight="yellow" {% endif %}class="button button-3d button-black nomargin">Apply Now</a>
