{% if pagi is not defined %}
	{% set pagi="true" %}
{% endif %}
{% if animation is not defined %}
	{% set animation="" %}
{% endif %}

{% if title is not defined %}
	{% set title="title" %}
{% endif %}
{% if subTitle is not defined %}
	{% set subTitle="" %}
{% endif %}

<div class="heading-block center nobottomborder">
	<h2>{{ title }}</h2>
	<span>{{ subTitle|html }}</span>
</div>
<div style="{% if style is defined %}{{ style }}{% endif %} display: flex; align-items: center; justify-content: center;">
	<div class="fslider" data-pagi="{{ pagi }}" data-animation="{{ animation }}">
		<div class="flexslider">
			<div class="slider-wrap">
				{% for slider in list %}
					<div class="slide"><a href="{{ slider.link }}"><img src="{{ slider.imageUrl }}" alt="{{ slider.alt }}"></a></div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
