{# SHARE PANEL
#	params:
#		title: string
#		socials: array d'objet icone
#}
<div class="si-share clearfix">
	<span>{{ title }}</span>
	<div>
		{% for social in socials %}
			{% if loop.index < 6 %}
				{% if loop.index is odd %}
					{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['borderless','text-color'] }) }}
				{% else %}
					{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['colored'] }) }}
				{% endif %}

			{% endif %}
		{% endfor %}
	</div>
</div>
