{# SOCIAL ICON
#	params:
#		title: null/string
#		link: string
#		iconClass: null/string
#		icon: string // doit correspondre à une icone valide dans canvas
#		options: array // borderless, text-color, colored, dark, small, light, large, rounded
#}

{% if route is not defined %}
	{% set route = '#' %}
{% endif %}
{% if link is not defined %}
	{% set link = '#' %}
{% endif %}


{% if link != '#' %}
	<a href="{{ link }}" target="_blank"
	   {% if footer_title is defined and footer_title is not null %}title="{{footer_title}}"{% endif %}
	   {% if animate is defined and animate is not null %}data-animate="{{animate}}"{% endif %}
	   {% if delay is defined and delay is not null %}data-delay="{{ delay }}"{% endif %}
	   class="social-icon {% if iconClass is defined and iconClass is not null %}{{ iconClass }}{% endif %} {% if options is defined %}{% for option in options %} si-{{ option }} {% endfor %}{% endif %} si-{{ icon }}"
	>
		<i class="icon-{{ icon }}"></i>
	</a>
{% elseif route != '#' %}
	<a href="{{ path( route ) }}" target="_blank"
	   {% if footer_title is defined and footer_title is not null %}title="{{footer_title}}"{% endif %}
			{% if animate is defined and animate is not null %}data-animate="{{animate}}"{% endif %}
			{% if delay is defined and delay is not null %}data-delay="{{ delay }}"{% endif %}
	   class="social-icon {% if iconClass is defined and iconClass is not null %}{{ iconClass }}{% endif %} {% if options is defined %}{% for option in options %} si-{{ option }} {% endfor %}{% endif %} si-{{ icon }}"
	>
		<i class="icon-{{ icon }}"></i>
	</a>
{% endif %}
