<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'animate': 'bounceInLeft', 'delay': 500 }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>

<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['dark'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['light'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['rounded'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['rounded', 'dark'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['rounded','light'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['borderless'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['borderless','text-color'] }) }}
	{% endfor %}

</div>
<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['colored'] }) }}
	{% endfor %}

</div>

<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['dark','small'] }) }}
	{% endfor %}

</div>

<div class="divider divider-center"><i class="icon-circle"></i></div>
<div class="col_full clearfix">
	{% for social in socials  %}
		{{ canvas_component('social-icon', {'icon': social, 'link': '#', 'options': ['dark','large'] }) }}
	{% endfor %}

</div>


<div class="divider divider-center"><i class="icon-circle"></i></div>

<div class="col_half nobottommargin">

	<h4>Share Panel</h4>
	{{ canvas_component('share-panel', {'socials': socials, 'title': 'Share this Post:' }) }}
</div>




