{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {attr:{class:"nobottommargin", action: path("fos_user_security_check") }}) }}
	{% if error is defined and error is not null %}
		<div class="alert alert-danger" role="alert">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}

	<div class="col_full">
		{{ form_row( form._username ) }}
	</div>
	<div class="col_full">
		{{ form_row(form._password) }}
	</div>
	<div class="form-col_full">
		{{ form_widget(form.recaptcha) }}
		<div class="text-danger">
			{{ form_errors(form.recaptcha) }}
		</div>
	</div>
	<div class="col_full">
		<input id="remember_me" class="checkbox-style" name="_remember_me" type="checkbox" value="on">
		<label for="remember_me" class="checkbox-style-3-label">{{ 'security.login.remember_me'|trans }}</label>
	</div>

	<div class="col_full nobottommargin">
		<button class="button button-3d nomargin" id="_submit" name="login-form-submit" value="_submit"
				type="submit">{{ 'security.login.submit'|trans }}</button>
		{% if send_password is defined and send_password == true %}
			<a href="{{ path('fos_user_resetting_request') }}" class="fright">Mot de passe oublié ?</a>
		{% endif %}
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
{{ form_end(form) }}


