{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<section>
		<div class="container">
			<div class="row justify-content-sm-center">
				<div class="col-lg-8 color-white">
					<div class="m-t-30 m-b-30">
						<h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>


					<div class="text-center m-t-30">
						<a href="{{ path('back.dashboard') }}" class="btn btn-custom-1 btn-creative btn-icon-holder">
							COMMENCER
							<i class="fa fa-arrow-right"></i>
						</a>
					</div>


				</div>
			</div>
		</div>
	</section>
{% endblock content %}
{% block javascript %}
	{{ parent() }}
	{{ encore_entry_script_tags('front') }}
{% endblock %}
