{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'registration.submit'|trans }}" />
	    </div>
	{{ form_end(form) }}
{% endblock content %}
