<div class="container clearfix">

	{% set nextFollow = false %}
	{% for element in lists %}
		{% if nextFollow == true %}
			{% set nextFollow = false %}
		{% else %}
			<div {% if element.class is defined %}class="{{ element.class }}"{% endif %}>
		{% endif %}
			{% if element.title is defined %}<h3>{{ element.title }}</h3>{% endif %}
			{% if element.list is defined and element.list|length > 0 %}
				{% for item in element.list %}
					{% if item.icon is defined %}
						{% set icon = item.icon %}
					{% else %}
						{% set icon = 'ok' %}
					{% endif %}
					{% if item.link is defined %}
						{% set link = item.link %}
					{% else %}
						{% set link = '#' %}
					{% endif %}
					{% if item.label is defined %}
						{% set label = item.label %}
					{% else %}
						{% set label = 'title' %}
					{% endif %}
					<ul class="iconlist nobottommargin">
						<li><i class="icon-{{ icon }}"></i><a href="{{ link }}">{{ label }}</a>
							{% if item.subList is defined and item.subList|length > 0 %}
								<ul>
									{% for subElement in item.subList %}
										{% if subElement.icon is defined %}
											{% set subIcon = subElement.icon %}
										{% else %}
											{% set subIcon = 'ok' %}
										{% endif %}
										{% if subElement.link is defined %}
											{% set subLink = subElement.link %}
										{% else %}
											{% set subLink = '#' %}
										{% endif %}
										{% if subElement.label is defined %}
											{% set subLabel = subElement.label %}
										{% else %}
											{% set subLabel = 'title' %}
										{% endif %}
										<li><i class="icon-{{ subIcon }}"></i><a href="{{ subLink }}">{{ subLabel }}</a>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					</ul>
				{% endfor %}
			{% endif %}
		{% if element.nextFollow is defined and element.nextFollow == true %}
			<div class="line"></div>
			{% set nextFollow = true  %}
		{% else %}
			</div>
		{% endif %}
	{% endfor %}


	{#{{ dump(lists) }}#}


	{#<div class="col_one_third nobottommargin">#}

		{#<h3>Pages</h3>#}

		{#<ul class="iconlist nobottommargin">#}
			{#<li><i class="icon-file-alt"></i><a href="#">Homepage</a>#}
				{#<ul>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Corporate</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Magazine</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Portfolio</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Blog</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Shop</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Landing Page</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Full Screen</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - One Page</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Events</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - Parallax</div></a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#"><div>Home - App Showcase</div></a></li>#}
				{#</ul>#}
			{#</li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">About</a>#}
				{#<ul>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 1</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 2</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">About me</a></li>#}
				{#</ul>#}
			{#</li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">FAQs</a>#}
				{#<ul>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 1</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 2</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 3</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Style 4</a></li>#}
				{#</ul>#}
			{#</li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Features</a></li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Portfolio</a>#}
				{#<ul>#}
					{#<li><i class="icon-file-alt"></i><a href="#">1 Column</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">2 Columns</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">3 Columns</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">4 Columns</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">5 Columns</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">6 Columns</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Portfolio Single</a></li>#}
				{#</ul>#}
			{#</li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Contact</a>#}
				{#<ul>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Full Width</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Map Content Overlay</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Map Content Overlay Mini</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Left Sidebar</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Right Sidebar</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Both Sidebar</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Half Map / Half Form</a></li>#}
					{#<li><i class="icon-file-alt"></i><a href="#">Modal Form</a></li>#}
				{#</ul>#}
			{#</li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Blog</a></li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Shop</a></li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Shortcodes</a></li>#}
			{#<li><i class="icon-file-alt"></i><a href="#">Login/Register</a></li>#}
		{#</ul>#}

	{#</div>#}

	{#<div class="col_one_third nobottommargin">#}

		{#<h3>Blog Posts</h3>#}

		{#<ul class="iconlist nobottommargin">#}
			{#<li><i class="icon-pencil2"></i><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Labore fuga nisi delectus officia vel animi possimus.</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">FAQs</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Features</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Portfolio</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Contact</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Blog</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Shop</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Shortcodes</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="#">Login/Register</a></li>#}
		{#</ul>#}

		{#<div class="line"></div>#}

		{#<h3>Products</h3>#}

		{#<ul class="iconlist nobottommargin">#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Blue Round-Neck Tshirt</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Checked Short Dress</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Light Blue Denim Dress</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Slim Fit Chinos</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Round-Neck Tshirt</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Green Trousers</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Silver Chrome Watch</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Black Polo Tshirt</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Pink Printed Dress</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Blue Round-Neck Tshirt</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Men Aviator Sunglasses</a></li>#}
			{#<li><i class="icon-shopping-cart"></i><a href="#">Unisex Sunglasses</a></li>#}
		{#</ul>#}

		{#<div class="line"></div>#}

		{#<h3>Portfolio Works</h3>#}

		{#<ul class="iconlist nobottommargin">#}
			{#<li><i class="icon-camera"></i><a href="#">Open Imagination</a></li>#}
			{#<li><i class="icon-camera"></i><a href="#">Locked Steel Gate</a></li>#}
			{#<li><i class="icon-film"></i><a href="#">Mac Sunglasses</a></li>#}
			{#<li><i class="icon-picture"></i><a href="#">Morning Dew</a></li>#}
			{#<li><i class="icon-camera"></i><a href="#">Console Activity</a></li>#}
			{#<li><i class="icon-picture"></i><a href="#">Shake It!</a></li>#}
			{#<li><i class="icon-film"></i><a href="#">Backpack Contents</a></li>#}
			{#<li><i class="icon-camera"></i><a href="#">Sunset Bulb Glow</a></li>#}
			{#<li><i class="icon-picture"></i><a href="#">Bridge Side</a></li>#}
			{#<li><i class="icon-film"></i><a href="#">Study Table</a></li>#}
			{#<li><i class="icon-camera"></i><a href="#">Workspace Stuff</a></li>#}
			{#<li><i class="icon-picture"></i><a href="#">Fixed Aperture</a></li>#}
		{#</ul>#}

	{#</div>#}

	{#<div class="col_one_third nobottommargin col_last">#}

		{#<h3>Shortcodes</h3>#}

		{#<ul class="iconlist nobottommargin">#}
			{#<li><i class="icon-magic"></i><a href="animations.html">Animations</a></li>#}
			{#<li><i class="icon-link"></i><a href="buttons.html">Buttons</a></li>#}
			{#<li><i class="icon-heart3"></i><a href="carousel.html">Carousel</a></li>#}
			{#<li><i class="icon-bar-chart"></i><a href="charts.html">Charts</a></li>#}
			{#<li><i class="icon-apple"></i><a href="clients.html">Clients</a></li>#}
			{#<li><i class="icon-th-large"></i><a href="columns-grids.html">Columns</a></li>#}
			{#<li><i class="icon-time"></i><a href="counters.html">Counters</a></li>#}
			{#<li><i class="icon-indent-right"></i><a href="dividers.html">Dividers</a></li>#}
			{#<li><i class="icon-lightbulb"></i><a href="featured-boxes.html">Icon Boxes</a></li>#}
			{#<li><i class="icon-picture"></i><a href="gallery.html">Galleries</a></li>#}
			{#<li><i class="icon-pencil2"></i><a href="headings-dropcaps.html">Heading Styles</a></li>#}
			{#<li><i class="icon-list-alt"></i><a href="icon-lists.html">Icon Lists</a></li>#}
			{#<li><i class="icon-plus-sign"></i><a href="labels-badges.html">Labels</a></li>#}
			{#<li><i class="icon-resize-full"></i><a href="lightbox.html">Lightbox</a></li>#}
			{#<li><i class="icon-th-list"></i><a href="lists-panels.html">Lists &amp; Panels</a></li>#}
			{#<li><i class="icon-map-marker2"></i><a href="maps.html">Maps</a></li>#}
			{#<li><i class="icon-play"></i><a href="media-embeds.html">Media Embeds</a></li>#}
			{#<li><i class="icon-move"></i><a href="modal-popovers.html">Modal Boxes</a></li>#}
			{#<li><i class="icon-align-justify2"></i><a href="navigation.html">Navigations</a></li>#}
			{#<li><i class="icon-cogs"></i><a href="pagination-progress.html">Pagination</a></li>#}
			{#<li><i class="icon-tasks"></i><a href="pie-skills.html">Pies &amp; Skills</a></li>#}
			{#<li><i class="icon-dollar"></i><a href="pricing.html">Pricing Boxes</a></li>#}
			{#<li><i class="icon-thumbs-up"></i><a href="process-steps.html">Process Steps</a></li>#}
			{#<li><i class="icon-rocket"></i><a href="promo-boxes.html">Promo Boxes</a></li>#}
			{#<li><i class="icon-quote-left"></i><a href="quotes-blockquotes.html">Blockquotes</a></li>#}
			{#<li><i class="icon-laptop2"></i><a href="responsive.html">Responsive</a></li>#}
			{#<li><i class="icon-folder-open"></i><a href="sections.html">Sections</a></li>#}
			{#<li><i class="icon-facebook2"></i><a href="social-icons.html">Social Icons</a></li>#}
			{#<li><i class="icon-exclamation-sign"></i><a href="style-boxes.html">Alert Boxes</a></li>#}
			{#<li><i class="icon-flag2"></i><a href="styled-icons.html">Styled Icons</a></li>#}
			{#<li><i class="icon-table"></i><a href="tables.html">Tables</a></li>#}
			{#<li><i class="icon-star3"></i><a href="tabs.html">Tabs</a></li>#}
			{#<li><i class="icon-user4"></i><a href="testimonials-twitter.html">Testimonials</a></li>#}
			{#<li><i class="icon-camera3"></i><a href="thumbnails-slider.html">Thumbnails</a></li>#}
			{#<li><i class="icon-ok-circle"></i><a href="toggles-accordions.html">Toggles</a></li>#}
		{#</ul>#}

	{#</div>#}

</div>
