{% if contentList is not defined %}
	{% set contentList = ['general','information','media','press','information','media','press','information','media','press','information','media','press','information','media','press','information','media','press'] %}
{% endif %}
{% if contentList2 is not defined %}
	{% set contentList2 = [['icon-line2-briefcase','mathematics headquarters conversation'],['icon-line2-briefcase', 'mathematics headquarters conversation'],['icon-line2-briefcase','mathematics headquarters conversation']] %}
{% endif %}
{% if icon is not defined %}
	{% set icon = 'icon-eye' %}
{% endif %}
{% if contentIcon is not defined %}
	{% set contentIcon = 'mon contentIcon' %}
{% endif %}

<div class="section" style="padding: 40px 0;">
	<div class="center clearfix d-flex flex-row align-items-center justify-content-around">
		<div class="col-md-2 mb-0">
			{{ canvas_component('boxe-custom-1',
				{
					icon: icon,
					content: contentIcon
				}
			) }}
		</div>
		<div class="mb-0">
			<div class="tagcloud clearfix bottommargin">
				{% for item in contentList %}
					<a class="disabled" href="#">{{ item }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4 mb-0">
			<span class="d-flex flex-column justify-content-between align-items-start" style="font-size: .8em;">
				{% for item in contentList2 %}
					<span style="font-size: 1.5em; line-height: 2.5em;">
						<i class="{{ item[0] }}"></i> : {{ item[1] }}
					</span>
				{% endfor %}
			</span>
		</div>

	</div>
</div>
