<ul class="process-steps bottommargin clearfix process-{{ steps|length }}"
	role="tablist">
	{% for step in steps %}
		<li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab
			{% if step.active is defined and step.active == true %}ui-state-active ui-tabs-active{% endif %}
			" aria-controls="ptab{{ loop.index }}" aria-labelledby="ui-id-{{ loop.index }}" aria-selected="true"
			aria-expanded="true">
			{% if step.href is defined %}
				<a href="{{ step.href }}" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor"
				   role="presentation" tabindex="-1" id="ui-id-{{ loop.index }}}">{{ step.loop }}</a>
			{% else %}
				<a href="#ptab{{ loop.index }}" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor"
				   role="presentation" tabindex="-1" id="ui-id-{{ loop.index }}}">{{ loop.index }}</a>
			{% endif %}
			<h5>{{ step.label }}</h5>
		</li>
	{% endfor %}
</ul>
