<div class="fancy-title title-dotted-border title-center">
	<h3>Tables</h3>
</div>
<div class="nobottommargin clearfix">
	<div class="col_full clearfix">

		{% for gallery in galleries %}

			{% if gallery.columns is defined and gallery.columns is not empty %}
				{% set columns = gallery.columns %}
			{% else %}
				{% set columns = '' %}
			{% endif %}

			{% if gallery.pictures is defined and gallery.pictures is not empty %}
				{% set pictures = gallery.pictures %}
			{% else %}
				{% set pictures = '' %}
			{% endif %}

			{% if gallery.bigData is defined and gallery.bigData is not empty %}
				{% set bigData = gallery.bigData %}
			{% else %}
				{% set bigData = '' %}
			{% endif %}


			{{ canvas_component('gallery', { 'columns': columns, 'pictures': pictures, 'bigData': bigData  }) }}
			<div class="divider"></div>

		{% endfor %}

	</div>
</div>
