<h3>{{ columns }} Columns</h3>

<div class="masonry-thumbs grid-{{ columns }}" {% if bigData is defined %} data-big={{ bigData }} {% endif %} data-lightbox="gallery">
	{% for picture in pictures %}
		<a href="{{ asset('canvas/images/portfolio/full/' ~ picture ) }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ asset('canvas/images/portfolio/' ~ columns ~ '/' ~ picture) }}" alt="Gallery Thumb 1"></a>
	{% endfor %}
</div>
