<div {% if class is defined %}class="{{ class }}"{% endif %}>
	<section id="google-map" class="gmap {% if parallax is defined and parallax == true %}slider-parallax{% endif %}" {% if style is defined %}style="{{ style }}"{% endif %}></section>
</div>

<script src="https://maps.google.com/maps/api/js?key={{ key }}"></script>
<script src="{{ asset('canvas/js/jquery.gmap.js') }}"></script>

<script>
	let concatAdresse = {% if addressMarker is defined %}
							{% if addressMarker.address is defined %}'{{ addressMarker.address }}, '+{% endif %}
							{% if addressMarker.city is defined %}'{{ addressMarker.city }}, '+{% endif %}
							{% if addressMarker.country is defined %}'{{ addressMarker.country }}'{% endif %}
						{% else %}
							'France'
						{% endif %};

	jQuery( "#google-map" ).gMap( {

		latitude:        {% if latitude is defined %} {{ latitude }} {% else %} 46.322416 {% endif %},
		longitude:       {% if longitude is defined %} {{ longitude }} {% else %} -0.448615 {% endif %},
		maptype:         "ROADMAP",
		zoom:            {% if zoom is defined %} {{ zoom }} {% else %} 10 {% endif %},
		markers:         [
			{
				address: concatAdresse,
				html:    "<div style=\"width: 300px;\"><h4 style=\"margin-bottom: 8px;\">{% if textMarker is defined and textMarker.title is defined %}{{ textMarker.title|raw }}{% else %}'Title'{% endif %}</h4><p class=\"nobottommargin\">{% if textMarker is defined and textMarker.body is defined %}{{ textMarker.body|raw }}{% else %}'Body'{% endif %}</p></div>",
				icon:    {
					image:      "{% if icon is defined %}{{ icon }}{% else %}{{ asset('canvas/images/icons/map-icon-red.png') }}{% endif %}",
					iconsize:   [ 32, 39 ],
					iconanchor: [ 13, 39 ]
				}
			}
		],
		doubleclickzoom: {% if doubleClickZoom is defined %}{{ doubleClickZoom }}{% else %}false{% endif %},
		controls:        {
			panControl:         {% if panControl is defined %}{{ panControl }}{% else %}true{% endif %},
			zoomControl:        {% if zoomControl is defined %}{{ zoomControl }}{% else %}true{% endif %},
			mapTypeControl:     {% if mapTypeControl is defined %}{{ mapTypeControl }}{% else %}true{% endif %},
			scaleControl:       {% if scaleControl is defined %}{{ scaleControl }}{% else %}false{% endif %},
			streetViewControl:  {% if streetViewControl is defined %}{{ streetViewControl }}{% else %}false{% endif %},
			overviewMapControl: {% if overviewMapControl is defined %}{{ overviewMapControl }}{% else %}false{% endif %},
		}
	} );
</script>
