
{% if error.type is defined and error.type is not empty %}
	{% set type = error.type %}
{% else %}
	{% set type = 'simple' %}
{% endif %}

{% if type == 'simple' %}
	{{ canvas_component( 'error-simple', { 'item': error } ) }}
{% elseif type == 'parallax' %}
	{{ canvas_component( 'error-parallax', { 'item': error } ) }}
{% else %}
	{{ canvas_component( 'error-video', { 'item': error } ) }}
{% endif %}



