{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {
			'title':'À notre sujet - 2',
			'subTitle': 'Tout ce que vous devez savoir sur nous',
			'breadcrumb':[ { 'label': 'Home', 'link': '#'}, { 'label': 'Pages', 'link': '#'}, { 'label': 'About Us', 'link': '#'} ],
			'mini': 'true'
		})
	}}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		<div class="col_full">
			{{ canvas_component('slider', {

				'title': 'Environnement intéractif',
				'subTitle': 'Soyons créatifs et respectons l\'environnement !',
				'style': 'height:500px; overflow: hidden;',
				'pagi': 'false',
				'animation': 'fade',
				'list': [
						{
							'link': '#',
							'imageUrl': 'https://bigfootcc.co.uk/wp-content/uploads/2018/10/01-if-you-need-a-smile-these-13-adorable-squirrel-photos-will-make-your-day-574750930-AnssiH-FT.jpg',
							'alt': 'écureuil - 1'
						},
						{
							'link': '#',
							'imageUrl': 'https://img-aws.ehowcdn.com/750x428p/photos.demandstudios.com/getty/article/181/26/157320468.jpg',
							'alt': 'écureuil - 2'
						},
						{
							'link': '#',
							'imageUrl': 'https://interactive.wttw.com/sites/default/files/squirrels_fox-squirrel.jpg',
							'alt': 'écureuil - 3'
						},
						{
							'link': '#',
							'imageUrl': 'https://cdn.images.express.co.uk/img/dynamic/1/590x/squirrel-1019439.jpg?r=1537298204350',
							'alt': 'écureuil - 4'
						},

					]

				})
			}}
		</div>

		{{ canvas_component('animation-counter-list', {
			'list': [
				{
					'class': 'col_one_fourth',
					'animation': 'bounceIn',
					'icon': 'users',
					'counter': {
						'from': '100',
						'to': '1438',
						'interval': '50',
						'speed': '2000',
						'text': '',
						'style': 'color: #3498db;'
					},
					'text': 'Clients servis',
					'counterType': 'large'
				},
				{
					'class': 'col_one_fourth',
					'animation': 'bounceIn',
					'icon': 'code',
					'counter': {
						'from': '3000',
						'to': '15790',
						'interval': '100',
						'speed': '2500',
						'text': '',
						'style': 'color: #e74c3c;'
					},
					'text': 'Lignes de code',
					'counterType': 'large'
				},
				{
					'class': 'col_one_fourth',
					'animation': 'bounceIn',
					'icon': 'briefcase',
					'counter': {
						'from': '0',
						'to': '1857',
						'interval': '2',
						'speed': '1000',
						'text': '',
						'style': 'color: #16a085;'
					},
					'text': 'Projets',
					'counterType': 'large'
				},
				{
					'class': 'col_one_fourth col_last',
					'animation': 'bounceIn',
					'icon': 'cup',
					'counter': {
						'from': '60',
						'to': '968',
						'interval': '30',
						'speed': '2700',
						'text': '',
						'style': 'color: #9b59b6;'
					},
					'text': 'Tasses de café',
					'counterType': 'large'
				},
			]
		})
		}}

		<div class="clear"></div>

		{{ canvas_component('promo', {
				'title': 'Contactez-nous au <span>09 70 98 87 04</span> ou par email à <span>contact@6napps.com</span>',
				'subTitle': 'Un support au top avec la volonté d\'un suivi remarquable !',
				'button': {
					'link': '#',
					'label': 'Commencez'
				}
			})
		}}

		{{ canvas_component('team-list', {
				'title': 'Nos têtes',
				'subTitle': 'Ceux qui ont le plus contribué à nos projets',
				'list': [
					{
						'name': 'JOHN DOE',
						'job': 'CEO &amp; Co-Founder',
						'image': 'https://img.maxisciences.com/article/royaume-uni/un-ecureuil-roux-photographie-en-juillet-2006-en-pologne-credits-pawel-ryszawa-wikipedia_efd58710df0c5ec73bc65f57aecc2d258ce76f89.jpg',
						'description': '<p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>',
						'socials': {
							'class':'inline-block si-small si-light si-rounded',
							'list': [
								{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
								{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
								{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
							]
						}
					},
					{
						'name': 'MARY JANE',
						'job': 'Developer &amp; Evangelist',
						'image': 'http://www.dinosoria.com/mammifere/ecureuil-5.jpg',
						'description': '<p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>',
						'socials': {
							'class':'inline-block si-small si-light si-rounded',
							'list': [
								{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
								{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
								{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
							]
						},
					},
				{
					'name': 'TOTO',
					'job': 'Clodo',
					'image': 'https://tse4.mm.bing.net/th?id=OIP.iB8pTi-IQTHgQ-vT3KoRawHaFj&pid=15.1&P=0&w=300&h=300',
					'description': '<p>Je me souviens en fait, si vraiment tu veux te rappeler des souvenirs de ton perroquet, on est tous capables de donner des informations à chacun puisque the final conclusion of the spirit is perfection Pour te dire comme on a beaucoup à apprendre sur la vie ! </p>',
					'socials': {
						'class':'inline-block si-small si-light si-rounded',
						'list': [
							{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
							{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
							{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
						]
					}
				},
				{
					'name': 'ANDRÉ',
					'job': 'Ingé',
					'image': 'https://p3.storage.canalblog.com/30/44/947989/102137982.jpg',
					'description': '<p>Den ebet ne vo emellet diouzh c\'hoant en e vuhez prevez, e diegezh, e annez pe e lizhiri, ha ne vo ket stoket ouzh e enor nag ouzh e vrud. Pep hini en deus gwir da gaout gwarez digant al lezenn diouzh emelladennoù ha tagadennoù a seurt-se.</p>',
					'socials': {
						'class':'inline-block si-small si-light si-rounded',
						'list': [
							{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
							{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
							{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
						]
					},
				}

				]
			})
		}}
	</div>

	<div class="section footer-stick">
		{{ canvas_component('testimonials',
			{
				'title': 'Que pensent nos <span>clients</span> ?',
				'full' : 'true',
				'animation': 'fade',
				'arrows': 'false',
				'list': [
					{
						'image':{
							'link':'#',
							'imageUrl': 'https://images2.storyjumper.com/transcoder.png?trim&id=iq-yp8p1dyc-583o67ay1&maxw=256&maxh=256',
							'alt': ''
						},
						'text': 'Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?',
						'customer': 'Steve Jobs',
						'company': 'Apple Enc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://shortlist.imgix.net/app/uploads/2017/08/24143619/c7d65928f54b7448d70eb0f2aff9d9e0-256x256.jpg?w=256&h=256&fit=max&auto=format%2Ccompress',
						'alt': ''
					},
						'text': 'Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.',
						'customer': 'Collis Ta\'eed',
						'company': 'Envato Unc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/3306471480/f05357dc3ef1cb808ea63af60fda7ba6.jpeg',
						'alt': ''
					},
						'text': 'Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo mokkori!',
						'customer': 'Saeba Ryo',
						'company': 'XYZ Inc.'
					}
				]

			})
		}}
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


