{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header', {'dark': true}) }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {
			'align':'right',
			'title':'John Doe',
			'subTitle': 'CEO & Co-Founder',
			'img': 'https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/524606-istock-171554951.jpg?itok=Z-NCum3Y&resize=1100x1100',
			'paddingBg': '250px 0',
			'bottomTop':'0px 400px',
			'topBottom':'0px -500px',
			'backgroundSize': 'cover',
			'dark': true
		})
	}}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{{ canvas_component('columns', {
				'titleSize': 'h3',
				'titleStyle': 'nobottomborder nobottommargin',
				'columns': [
					{
						'parameter': 'col_half',
						'title': 'Objectifs',
						'body': 'Tu comprends, je suis mon meilleur modèle car il faut toute la splendeur du aware puisque the final conclusion of the spirit is perfection. C\'est cette année que j\'ai eu la révélation ! '
					},
					{
						'parameter': 'col_half col_last',
						'title': 'Projets futur',
						'body': 'Ça sounds good, là on voit qu\'on a beaucoup à travailler sur nous-mêmes car il faut toute la splendeur du aware parce que spirituellement, on est tous ensemble, ok ?'
					},
				]
			})
		}}
	</div>

	<div class="section parallax dark bottommargin-lg" style="background-image: url('https://images.reference.com/reference-production-images/question/aq/squirrels-night_55a5d120b6028977.jpg?width=760&height=411&fit=crop'); background-size: cover; padding: 100px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">
		<div class="container clearfix">
			{{ canvas_component('animation-counter-list', {
					'list': [
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'time',
							'counter': {
								'from': '0',
								'to': '60',
								'interval': '50',
								'speed': '4000',
								'text': '+'
							},
							'text': 'Heures par semaine'
						},
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'code',
							'counter': {
								'from': '100',
								'to': '15841',
								'interval': '50',
								'speed': '2500',
								'text': ''
							},
							'text': 'Lignes de code'
						},
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'briefcase',
							'counter': {
								'from': '50',
								'to': '127',
								'interval': '50',
								'speed': '3000',
								'text': ''
							},
							'text': 'Projets'
						},
						{
							'class': 'nobottommargin col_one_fourth col_last',
							'animation': 'bounceIn',
							'icon': 'dribbble2',
							'counter': {
								'from': '15',
								'to': '114',
								'interval': '40',
								'speed': '2700',
								'text': ''
							},
							'text': 'Dribbles'
						},
					]
				})
			}}
		</div>
	</div>


	<div class="container clearfix">

		{{ canvas_component('columns', {
			'titleSize': 'h4',
			'titleStyle': 'fancy-title title-border',
			'columns': [
					{
						'parameter': 'col_one_third',
						'title': 'Mes compétences',
						'body': canvas_component('animation-skill-bar',{
							'skills': [
								{
									'title':'toto',
									'from': '0',
									'to': '25',
									'interval' : '30',
									'speed': '1100',
									'metering': '%'
								},
								{
									'title':'tutu',
									'from': '0',
									'to': '60',
									'interval' : '30',
									'speed': '1100',
									'metering': '%'
								},
								{
									'title':'tata',
									'from': '0',
									'to': '40',
									'interval' : '30',
									'speed': '1100',
									'metering': '%'
								},
							]
						})
					},
					{
						'parameter': 'col_one_third',
						'title': 'Dribbles',
						'body': ''
					},
					{
						'parameter': 'col_one_third col_last',
						'title': 'Twitter',
						'body': canvas_component('twitter-feed', {'twitterProfile': '6nApps' })
					},
				]
			})
		}}
	</div>


	{{ canvas_component('instagram', {
			'title': 'Photos instagram',
			'subTitle': 'Voic le compte !... par défaut ...',
			'columns': '6',
			'instagramId': '5834720953',
			'imagesCount': '12',
		})
	}}

	{{ canvas_component('portfolio', {
			'globalStyle': 'height: 275px;',
			'columns': '5',
			'list': [
				{
					'title': 'I\'m busy',
					'subLinks': [
							{
								'title':'Media',
								'link':'#'
							},
							{
								'title':'Icons',
								'link':'#'
							}
						],
					'previewUrl': 'https://s28301.pcdn.co/wp-content/uploads/2018/10/squirrel-class-book-page.jpg',
					'previewAlt': 'Busy',
					'previewStyle': 'position: relative; bottom: 60px',
					'link': "#",
					'type': 'image',
					'overlay': [
							{
								'urlMedia': 'https://s28301.pcdn.co/wp-content/uploads/2018/10/squirrel-class-book-page.jpg'
							}
						]
				},
				{
					'title': 'The Squiricorn !',
					'subLinks': [
							{
								'title':'Illustrations',
								'link':'#'
							}
						],
					'previewUrl': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg',
					'previewAlt': 'Squiricorn',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg'
						}
					]
				},
				{
					'title': 'Flying',
					'subLinks': [
							{
								'title':'Fx',
								'link':'#'
							},
							{
								'title':'Technicals',
								'link':'#'
							}
						],
					'previewUrl': 'https://pbs.twimg.com/media/DXx1mTGX0AEtD5d.jpg',
					'previewAlt': 'Flying',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'iframe',
					'icon': 'line-play',
					'overlay': [
						{
							'urlMedia': 'https://www.youtube.com/watch?v=IANwb_qT1gg'
						}
					]
				},
				{
					'title': 'Morning Dew',
					'subLinks': [
							{
								'title':'Icons',
								'link':'#'
							},
							{
								'title':'Illustrations',
								'link':'#'
							}
						],
					'previewUrl': 'https://i3.cpcache.com/product/1611142597/squirrel_book_read_tile_coaster.jpg?side=Front&height=460&width=460&qv=90',
					'previewAlt': 'Morning Dew',
					'previewStyle': 'position: relative; bottom: 60px;',
					'link': "#",
					'type': 'gallery',
					'icon': 'line-stack-2',
					'overlay': [
							{
								'urlMedia': 'https://i3.cpcache.com/product/1611142597/squirrel_book_read_tile_coaster.jpg?side=Front&height=460&width=460&qv=90'
							},
							{
								'urlMedia': 'https://i.pinimg.com/originals/0f/67/8e/0f678e706d31e85d142dee809b0507e3.jpg'
							},
						]
				},
				{
					'title': 'Console Activity',
					'subLinks': [
							{
								'title':'UI Element',
								'link':'#'
							},
							{
								'title':'Media',
								'link':'#'
							}
						],
					'previewUrl': 'https://pensivesquirrel.files.wordpress.com/2013/11/squirrel-hacker.jpg',
					'previewAlt': 'Console Activity',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'image',
					'overlay': [
							{
								'urlMedia': 'https://pensivesquirrel.files.wordpress.com/2013/11/squirrel-hacker.jpg'
							},
						]
				},

			]
		})
	}}

{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2', {
			'logoImgUrl': 'https://i.pinimg.com/originals/8e/2d/74/8e2d749acaccccad12b375e220e7711f.png',
			'bgAddressUrl': 'http://www.scallog.com/wp-content/uploads/2013/10/world-map.png',
			'message': 'Nous croyons aux <strong>design creatif</strong>, <strong>flexible</strong> et <strong>respecteux</strong><br>Observez bien notre travail !',
			'address': {'name': '6nApps', 'street': '4 rue du docteur Roux', 'city': 'Niort', 'zipCode': '79000', 'country': 'France'},
			'contacts': [ {'title': 'Téléphone', 'body':'09 70 98 87 04'}, {'title': 'Email', 'body':'contact@6napps.com'} ],
			'testimonials' : {
				'noImg': 'true',
				'class': 'nobg noborder noshadow nopadding',
				'title': 'Avis de nos clients ?',
				'full' : 'true',
				'center': 'false',
				'textPos': 'left',
				'arrows': 'false',
				'list': [
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://images2.storyjumper.com/transcoder.png?trim&id=iq-yp8p1dyc-583o67ay1&maxw=256&maxh=256',
						'alt': ''
					},
						'text': 'Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?',
						'customer': 'Steve Jobs',
						'company': 'Apple Enc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://shortlist.imgix.net/app/uploads/2017/08/24143619/c7d65928f54b7448d70eb0f2aff9d9e0-256x256.jpg?w=256&h=256&fit=max&auto=format%2Ccompress',
						'alt': ''
					},
						'text': 'Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.',
						'customer': 'Collis Ta\'eed',
						'company': 'Envato Unc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/3306471480/f05357dc3ef1cb808ea63af60fda7ba6.jpeg',
						'alt': ''
					},
						'text': 'Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo mokkori!',
						'customer': 'Saeba Ryo',
						'company': 'XYZ Inc.'
					}
				]

			},
			'socials' : {
				'class': 'si-small si-rounded',
				'list': [
					{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
					{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
					{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
					{'name': 'gplus', 'link': 'https://plus.google.com/u/0/102034850553764491190'},
				]
			}

		})
	}}
{% endblock footer %}


