{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header', {'dark': true}) }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {
			'title':'À notre sujet - 1',
			'subTitle': 'Tout ce que vous devez savoir sur nous',
			'breadcrumb':[ { 'label': 'Home', 'link': '#'}, { 'label': 'Pages', 'link': '#'}, { 'label': 'About Us', 'link': '#'} ],
			'img': 'https://c1.staticflickr.com/2/1553/24760763742_85cc849d46_b.jpg',
			'paddingBg': '250px 0',
			'bottomTop':'0px 400px',
			'topBottom':'0px -500px',
			'backgroundSize': 'cover',
			'dark': true
		})
	}}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{{ canvas_component('columns', {
				'titleSize': 'h4',
				'titleStyle': 'heading-block fancy-title nobottomborder title-bottom-border',
				'columns': [
					{
						'parameter': 'col_one_third',
						'title': 'Pourquoi <span>nous</span> ?',
						'body': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.'
					},
					{
						'parameter': 'col_one_third',
						'title': 'Nos <span>projets</span>.',
						'body': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.'
					},
					{
						'parameter': 'col_one_third col_last',
						'title': 'Nos <span>créations</span>.',
						'body': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.'
					},


				]

			})
		}}
	</div>

	<div class="section nomargin">
		<div class="container clearfix">
			{{ canvas_component('animation-counter-list', {
					'list': [
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'line2-directions',
							'counter': {
								'from': '100',
								'to': '637',
								'interval': '50',
								'speed': '2000',
								'text': 'K+'
							},
							'text': 'Lignes de code'
						},
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'line2-graph',
							'counter': {
								'from': '3000',
								'to': '10840',
								'interval': '100',
								'speed': '2500',
								'text': '+'
							},
							'text': 'Ko de fichiers HTML'
						},
						{
							'class': 'nobottommargin col_one_fourth',
							'animation': 'bounceIn',
							'icon': 'line2-layers',
							'counter': {
								'from': '0',
								'to': '9',
								'interval': '1',
								'speed': '1000',
								'text': '*'
							},
							'text': 'Templates'
						},
						{
							'class': 'nobottommargin col_one_fourth col_last',
							'animation': 'bounceIn',
							'icon': 'line2-clock',
							'counter': {
								'from': '60',
								'to': '900',
								'interval': '30',
								'speed': '2700',
								'text': '+'
							},
							'text': 'Heures de codage'
						},
					]
				})
			}}
		</div>
	</div>

	<div class="row common-height clearfix">
		{{ canvas_component('team-big',
			{
				'team':[
					{
						'name': 'JOHN DOE',
						'job': 'CEO &amp; Co-Founder',
						'image': 'https://img.maxisciences.com/article/royaume-uni/un-ecureuil-roux-photographie-en-juillet-2006-en-pologne-credits-pawel-ryszawa-wikipedia_efd58710df0c5ec73bc65f57aecc2d258ce76f89.jpg',
						'description': '
								<p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
								<p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
							',
						'socials': {
							'class':'inline-block si-small si-light si-rounded',
							'list': [
								{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
								{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
								{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
							]
						},
						'skills': [
							{
								'title':'toto',
								'from': '0',
								'to': '25',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
							{
								'title':'tutu',
								'from': '0',
								'to': '60',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
							{
								'title':'tata',
								'from': '0',
								'to': '40',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
						]
					},
					{
						'name': 'MARY JANE',
						'job': 'Developer &amp; Evangelist',
						'image': 'http://www.dinosoria.com/mammifere/ecureuil-5.jpg',
						'description': '
								<p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
								<p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
							',
						'socials': {
							'class':'inline-block si-small si-light si-rounded',
							'list': [
								{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
								{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
								{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
							]
						},
						'skills': [
							{
								'title':'toto',
								'from': '0',
								'to': '80',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
							{
								'title':'tutu',
								'from': '0',
								'to': '50',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
							{
								'title':'tata',
								'from': '0',
								'to': '60',
								'interval' : '30',
								'speed': '1100',
								'metering': '%'
							},
						],
						'bgColor': "#F5F5F5"
					},
				]
			})
		}}
	</div>

	<div class="container clearfix">
		<div class="clear"></div>
		{{ canvas_component('grid-client', {
				'title': 'Nos clients',
				'nbrColumns' : '6',
				'heightRows': '130',
				'list':[
					{
						'link': '#',
						'imageUrl': 'https://shortlist.imgix.net/app/uploads/2017/08/24152806/92806180b51400c6e650eabf7b121c05-256x256.jpg?w=256&h=256&fit=max&auto=format%2Ccompress',
						'text': '',
						'alt': 'écureuil-1'
					},
					{
						'link': '#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/722593836317282305/jaOaM2z-_400x400.jpg',
						'text': '',
						'alt': 'écureuil-2'
					},
					{
						'link': '#',
						'imageUrl': 'https://i.pinimg.com/originals/ab/2e/6b/ab2e6b37c93ca5fc4af0037eca066e37.jpg',
						'text': '',
						'alt': 'écureuil-3'
					},
					{
						'link': '#',
						'imageUrl': 'https://thumbs-prod.si-cdn.com/cSDKHyhkRlt1RcXjGWaxzMonhGE=/256x256/https://public-media.si-cdn.com/accounts/avatars/IMG_8484.JPG',
						'text': '',
						'alt': 'écureuil-4'
					},
					{
						'link': '#',
						'imageUrl': 'https://cdn141.picsart.com/286084856028201.jpg?c256x256',
						'text': '',
						'alt': 'écureuil-5'
					},
					{
						'link': '#',
						'imageUrl': 'https://thumbs-prod.si-cdn.com/QR-cBPaDG4YWAXXsLNetOV6IWl4=/256x256/https://public-media.si-cdn.com/accounts/avatars/Thirsty_Squirrel_Takes_a_Sip.jpg',
						'text': '',
						'alt': 'écureuil-6'
					},
					{
						'link': '#',
						'imageUrl': 'https://i0.wp.com/anchor.hope.edu/wp-content/uploads/2016/10/squirrel.jpg?fit=256%2C256&ssl=1',
						'text': '',
						'alt': 'écureuil-7'
					},
					{
						'link': '#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/3571421857/3fe900b33bdb9e90e8f4d436713ee1ec.jpeg',
						'text': '',
						'alt': 'écureuil-8'
					},
					{
						'link': '#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/2708617098/a697c60d137af56e98cac59d2ae93b19.png',
						'text': '',
						'alt': 'écureuil-9'
					},
					{
						'link': '#',
						'imageUrl': 'http://www.pathemlepp.com/_Media/squirrel015_128_hr.jpeg',
						'text': '',
						'alt': 'écureuil-10'
					},
					{
						'link': '#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/2709896467/4cd02b4fc0ffaaeead6bceebb03a5e32.jpeg',
						'text': '',
						'alt': 'écureuil-11'
					},
					{
						'link': '#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/598719979958206464/687Ze2ow.jpg',
						'text': '',
						'alt': 'écureuil-12'
					},
				]
			})
		}}
	</div>

	<div class="section footer-stick">
		{{ canvas_component('testimonials',
			{
				'title': 'Que pensent nos <span>clients</span> ?',
				'full' : 'true',
				'animation': 'fade',
				'arrows': 'false',
				'list': [
					{
						'image':{
							'link':'#',
							'imageUrl': 'https://images2.storyjumper.com/transcoder.png?trim&id=iq-yp8p1dyc-583o67ay1&maxw=256&maxh=256',
							'alt': ''
						},
						'text': 'Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?',
						'customer': 'Steve Jobs',
						'company': 'Apple Enc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://shortlist.imgix.net/app/uploads/2017/08/24143619/c7d65928f54b7448d70eb0f2aff9d9e0-256x256.jpg?w=256&h=256&fit=max&auto=format%2Ccompress',
						'alt': ''
					},
						'text': 'Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.',
						'customer': 'Collis Ta\'eed',
						'company': 'Envato Unc.'
					},
					{
						'image':{
						'link':'#',
						'imageUrl': 'https://pbs.twimg.com/profile_images/3306471480/f05357dc3ef1cb808ea63af60fda7ba6.jpeg',
						'alt': ''
					},
						'text': 'Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo mokkori!',
						'customer': 'Saeba Ryo',
						'company': 'XYZ Inc.'
					}
				]

			})
		}}
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2', {
			'message': 'kkkkkkkkkkkkkkkkkkkkkkk'


		})
	}}
{% endblock footer %}


