{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'QUOTES & BLOCKQUOTES', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Shortcodes', '#'], ['Quotes & Blockquotes', '#'] ]}) }}
{% endblock %}

{% block content %}

	{% for block in blocks %}

		{% if block.float is defined and block.float is not empty %}
			{% set float = block.float %}
		{% else %}
			{% set float = 'left' %}
		{% endif %}

		{% if block.path is defined and block.path is not empty %}
			{% set path = block.path %}
		{% else %}
			{% set path = '' %}
		{% endif %}

		{% if block.content is defined and block.content is not empty %}
			{% set content = block.content %}
		{% else %}
			{% set content = 'No data loaded' %}
		{% endif %}

		{% if block.author is defined and block.author is not empty %}
			{% set author = block.author %}
		{% else %}
			{% set author = '' %}
		{% endif %}

		{% if block.reverse is defined and block.reverse is not empty %}
			{% set reverse = true %}
		{% else %}
			{% set reverse = '' %}
		{% endif %}

		<div class="container clearfix">
			{{ canvas_component('block-quotes', { 'float': float, 'path': path, 'content': content, 'author': author, 'reverse': reverse }) }}
		</div>

	{% endfor %}

{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
