{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Comments', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="fancy-title title-dotted-border title-center">
		<h3>Comments custom 1 Admin</h3>
	</div>
	<div class="container clearfix mb-5">
		{{ canvas_component('comment-custom-1', {commentAdmin: true}) }}
	</div>

	<div class="fancy-title title-dotted-border title-center">
		<h3>Comments custom 1 User</h3>
	</div>
	<div class="container clearfix mb-5">
		{{ canvas_component('comment-custom-1', {commentAdmin: false}) }}
	</div>

	<div class="fancy-title title-dotted-border title-center">
		<h3>Comments custom 1 User reponse</h3>
	</div>
	<div class="container clearfix mb-5">
		{{ canvas_component('comment-custom-1', {commentAdmin: false, isResponse: true}) }}
	</div>

	<div class="fancy-title title-dotted-border title-center">
		<h3>Comments custom 1 Admin reponse</h3>
	</div>
	<div class="container clearfix mb-5">
		{{ canvas_component('comment-custom-1', {commentAdmin: true, isResponse: true}) }}
	</div>
{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
