{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Contact - 6', 'subTitle': 'Formulaire de contact - Style 6', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Contact pages', 'link': '#'}, { 'label': 'Style 6', 'link': '#'} ] }) }}
	{{ canvas_component('page-menu', { 'title': 'Contact 6nApps <span>Options</span>', 'links':[ ['Défaut', path('sixnapps.canvas.contact-1')], ['Avec reCaptcha', '#'], ['Chargement de fichier', '#'], ['Notification en ligne', '#'] ] }) }}
{% endblock %}

{% block content %}

	<!-- Contact Form & Map Overlay Section
			============================================= -->
	<section id="map-overlay">

		<div class="container clearfix">

			<!-- Contact Form Overlay
			============================================= -->
			<div id="contact-form-overlay" class="clearfix">

				{{ canvas_component('contact-form-2', {
						'title': 'Envoyez-nous un Email',
						'formConfig': {
							'action': '#', 'method': 'post', 'name': 'contactez_nous'
						},
						'components': [
							{'label': 'nom', 'type':'text', 'required': true},
							{'label': 'prénom', 'type':'text', 'required': true},
							{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.'},
							{'label': 'téléphone', 'type':'email', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.'},
							{'label': 'Faites-nous parvenir votre document', type:'fileUpload', 'class': 'col_full'},
							{'label': 'Sujet', 'type':'text', 'required': true, 'notLast': true },
							{'label': 'Thème', 'type':'listChoice','list': [ ['-- Choisissez --', ''], ['Symfony', 'Symfony'], ['React native', 'ReactNative'], ['Autre', 'Autre'] ], 'class': 'col_half col_last' },
							{'label': 'message', 'type':'textarea', 'required': true, 'class': 'col_full', 'rows': '6', 'cols': '30'}
						],
						'recaptcha': 'iciuneclevalide',
						'sendBtnLabel':'envoyer votre message',
						'inlineNotification' : 'true'
					})
				}}

				<div class="line"></div>

				<!-- Contact Info
				============================================= -->
				<div class="col_one_third nobottommargin">
					{{ canvas_component('contact-info', {
						'address': {'name': '6nApps', 'street': '4 rue du docteur Roux', 'city': 'Niort', 'zipCode': '79000', 'country': 'France'},
						'contacts': [ {'title': 'Téléphone', 'body':'09 70 98 87 04'}, {'title': 'Email', 'body':'contact@6napps.com'} ]
					}) }}
				</div><!-- Contact Info End -->

				<!-- Testimonails
				============================================= -->
				<div class="col_two_third col_last nobottommargin">
					{{ canvas_component('twitter-feed', {'twitterProfile': '6nApps' }) }}
				</div><!-- Testimonials End -->

			</div><!-- Contact Form Overlay End -->

		</div>

		{{ canvas_component('map', {
			'key': 'AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE',
			'latitude': 46.322416, 'longitude': -0.448615, 'zoom': 17,
			'addressMarker': {
				'address': '4 rue du docteur Roux',
				'city': 'Niort',
				'country': 'France'
			},
			'textMarker': {
				'title':'Salut, nous sommes <span>6nApps</span>',
				'body':'Notre mission est d\'aider nos clients à <strong>constituer</strong> et <strong>valider</strong> leurs projets. Nous sommes spécialisés <strong>symfony</strong> et <strong>react native</strong>, mais pouvons nous adapter à <strong>plein</strong> de langages <strong>différents</strong>.'
			},
			'icon': asset('canvas/images/icons/map-icon-red.png'),
			'doubleClickZoom': 'false', 'panControl': 'true', 'zoomControl': 'true', 'mapTypeControl': 'false', 'scaleControl': 'false', 'streetViewControl': 'false', 'overviewMapControl': 'false'
		}
		) }}


	</section><!-- Contact Form & Map Overlay Section End -->






{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


