{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Contact - 5', 'subTitle': 'Formulaire de contact - Style 5', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Contact pages', 'link': '#'}, { 'label': 'Style 5', 'link': '#'} ] }) }}
	{{ canvas_component('page-menu', { 'title': 'Contact 6nApps <span>Options</span>', 'links':[ ['Défaut', path('sixnapps.canvas.contact-1')], ['Avec reCaptcha', '#'], ['Chargement de fichier', '#'], ['Notification en ligne', '#'] ] }) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">

		<div class="row">
			{{ canvas_component('map', {
				'class': 'col-lg-6 bottommargin',
				'style': 'height: 240px;',
				'key': 'AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE',
				'latitude': 46.322416, 'longitude': -0.448615, 'zoom': 17,
				'addressMarker': {
					'address': '4 rue du docteur Roux',
					'city': 'Niort',
					'country': 'France'
				},
				'textMarker': {
					'title':'Salut, nous sommes <span>6nApps</span>',
					'body':'Notre mission est d\'aider nos clients à <strong>constituer</strong> et <strong>valider</strong> leurs projets. Nous sommes spécialisés <strong>symfony</strong> et <strong>react native</strong>, mais pouvons nous adapter à <strong>plein</strong> de langages <strong>différents</strong>.'
				},
				'icon': asset('canvas/images/icons/map-icon-red.png'),
				'doubleClickZoom': 'false', 'panControl': 'true', 'zoomControl': 'true', 'mapTypeControl': 'false', 'scaleControl': 'false', 'streetViewControl': 'false', 'overviewMapControl': 'false'
			}
			) }}

			<div class="col-lg-6">
				{{ canvas_component('contact-info', {
					'class': 'col_two_fifth',
					'address': {'name': '6nApps', 'street': '4 rue du docteur Roux', 'city': 'Niort', 'zipCode': '79000', 'country': 'France'},
					'contacts': [ {'title': 'Téléphone', 'body':'09 70 98 87 04'}, {'title': 'Email', 'body':'contact@6napps.com'} ]
				}) }}
				{{ canvas_component('twitter-feed', {'class':'col_three_fifth col_last', 'twitterProfile': '6nApps'}) }}

				<div class="clear"></div>

				{{ canvas_component('modal-simple',
						{
							'borderButton':
							{
								'label': 'Contact',
								'bgColor': '-green',
							},
							'lightButtonLabel': 'Nous contacter',
							'buttonClass': 'button button-3d nomargin btn-block button-xlarge d-none d-md-block center',
							'dataTarget': 'contact5Modal',
							'buttonLabel': 'Cliquez ici pour nous contacter',
							'dataTarget': 'contact5Modal',
							'labelledby': 'contact5ModalLabel',
							'size': 'default',
							'headTitle': 'Envoyez-nous un email',
							'body': canvas_component('contact-form-2', {
										'formConfig': { 'action': '#', 'method': 'post', 'name': 'contactez_nous'},
										'components': [
													{'label': 'nom', 'type':'text', 'required': true},
													{'label': 'prénom', 'type':'text', 'required': true},
													{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.'},
													{'label': 'téléphone', 'type':'email', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.'},
													{'label': 'Sujet', 'type':'text', 'required': true, 'notLast': true },
													{'label': 'Thème', 'type':'listChoice','list': [ ['-- Choisissez --', ''], ['Symfony', 'Symfony'], ['React native', 'ReactNative'], ['Autre', 'Autre'] ], 'class': 'col_half col_last' },
													{'label': 'message', 'type':'textarea', 'required': true, 'class': 'col_full', 'rows': '6', 'cols': '30'}
										],
										'sendBtnLabel':'envoyer votre message',
										'inlineNotification' : 'true'
									}),
							'footer': {
								'closeLabel': 'Fermer',
								'buttonCloseClass': 'btn btn-secondary',
								'actions': [],
							},
						}
					)
				}}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


