{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Contact - 4', 'subTitle': 'Formulaire de contact - Style 4', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Contact pages', 'link': '#'}, { 'label': 'Style 4', 'link': '#'} ] }) }}
	{{ canvas_component('page-menu', { 'title': 'Contact 6nApps <span>Options</span>', 'links':[ ['Défaut', path('sixnapps.canvas.contact-1')], ['Avec reCaptcha', '#'], ['Chargement de fichier', '#'], ['Notification en ligne', '#'] ] }) }}
{% endblock %}

{% block content %}
<div class="container clearfix">
	{{ canvas_component('contact-sidebar', {
		'sidebar' : true,
		'left': 'true',
		'linkList': {
			'title': 'Liste de liens',
			'list': [
				['Lien 1', '#'],
				['Lien 2', '#'],
				['Lien 3', '#'],
			]
		},
		'socials' : {
			'class': 'si-dark si-large',
			'list': [
				{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
				{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
				{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
				{'name': 'gplus', 'link': 'https://plus.google.com/u/0/102034850553764491190'},
			]
		},
		'itemList' :{
			'title': 'Nos offres',
			'rateMax': 5,
			'list': [
				{
					'name': 'Écureuil 1',
					'sub': '26,35€',
					'link': '#',
					'image': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGYhj2G7_2I7pLAzTirqZJHvre9wE7lGNMnpPKehByJvsShKVwA',
					'imageAlt': 'Écureuil roux',
					'rate': 4
				},
				{
					'name': 'Écureuil 2',
					'sub': '21,10€',
					'link': '#',
					'image': 'https://vignette.wikia.nocookie.net/desencyclopedie/images/f/fb/%C3%89cureuil_tueur_de_Central_Park.JPG/revision/latest?cb=20150810090537',
					'imageAlt': 'Écureuil métisse',
					'rate': 3.5,
				},
				{
					'name': 'Écureuil 3',
					'sub': '125,95€',
					'link': '#',
					'image': 'http://static.boredpanda.com/blog/wp-content/uploads/2015/10/rare-white-squirrel-photo-andrew-fulton-marbury-country-park-uk-6.jpg',
					'imageAlt': 'Écureuil rare',
					'rate': 4.5,
				},
			]
		},
		})
	}}
	<div class="postcontent bothsidebar nobottommargin">
		{{ canvas_component('map', {
			'class': 'bottommargin',
			'style': 'height: 300px;',
			'key': 'AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE',
			'latitude': 46.322416, 'longitude': -0.448615, 'zoom': 17,
			'addressMarker': {
				'address': '4 rue du docteur Roux',
				'city': 'Niort',
				'country': 'France'
			},
			'textMarker': {
				'title':'Salut, nous sommes <span>6nApps</span>',
				'body':'Notre mission est d\'aider nos clients à <strong>constituer</strong> et <strong>valider</strong> leurs projets. Nous sommes spécialisés <strong>symfony</strong> et <strong>react native</strong>, mais pouvons nous adapter à <strong>plein</strong> de langages <strong>différents</strong>.'
			},
			'icon': asset('canvas/images/icons/map-icon-red.png'),
			'doubleClickZoom': 'false', 'panControl': 'true', 'zoomControl': 'true', 'mapTypeControl': 'false', 'scaleControl': 'false', 'streetViewControl': 'false', 'overviewMapControl': 'false'
		})
		}}
		{{ canvas_component('contact-form', {
				'class': 'contact-widget',
				'title': 'Envoyez-nous un Email',
				'formConfig': {
					'action': '#', 'method': 'post', 'name': 'contactez_nous'
				},
				'components': [
					{'label': 'nom', 'type':'text', 'required': true},
					{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.'},
					{'label': 'téléphone', 'type':'email', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.'},
					{'label': 'Sujet', 'type':'text', 'required': true, 'class': 'col_two_third' },
					{'label': 'Thème', 'type':'listChoice','list': [ ['-- Choisissez --', ''], ['Symfony', 'Symfony'], ['React native', 'ReactNative'], ['Autre', 'Autre'] ] },
					{'label': 'Faites-nous parvenir votre document', type:'fileUpload', 'class': 'col_full'},
					{'label': 'message', 'type':'textarea', 'required': true, 'class': 'col_full', 'rows': '6', 'cols': '30'}
				],
				'recaptcha': 'iciuneclevalide',
				'sendBtnLabel':'envoyer votre message',
				'inlineNotification' : 'true'
			})
		}}
		<div class="line"></div>
		<div class="col_two_third nobottommargin">
			{{ canvas_component('twitter-feed', {'twitterProfile': '6nApps' }) }}
		</div>
		<div class="col_one_third col_last nobottommargin">
			{{ canvas_component('contact-info', {
				'address': {'name': '6nApps', 'street': '4 rue du docteur Roux', 'city': 'Niort', 'zipCode': '79000', 'country': 'France'},
				'contacts': [ {'title': 'Téléphone', 'body':'09 70 98 87 04'}, {'title': 'Email', 'body':'contact@6napps.com'} ]
			}) }}
		</div>
	</div>
	{{ canvas_component('contact-sidebar', {
		'sidebar' : true,
		'linkList': {
			'title': 'Autre liste de liens',
			'list': [
				['Autre lien 1', '#'],
				['Autre lien 2', '#'],
				['Autre lien 3', '#'],
				['Autre lien 4', '#'],
				['Autre lien 5', '#'],
				['Autre lien 6', '#'],
			]
		},
		'carousel' : {
			'items': 1,
			'margin': 5,
			'loop': 'true',
			'nav': 'true',
			'autoplay': 2000,
			'pagi': 'true',
			'images':[
				{
					'url': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGYhj2G7_2I7pLAzTirqZJHvre9wE7lGNMnpPKehByJvsShKVwA',
					'link': '#',
					'alt': 'Écureuil roux'
				},
				{
					'url': 'https://vignette.wikia.nocookie.net/desencyclopedie/images/f/fb/%C3%89cureuil_tueur_de_Central_Park.JPG/revision/latest?cb=20150810090537',
					'link': '#',
					'alt': 'Écureuil métisse'
				},
				{
					'url': 'http://static.boredpanda.com/blog/wp-content/uploads/2015/10/rare-white-squirrel-photo-andrew-fulton-marbury-country-park-uk-6.jpg',
					'link': '#',
					'alt': 'Écureuil rare'
				}
			]
		},
		'subscribe':{
			'title': 'Bénéficier de nos dernières offres',
			'text': 'Inscrivez-vous à notre newsletter pour rester renseigné sur de nouvelles offres incroyables !',
			'action': '#',
			'placeholder': 'Entrez votre email',
		}
		})
	}}
</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


