{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Contact - 7', 'subTitle': 'Formulaire de contact - Style 7', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Contact pages', 'link': '#'}, { 'label': 'Style 7', 'link': '#'} ] }) }}
	{{ canvas_component('page-menu', { 'title': 'Contact 6nApps <span>Options</span>', 'links':[ ['Défaut', path('sixnapps.canvas.contact-1')], ['Avec reCaptcha', '#'], ['Chargement de fichier', '#'], ['Notification en ligne', '#'] ] }) }}
{% endblock %}

{% block content %}
	<!-- Contact Form & Map Overlay Section
			============================================= -->
	<section id="map-overlay">
		<div class="container clearfix">
			<!-- Contact Form Overlay
			============================================= -->
			<div id="contact-form-overlay-mini" class="clearfix">
				{{ canvas_component('contact-form-2', {
						'title': 'Envoyez-nous un Email',
						'formConfig': {
							'action': '#', 'method': 'post', 'name': 'contactez_nous'
						},
						'components': [
							{'label': 'nom', 'type':'text', 'required': true, 'class':'col_full'},
							{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.', 'class':'col_full'},
							{'label': 'téléphone', 'type':'email', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.', 'class':'col_full'},
							{'label': 'Thème', 'type':'listChoice','list': [ ['-- Choisissez --', ''], ['Symfony', 'Symfony'], ['React native', 'ReactNative'], ['Autre', 'Autre'] ], 'class':'col_full' },
							{'label': 'Sujet', 'type':'text', 'required': true, 'class':'col_full' },
							{'label': 'message', 'type':'textarea', 'required': true, 'class': 'col_full', 'rows': '6', 'cols': '30'}
						],
						'recaptcha': 'iciuneclevalide',
						'sendBtnLabel':'envoyer votre message',
						'inlineNotification' : 'true'
					})
				}}
			</div><!-- Contact Form Overlay End -->
		</div>
		{{ canvas_component('map', {
			'key': 'AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE',
			'latitude': 46.322416, 'longitude': -0.446615, 'zoom': 18,
			'addressMarker': {
				'address': '4 rue du docteur Roux',
				'city': 'Niort',
				'country': 'France'
			},
			'textMarker': {
				'title':'Salut, nous sommes <span>6nApps</span>',
				'body':'Notre mission est d\'aider nos clients à <strong>constituer</strong> et <strong>valider</strong> leurs projets. Nous sommes spécialisés <strong>symfony</strong> et <strong>react native</strong>, mais pouvons nous adapter à <strong>plein</strong> de langages <strong>différents</strong>.'
			},
			'icon': asset('canvas/images/icons/map-icon-red.png'),
			'doubleClickZoom': 'false', 'panControl': 'true', 'zoomControl': 'true', 'mapTypeControl': 'false', 'scaleControl': 'false', 'streetViewControl': 'false', 'overviewMapControl': 'false'
		}
		) }}
	</section><!-- Contact Form & Map Overlay Section End -->
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


