{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Contact - 2', 'subTitle': 'Formulaire de contact - Style 2', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Contact pages', 'link': '#'}, { 'label': 'Style 2', 'link': '#'} ] }) }}
	{{ canvas_component('page-menu', { 'title': 'Contact 6nApps <span>Options</span>', 'links':[ ['Défaut', path('sixnapps.canvas.contact-1')], ['Avec reCaptcha', '#'], ['Chargement de fichier', '#'], ['Notification en ligne', '#'] ] }) }}
{% endblock %}

{% block content %}
<div class="container clearfix">
	{{ canvas_component('contact-form', {
			'class': 'col_half',
			'title': 'Envoyez-nous un Email',
			'formConfig': {
				'action': '#', 'method': 'post', 'name': 'contactez_nous'
			},
			'components': [
				{'label': 'nom', 'type':'text', 'required': true},
				{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.'},
				{'label': 'téléphone', 'type':'email', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.'},
				{'label': 'Sujet', 'type':'text', 'required': true, 'class': 'col_two_third' },
				{'label': 'Thème', 'type':'listChoice','list': [ ['-- Choisissez --', ''], ['Symfony', 'Symfony'], ['React native', 'ReactNative'], ['Autre', 'Autre'] ] },
				{'label': 'Faites-nous parvenir votre document', type:'fileUpload', 'class': 'col_full'},
				{'label': 'message', 'type':'textarea', 'required': true, 'class': 'col_full', 'rows': '6', 'cols': '30'}
			],
			'recaptcha': 'iciuneclevalide',
			'sendBtnLabel':'envoyer votre message',
			'inlineNotification' : 'true'
		})
 	}}
	{{ canvas_component('map', {
			'class': 'col_half col_last',
			'style': 'height: 410px;',
			'key': 'AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE',
			'latitude': 46.322416, 'longitude': -0.448615, 'zoom': 17,
			'addressMarker': {
				'address': '4 rue du docteur Roux',
				'city': 'Niort',
				'country': 'France'
			},
			'textMarker': {
				'title':'Salut, nous sommes <span>6nApps</span>',
				'body':'Notre mission est d\'aider nos clients à <strong>constituer</strong> et <strong>valider</strong> leurs projets. Nous sommes spécialisés <strong>symfony</strong> et <strong>react native</strong>, mais pouvons nous adapter à <strong>plein</strong> de langages <strong>différents</strong>.'
			},
			'icon': asset('canvas/images/icons/map-icon-red.png'),
			'doubleClickZoom': 'false', 'panControl': 'true', 'zoomControl': 'true', 'mapTypeControl': 'false', 'scaleControl': 'false', 'streetViewControl': 'false', 'overviewMapControl': 'false'
		})
	}}
	{{ canvas_component('contact-bottom', {
			'datas':[
				{ 'icon':'map-marker2', 'title':'Notre siège social', 'subtitle':'Niort, France' },
				{ 'icon':'phone3', 'title':'Appelez-nous', 'subtitle':'09 70 98 87 04' },
				{ 'icon':'twitter', 'title':'Nous suivre sur twitter', 'link':'https://twitter.com/6nApps', 'subtitle':'Lâchez votre tweet !' },
				{ 'icon':'facebook2', 'title':'Nous suivre sur facebook', 'link':'https://www.facebook.com/6nApps/', 'subtitle':'Likez !' },
			]
		})
	}}
</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


