{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'FAQS', 'subTitle': 'All your Questions answered in one place', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{% include('@SixnappsCanvasTemplate/components/faq/faq.html.twig') %}
	</div>
{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}


{% block javascript %}
<script src="{{ asset('canvas/js/jquery.js') }}"></script>
{{ parent() }}
{% endblock %}

