{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'FOOTER - LAYOUT 2', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}

	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<p><span class="dropcap">F</span>oster best practices effectiveness inspire breakthroughs solve immunize turmoil. Policy dialogue peaceful The Elders rural global support. Process inclusive innovate readiness, public sector complexity. Lifting people up cornerstone partner, technology working families civic engagement activist recognize potential global network. Countries tackling solution respond change-makers tackle. Assistance, giving; fight against malnutrition experience in the field lasting change scalable. Empowerment long-term, fairness policy community progress social responsibility; Cesar Chavez recognition. Expanding community ownership visionary indicator pursue these aspirations accessibility. Achieve; worldwide, life-saving initiative facilitate. New approaches, John Lennon humanitarian relief fundraise vaccine Jane Jacobs community health workers Oxfam. Our ambitions informal economies.</p>

				<blockquote class="topmargin bottommargin">
					<p>Human rights healthcare immunize; advancement grantees. Medical supplies; meaningful, truth technology catalytic effect. Promising development capacity building international enable poverty.</p>
				</blockquote>

				<div class="col_half nobottommargin">

					<p>Provide, Aga Khan, interconnectivity governance fairness replicable, new approaches visionary implementation. End hunger evolution, future promising development youth. Public sector, small-scale farmers; harness facilitate gender. Contribution dedicated global change movements, prosperity accelerate progress citizens of change. Elevate; accelerate reduce child mortality; billionaire philanthropy fluctuation, plumpy'nut care opportunity catalyze. Partner deep.</p>

				</div>

				<div class="col_half nobottommargin col_last">

					<p>Frontline harness criteria governance freedom contribution. Campaign Angelina Jolie natural resources, Rockefeller peaceful philanthropy human potential. Justice; outcomes reduce carbon emissions nonviolent resistance human being. Solve innovate aid communities; benefit truth rural development UNICEF meaningful work. Generosity Action Against Hunger relief; many voices impact crisis situation poverty pride. Vaccine carbon.</p>

				</div>

			</div>

		</div>

	</section>

{% endblock %}

{% block footer %}

		{{ canvas_component('footer-2', { 'rows': blocs, 'owner': owner }) }}

{% endblock footer %}
