{% use "bootstrap_4_layout.html.twig" %}

{% block form_label -%}
	{% if label is not same as(false) -%}
		{%- if compound is defined and compound -%}
			{%- set element = 'legend' -%}
			{%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
		{%- else -%}
			{%- set label_attr = label_attr|merge({for: id}) -%}
		{%- endif -%}
		{% if required -%}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
		{%- endif -%}
		{% if label is empty -%}
			{%- if label_format is not empty -%}
				{% set label = label_format|replace({
					'%name%': name,
					'%id%': id,
				}) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{%- endif -%}
		<{{ element|default('label') }}
		{% if label_attr %}
			{% with { attr: label_attr } %}
				{{ block('attributes') }}
			{% endwith %}
		{% endif %}>
		{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
		{#{% block form_label_errors %}#}
		{#{{- form_errors(form) -}}#}
		{#{% endblock form_label_errors %}#}
		</{{ element|default('label') }}>
	{%- else -%}
		{#{%- if errors|length > 0 -%}#}
		{#<div id="{{ id }}_errors" class="mb-2">#}
		{#{{- form_errors(form) -}}#}
		{#</div>#}
		{#{%- endif -%}#}
	{%- endif -%}
{%- endblock form_label %}

{% block form_row -%}
	{%- if compound is defined and compound -%}
		{%- set element = 'fieldset' -%}
	{%- endif -%}
	{%- set widget_attr = {} -%}
	{%- if help is not empty -%}
		{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
	{%- endif -%}
	<{{ element|default('div') }} class="form-group">
	{{- form_label(form) -}}
	{{- form_widget(form, widget_attr) -}}
	{{- form_help(form) -}}
	{%- if errors|length > 0 -%}
		<div id="{{ id }}_errors" class="mb-2">
			{{- form_errors(form) -}}
		</div>
	{%- endif -%}
	</{{ element|default('div') }}>
{%- endblock form_row %}

