{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}


{% block body_class %}{% endblock body_class %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Headers', 'subTitle': 'Headers disponibles', 'breadcrumb':[ ['Features', '#'], ['Headers', '#'] ]}) }}
{% endblock %}

{% block content %}
	{{ canvas_component('one-page', {
			'logoAlt': 'Canvas Logo',
			'logoLink': '#',
			'logoUrl': canvas_asset('one-page/images/canvasone.png'),
			'darkLogoUrl': canvas_asset('one-page/images/canvasone-dark.png'),
			'retinaLogoUrl': canvas_asset('one-page/images/canvasone@2x.png'),
			'darkRetinaLogoUrl': canvas_asset('one-page/images/canvasone-dark@2x.png'),
			'links': [
				{
					'title': 'Home',
					'idTarget': 'wrapper'
				},
				{
					'title': 'About',
					'idTarget': 'section-about'
				},
				{
					'title': 'Works',
					'idTarget': 'section-works'
				},
				{
					'title': 'Services',
					'idTarget': 'section-services'
				},
				{
					'title': 'Blog',
					'idTarget': 'section-blog'
				},
				{
					'title': 'Contact',
					'idTarget': 'section-contact'
				},
			],
			'socials': {
				'class': 'si-small si-borderless',
				'list': [
					{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
					{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
					{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
					{'name': 'gplus', 'link': 'https://plus.google.com/u/0/102034850553764491190'},
				]
			}
		})
	}}
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}
