{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Title', 'subTitle': 'A Start Page', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">A Symfony 4 Starter Template</h1>
				<p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
				<ul class="list-unstyled">
					<li>Symfony 4.x</li>
					<li>Bootstrap 4.1.3</li>
					<li>jQuery 3.3.1</li>
				</ul>
				{#{{ summernote_init() }}#}
				<textarea class="summernote"></textarea>
				{{ canvas_component('component-fake') }}
			</div>
		</div>

	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}
