{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
    {{ canvas_component('header', {'dark': true}) }}
{% endblock %}

{% block title %}
    {{ canvas_component('title', {
        'align':'right',
        'title': 'Lorem ipsum sum',
        'subTitle': 'Lorem ipusm sum',
        'img': 'https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260',
        'paddingBg': '250px 0',
        'bottomTop':'0px 400px',
        'topBottom':'0px -500px',
        'backgroundSize': 'cover',
        'dark': true,
        'cover': 'rgba(255,192,203,0.3)'
    }) }}
{% endblock %}

{% block content %}
    {% include('@SixnappsCanvasTemplate/components/corporate/corporate1.html.twig') %}
{% endblock %}

    {% block footer %}
        {{ canvas_component('footer-2-custom', {
            rows:[
                {
                    type: 'contact',
                    footer_title: 'Nous contacter',
                    address: {
                    name: "Tautech",
                    street: "4 Rue ....",
                    zipcode: "79000",
                    city: "Niort",
                    country: "France",
                },
                    contacts:[
                    {
                        title: 'telephone',
                        body: '01 02 03 04 05',
                    },
                    {
                        title: 'email',
                        body: 'mailTautech',
                    }
                ],
                },
                {
                    type: 'informations',
                    footer_title: 'Informations',
                    items:[
                    {
                        libelle: "Conditions Générales d'utilisations",
                    },
                    {
                        libelle: "Conditions Générales de vente",
                    },
                    {
                        libelle: "Mentions légales",
                    },
                    {
                        libelle: "Confidentialité",
                    }
                ],
                },
                {
                    type: 'newsletter',
                    footer_title: 'Newsletters',
                    items:[
                    {
                        libelle: 'Newsletter .....'
                    }
                ],
                },
                {
                    type: 'reseaux-sociaux',
                    footer_title: 'Réseaux sociaux',
                    socials:[
                    {
                        label: 'facebook',
                        link: 'https://facebook.com'
                    },
                    {
                        label: 'twitter',
                        link: 'htpps://twitter.com'
                    }
                ],
                }
            ]
        }) }}
    {% endblock footer %}
