{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}
	side-header
{% endblock %}

{% block header %}
	{{ canvas_component('one-page', {
			'logoAlt': 'Canvas Logo',
			'logoLink': path('sixnapps.canvas.index'),
			'logoUrl': canvas_asset('images/logo-side.png'),
			'darkLogoUrl': canvas_asset('images/logo-side-dark.png'),
			'retinaLogoUrl': canvas_asset('images/logo-side@2x.png'),
			'darkRetinaLogoUrl': canvas_asset('images/logo-side-dark@2x.png'),
			'links': [
				{
					'title': 'Home',
					'idTarget': 'wrapper'
				},
				{
					'title': 'About',
					'idTarget': 'section-about'
				},
				{
					'title': 'Works',
					'idTarget': 'section-works'
				},
				{
					'title': 'Services',
					'idTarget': 'section-services'
				},
				{
					'title': 'Blog',
					'idTarget': 'section-blog'
				},
				{
					'title': 'Contact',
					'idTarget': 'section-contact'
				},
			],
			'socials': {
				'class': 'si-small si-borderless',
				'list': [
					{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/'},
					{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
					{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/'},
					{'name': 'gplus', 'link': 'https://plus.google.com/u/0/102034850553764491190'},
				]
			}
		})
	}}
{% endblock %}

{% block title %}
	{#{{ canvas_component('page-menu', { 'title': 'Portfolio <strong>Variations</strong>', 'links':[ ['With margin', '#'], ['No Margin', '#'], ['No Title', '#'], ['Title Overlay', '#'], ['Full Width', '#'], ['Full Width - No Title', '#'] ] }) }}#}
	{#{{ canvas_component('title', {'title':'Portfolio', 'subTitle': 'Portfolio examples', 'breadcrumb':[ ['Features', '#'], ['Portfolio', '#'] ]}) }}#}
{% endblock %}

{% block content %}
	{{ canvas_component('portfolio', {
		'columns': '3',
		'list': [
				{
					'title': 'Open Imagination',
					'subLinks': [
						{
							'title':'Media',
							'link':'#'
						},
						{
							'title':'Icons',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/1.jpg'),
					'previewAlt': 'Open Imagination',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/1.jpg')
						}
					]
				},
				{
					'title': 'Locked Steel Gate',
					'subLinks': [
						{
							'title':'Illustrations',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/2.jpg'),
					'previewAlt': 'Locked Steel Gate',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/2.jpg')
						}
					]
				},
				{
					'title': 'Mac Sunglasses',
					'subLinks': [
						{
							'title':'Graphics',
							'link':'#'
						},
						{
							'title':'UI Elements',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/3.jpg'),
					'previewAlt': 'Mac Sunglasses',
					'link': "#",
					'type': 'iframe',
					'icon': 'line-play',
					'overlay': [
						{
							'urlMedia': 'http://vimeo.com/89396394'
						}
					]
				},
				{
					'title': 'Morning Dew',
					'subLinks': [
						{
							'title':'Icons',
							'link':'#'
						},
						{
							'title':'Illustrations',
							'link':'#'
						}
					],
					'previewSlider': [
						{
							'previewUrl': canvas_asset('images/portfolio/4/4.jpg'),
							'previewAlt': 'Morning Dew',
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/4-1.jpg'),
							'previewAlt': 'Morning Dew',
						}
					],
					'previewAlt': 'Morning Dew',
					'sliderSpeed': '400',
					'sliderPause': '4000',
					'link': "#",
					'type': 'gallery',
					'icon': 'line-stack-2',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/4.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/4-1.jpg'),
						},
					]
				},
				{
					'title': 'Console Activity',
					'subLinks': [
						{
							'title':'UI Element',
							'link':'#'
						},
						{
							'title':'Media',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/5.jpg'),
					'previewAlt': 'Console Activity',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/5.jpg')
						},
					]
				},
				{
					'title': 'Shake It!',
					'subLinks': [
						{
							'title':'Illustrations',
							'link':'#'
						},
						{
							'title':'Graphics',
							'link':'#'
						}
					],
					'previewSlider': [
						{
							'previewUrl': canvas_asset('images/portfolio/4/6.jpg'),
							'previewAlt': 'Shake It!',
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/6-1.jpg'),
							'previewAlt': 'Shake It!',
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/6-2.jpg'),
							'previewAlt': 'Shake It!',
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/6-3.jpg'),
							'previewAlt': 'Shake It!',
						},
					],
					'previewAlt': 'Shake It!',
					'sliderAnimation': 'fade',
					'link': "#",
					'type': 'gallery',
					'icon': 'line-stack-2',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/6.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/6-1.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/6-2.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/6-3.jpg'),
						},
					]
				},
				{
					'title': 'Backpack Contents',
					'subLinks': [
						{
							'title':'Graphics',
							'link':'#'
						},
						{
							'title':'Media',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/7.jpg'),
					'previewAlt': 'Backpack Contents',
					'link': "#",
					'type': 'iframe',
					'icon': 'line-play',
					'overlay': [
						{
							'urlMedia': 'http://www.youtube.com/watch?v=kuceVNBTJio'
						}
					]
				},
				{
					'title': 'Sunset Bulb Glow',
					'subLinks': [
						{
							'title':'Graphics',
							'link':'#'
						},
					],
					'previewUrl': canvas_asset('images/portfolio/4/8.jpg'),
					'previewAlt': 'Sunset Bulb Glow',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/8.jpg')
						},
					]
				},
				{
					'title': 'Bridge Side',
					'subLinks': [
						{
							'title':'Illustrations',
							'link':'#'
						},
						{
							'title':'Icons',
							'link':'#'
						}
					],
					'previewSlider': [
						{
							'previewUrl': canvas_asset('images/portfolio/4/9.jpg'),
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/9-1.jpg'),
						},
						{
							'previewUrl': canvas_asset('images/portfolio/4/9-2.jpg'),
						},
					],
					'previewAlt': 'Bridge Side',
					'sliderAnimation': 'fade',
					'sliderSpeed': '650',
					'sliderPause': '3500',
					'link': "#",
					'type': 'gallery',
					'icon': 'line-stack-2',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/9.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/9-1.jpg'),
						},
						{
							'urlMedia': canvas_asset('images/portfolio/full/9-2.jpg'),
						},
					]
				},
				{
					'title': 'Study Table',
					'subLinks': [
						{
							'title':'Graphics',
							'link':'#'
						},
						{
							'title':'Media',
							'link':'#'
						}
					],
					'previewUrl': canvas_asset('images/portfolio/4/10.jpg'),
					'previewAlt': 'Study Table',
					'link': "#",
					'type': 'iframe',
					'icon': 'line-play',
					'overlay': [
						{
							'urlMedia': 'http://vimeo.com/91973305'
						}
					]
				},
				{
					'title': 'Workspace Stuff',
					'subLinks': [
						{
							'title':'Media',
							'link':'#'
						},
						{
							'title':'Icons',
							'link':'#'
						},
					],
					'previewUrl': canvas_asset('images/portfolio/4/11.jpg'),
					'previewAlt': 'Workspace Stuff',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': canvas_asset('images/portfolio/full/11.jpg')
						},
					]
				},
				{
					'title': 'The Squiricorn !',
					'subLinks': [
						{
							'title':'Illustrations',
							'link':'#'
						},
					],
					'previewUrl': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg',
					'previewAlt': 'Console Activity',
					'link': "#",
					'type': 'image',
					'overlay': [
						{
							'urlMedia': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg'
						},
					]
				},
			]
		})
	}}

	<a href="#" class="button button-full center button-light button-white">
		<div class="container clearfix">
			Need an Instant Quotation? <strong>Get in Touch</strong> <i class="icon-caret-right"
																		style="top:4px;"></i>
		</div>
	</a>

{% endblock %}

{% block footer %}
	{#{{ canvas_component('footer-2') }}#}
	<!-- Footer
============================================= -->
	<footer id="footer" class="dark">
		<!-- Copyrights
		============================================= -->
		<div id="copyrights">
			<div class="container clearfix">
				<div class="center">
					Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
					<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
				</div>
			</div>
		</div><!-- #copyrights end -->
	</footer><!-- #footer end -->
{% endblock footer %}
