{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}side-panel-right side-push-panel{% endblock body_class %}

{% block preHeader %}
	{{ canvas_component('title', title) }}
{% endblock preHeader %}

{% block header %}
	{{ canvas_component('header-light', header) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
	<div class="container">
		{{ dump(security) }}
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}
