<!DOCTYPE html>
<html dir="ltr" lang="fr">
	<head>
		{% if bundleExists('SonataSeoBundle') %}
			{{ sonata_seo_title() }}
			{{ sonata_seo_metadatas() }}
			{{ sonata_seo_oembed_links() }}
		{% else %}
			<title>{% block meta_title %}Canvas template{% endblock meta_title %}</title>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<meta name="author" content="6nApps" />
		{% endif %}
		{% block styles %}
			<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
				  rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/bootstrap.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('style.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/dark.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/font-icons.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/swiper.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/animate.css') }}" type="text/css" />

			<link rel="stylesheet" href="{{ canvas_asset('css/responsive.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/colors.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ canvas_asset('css/custom.css') }}" type="text/css" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />


		{% endblock %}

		{% block head_javascript %}
			<script src="{{ canvas_asset('js/jquery.js') }}"></script>
		{% endblock %}

		{% if bundleExists('FOSJsRoutingBundle') %}
			{% include('@SixnappsCanvasTemplate/ext-bundles/fosjsrouting.html.twig') %}
		{% endif %}
	</head>

	<body class="{% block body_class %}{% endblock body_class %} stretched">

		<div id="wrapper" class="clearfix">
			{% block preHeader %}{% endblock preHeader %}
			{% block header %}{% endblock header %}
			{% block slider %}{% endblock slider %}
			{% block title %}{% endblock title %}

			{% block body %}
				{% block content %}{% endblock content %}
			{% endblock body %}

			{% block footer %}{% endblock footer %}
		</div>

		<div id="gotoTop" class="icon-angle-up"></div>

		<script src = "{{ canvas_asset('js/plugins.js') }}"></script>
		<script src="{{ canvas_asset('js/functions.js') }}"></script>
		{% block javascript %}{% endblock javascript %}
	</body>
</html>
