{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Mon compte', 'subTitle': 'Connexion/Inscription - Style 2', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Login/Register pages', 'link': '#'}, { 'label': 'Style 2', 'link': '#'} ] }) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{% set connexionForm =
			canvas_component('login-form', {
				'formConfig': {
					'action': '#', 'method': 'post', 'forgotLink': '#'
				},
				'formLabel': 'Connectez-vous à votre compte',
				'usernameLabel': 'Nom d\'utilisateur',
				'passwordLabel': 'Mot de passe',
				'rememberLabel': 'Se souvenir de moi',
				'submitLabel': 'Me connecter',
				'forgotLabel': 'Mot de passe oublié ?',
				'submitBlack': true
			})
		%}
		{% set registerForm =
			canvas_component('register-form',{
				'formConfig': { 'action': '#', 'method': 'post' },
				'formLabel': 'Si vous n\'avez pas encore de compte, inscrivez-vous !',
				'formText': '',
				'components': [
					{'label': 'nom', 'type':'text', 'required': true, 'class': 'col_full'},
					{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.', 'class': 'col_full'},
					{'label': 'pseudonyme', 'type':'text', 'required': true, 'class': 'col_full'},
					{'label': 'téléphone', 'type':'phone', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.', 'class': 'col_full'},
					{'label': 'Choisissez votre mot de passe', type:'password', 'required': true, 'class': 'col_full'},
					{'label': 'Réinscrivez votre mot de passe', 'type':'password', 'required': true, 'class': 'col_full'}
				],
				'registerLabel': 'S\'inscrire maintenant',
				'submitBlack': true
			})
		%}

		{{ canvas_component('tabs', {
				'title': [
					'Connexion',
					'Inscription',
				],
				'content': [
					"<div class='card nobottommargin'><div class='card-body' style='padding: 40px;'>"~connexionForm~"</div></div>",
					"<div class='card nobottommargin'><div class='card-body' style='padding: 40px;'>"~registerForm~"</div></div>"
				],
				'idsContent': [
					'login',
					'register'
				],
				'idTab': 'tab-login-register',
				'styleTab': 'max-width: 500px;',
				'parameters': [
					'divcenter',
					'nobottommargin'
				],
				'tabNavCenter': true,
				'alternate': true
			})
		}}
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


