{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
{% endblock %}

{% block title %}
	<title>Login - Layout 4 | Canvas</title>
{% endblock %}

{% block content %}

	{% set connexionForm =
			canvas_component('login-form', {
			'formConfig': {
				'action': '#', 'method': 'post', 'forgotLink': '#'
			},
			'formLabel': 'Connectez-vous à votre compte',
			'usernameLabel': 'Nom d\'utilisateur',
			'passwordLabel': 'Mot de passe',
			'submitLabel': 'Me connecter',
			'forgotLabel': 'Mot de passe oublié ?',
			'submitBlack': true
		})
	%}

	{{ canvas_component('login-page', {
			'logoUrl': 'https://www.artlebedev.com/tutu/tutu-logo.png',
			'logoWidth': '200px',
			'logoAlt': 'toto',
			'logoLink': path('sixnapps.canvas.index'),
			'connexionForm': connexionForm,
			'copyrightsText': 'Copyrights &copy; Tous droits réservés à 6nApps.',
			'socialLogins': {
				'label': 'ou avec :',
				'connector': 'ou',
				'list': [
					{'name': 'facebook', 'link': '#'},
					{'name': 'twitter', 'link': '#'},
				]
			}
		})
	}}

{% endblock %}

{% block footer %}
{% endblock footer %}


