{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Mon compte', 'subTitle': 'Connexion/Inscription - Style 1', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Login/Register pages', 'link': '#'}, { 'label': 'Style 1', 'link': '#'} ] }) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">

		<div class="col_one_third nobottommargin">
			{{ canvas_component('login-form', {
					'formConfig': {
						'action': '#', 'method': 'post', 'forgotLink': '#'
					},
					'formLabel': 'Connectez-vous à votre compte',
					'usernameLabel': 'Nom d\'utilisateur',
					'passwordLabel': 'Mot de passe',
					'rememberLabel': 'Se souvenir de moi',
					'submitLabel': 'Me connecter',
					'forgotLabel': 'Mot de passe oublié ?'
				})
			}}
		</div>

		<div class="col_two_third col_last nobottommargin">
			{{ canvas_component('register-form',{
					'formConfig': { 'action': '#', 'method': 'post' },
					'formLabel': 'Si vous n\'avez pas encore de compte, inscrivez-vous !',
					'formText': 'vous pourrez ainsi bénéficier de tous nos avantages et profiter au maximum du site !',
					'components': [
						{'label': 'nom', 'type':'text', 'required': true},
						{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.'},
						{'label': 'pseudonyme', 'type':'text', 'required': true},
						{'label': 'téléphone', 'type':'phone', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.'},
						{'label': 'Choisissez votre mot de passe', type:'password', 'required': true},
						{'label': 'Réinscrivez votre mot de passe', 'type':'password', 'required': true}
					],
					'registerLabel': 'S\'inscrire maintenant',
					'submitBlack': true
				})
			}}
		</div>

	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


