{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Mon compte', 'subTitle': 'Connexion/Inscription - Style 3', 'breadcrumb':[ { 'label': 'Features', 'link': '#'}, { 'label': 'Login/Register pages', 'link': '#'}, { 'label': 'Style 3', 'link': '#'} ] }) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{% set connexionForm =
			canvas_component('login-form', {
			'formConfig': {
				'action': '#', 'method': 'post', 'forgotLink': '#'
			},
			'formLabel': '',
			'usernameLabel': 'Nom d\'utilisateur',
			'passwordLabel': 'Mot de passe',
			'rememberLabel': 'Se souvenir de moi',
			'submitLabel': 'Me connecter',
			'forgotLabel': 'Mot de passe oublié ?',
			'submitBlack': true
		})
		%}
		{% set registerForm =
			canvas_component('register-form',{
			'formConfig': { 'action': '#', 'method': 'post' },
			'formLabel': '',
			'formText': '',
			'components': [
				{'label': 'nom', 'type':'text', 'required': true, 'class': 'col_full'},
				{'label': 'email', 'type':'email', 'required': true, 'help':'Nous ne partageons pas votre adresse email.', 'class': 'col_full'},
				{'label': 'pseudonyme', 'type':'text', 'required': true, 'class': 'col_full'},
				{'label': 'téléphone', 'type':'phone', 'required': false, 'help':'Nous ne partageons pas votre numéro de téléphone.', 'class': 'col_full'},
				{'label': 'Choisissez votre mot de passe', type:'password', 'required': true, 'class': 'col_full'},
				{'label': 'Réinscrivez votre mot de passe', 'type':'password', 'required': true, 'class': 'col_full'}
			],
			'registerLabel': 'S\'inscrire maintenant',
			'submitBlack': true
		})
		%}

		{{ canvas_component('accordion',{
				'accordion': {
					'content':
						[
							{
								'open': true,
								'title': 'Connectez-vous à votre compte',
								'iconOpen': 'unlock',
								'iconClosed':'lock3',
								'content': connexionForm,
							},
							{
								'open': false,
								'title': 'Nouveau ? Inscrivez-vous !',
								'iconOpen': 'ok-sign',
								'iconClosed': 'user4',
								'content': registerForm,
							},
						],
				},
				'type': 'large',
				'class': 'divcenter nobottommargin',
				'style': 'max-width: 550px;'
			})
		}}

	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}


