{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}


{% block body_class %}{% endblock body_class %}


{% block content %}
	<div class="container clearfix">
		{{ canvas_component('maintenance', { 'maintenance': maintenance }) }}
	</div>
{% endblock %}
