{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{# la classe sticky-footer fait bugger les modales#}
{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'MODAL ON LOAD', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}

	{% include('@SixnappsCanvasTemplate/components/modal-onload/modal-onload.html.twig') %}

{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
