{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('page-menu', { 'title': 'Portfolio <strong>Variations</strong>', 'links':[ ['With margin', '#'], ['No Margin', '#'], ['No Title', '#'], ['Title Overlay', '#'], ['Full Width', '#'], ['Full Width - No Title', '#'] ] }) }}
	{{ canvas_component('title', {'title':'Portfolio', 'subTitle': 'Portfolio examples', 'breadcrumb':[ ['Features', '#'], ['Portfolio', '#'] ]}) }}
{% endblock %}

{% block content %}

	{{ canvas_component('portfolio', {
			'globalStyle': 'height: 275px;',
			'columns': '4',
			'list': [
				{
					'title': 'I\'m busy',
					'subLinks': [
					{
						'title':'Media',
						'link':'#'
					},
					{
						'title':'Icons',
						'link':'#'
					}
				],
					'previewUrl': 'https://s28301.pcdn.co/wp-content/uploads/2018/10/squirrel-class-book-page.jpg',
					'previewAlt': 'Busy',
					'previewStyle': 'position: relative; bottom: 60px',
					'link': "#",
					'type': 'image',
					'overlay': [
					{
						'urlMedia': 'https://s28301.pcdn.co/wp-content/uploads/2018/10/squirrel-class-book-page.jpg'
					}
				]
				},
				{
					'title': 'The Squiricorn !',
					'subLinks': [
					{
						'title':'Illustrations',
						'link':'#'
					}
				],
					'previewUrl': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg',
					'previewAlt': 'Squiricorn',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'image',
					'overlay': [
					{
						'urlMedia': 'https://i.ytimg.com/vi/0IQA8GVsn0o/hqdefault.jpg'
					}
				]
				},
				{
					'title': 'Flying',
					'subLinks': [
					{
						'title':'Fx',
						'link':'#'
					},
					{
						'title':'Technicals',
						'link':'#'
					}
				],
					'previewUrl': 'https://pbs.twimg.com/media/DXx1mTGX0AEtD5d.jpg',
					'previewAlt': 'Flying',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'iframe',
					'icon': 'line-play',
					'overlay': [
					{
						'urlMedia': 'https://www.youtube.com/watch?v=IANwb_qT1gg'
					}
				]
				},
				{
					'title': 'Morning Dew',
					'subLinks': [
					{
						'title':'Icons',
						'link':'#'
					},
					{
						'title':'Illustrations',
						'link':'#'
					}
				],
					'previewUrl': 'https://i3.cpcache.com/product/1611142597/squirrel_book_read_tile_coaster.jpg?side=Front&height=460&width=460&qv=90',
					'previewAlt': 'Morning Dew',
					'previewStyle': 'position: relative; bottom: 60px;',
					'link': "#",
					'type': 'gallery',
					'icon': 'line-stack-2',
					'overlay': [
					{
						'urlMedia': 'https://i3.cpcache.com/product/1611142597/squirrel_book_read_tile_coaster.jpg?side=Front&height=460&width=460&qv=90'
					},
					{
						'urlMedia': 'https://i.pinimg.com/originals/0f/67/8e/0f678e706d31e85d142dee809b0507e3.jpg'
					},
				]
				},
				{
					'title': 'Console Activity',
					'subLinks': [
					{
						'title':'UI Element',
						'link':'#'
					},
					{
						'title':'Media',
						'link':'#'
					}
				],
					'previewUrl': 'https://pensivesquirrel.files.wordpress.com/2013/11/squirrel-hacker.jpg',
					'previewAlt': 'Console Activity',
					'previewStyle': 'position: relative;',
					'link': "#",
					'type': 'image',
					'overlay': [
					{
						'urlMedia': 'https://pensivesquirrel.files.wordpress.com/2013/11/squirrel-hacker.jpg'
					},
				]
				},

			]
		})
	}}







{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}
