{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('canvas/css/components/bs-switches.css') }}" type="text/css" />
{% endblock %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'RADIOS, CHECKBOXES & TOGGLE SWITCHES', 'subTitle': 'foo', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{% include('@SixnappsCanvasTemplate/components/radios-switches/radios-switches.html.twig') %}
	</div>
{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}


{% block javascript %}
<script src="{{ asset('canvas/js/jquery.js') }}"></script>
{{ parent() }}
<script src="{{ asset('canvas/js/components/bs-switches.js') }}"></script>
<script>
	jQuery(".bt-switch").bootstrapSwitch();
</script>
{% endblock %}
