{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Sections', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="fancy-title title-dotted-border title-center">
		<h3>Section custom 1</h3>
	</div>
	<div class="container clearfix mb-5">
		{{ canvas_component('section-custom-1') }}
	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
