{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
    {% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
    {{ canvas_component('title', {'title':'Sections', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
        {{ canvas_component('service-item-image',{
            title: "Symfony",
            subTitle: 'Mon sous titre',
            text: "Cahier de fonctionnalités

Documents référentiels comprenant les objectifs à atteindre tout en intégrant les contraintes techniques, esthétiques et fonctionnelles du projet. Le cahier des charges va contenir tout ce que vous imaginez de A à Z et le cahier de fonctionnalité ce que l’utilisateur peut en faire. Ces deux documents fondamentaux vont nous permettre de comprendre vos attentes et ainsi d’y répondre avec facilité. Ils sont utiles, à condition qu’ils soient bien structurés et respectent un certain fil rouge afin d’être le plus détaillés possible.
2.1 Cahier des charges
Exemple de ce que l’on peut retrouver dans un cahier des charges :

L’objet de votre projet : qu’en attendez-vous exactement ? Dans quel but ?
Le budget : Il est important que vous sachiez d’avance quel budget vous souhaitez /pouvez consacrer à votre projet.
Le contenu que vous allez intégrer : C’est la matière que vous allez fournir à vos visiteurs. Cela doit être à la fois intéressant pour votre public cible mais également répondre aux normes des moteurs de recherche. C’est un travail perpétuel qui requiert un investissement en temps.

2.3 Le cahier de fonctionnalités
Exemple :
L’arborescence : c’est la structure, les menus que vous désirez voir apparaître lors de la création de votre site/appli et la manière dont les pages renvoient de l’une à l’autre, laquelle servira de colonne vertébrale afin de greffer le contenu.
Définir en tant qu’utilisateur ce qui peut être fait ou non.
Présenter de manière détaillée toutes les actions possibles.

3. Mockups indexés aux fonctionnalités et UX

Lors de cette étape, notre équipe se concentre plus sur le fond que sur la forme, nos UX designers entrent en jeu. Leur rôle : concevoir un parcours utilisateur le plus optimal et supprimer toutes les actions inutiles. Nous allons avoir pour principal objectif d’inciter vos visiteurs à effectuer une action précise (call to action) : un clic, une demande de devis, un abonnement à une newsletter, un téléchargement d’ebook ou bien un achat... Pour cela, elle va s’appuyer sur des logiciels tel que Balsamiq pour concevoir les mockups.

La mission principale d’un mockup consiste à représenter le squelette d'une interface utilisateur et analyser les problématiques de navigation, en se posant la question de la pertinence de chaque élément disposé sur le mockup. Pour chacun d’eux, une présentation détaillée des fonctionnalités est associée. C'est la première étape de conception :

Les différentes zones : logo, texte, menu...
Les fonctionnalités attendues : se connecter, envoi mail, partage sur réseaux sociaux…
Le recensement des éléments : icônes, boutons, images...
L'agencement du contenu : navigation, flèche...
Cahier de fonctionnalités

Documents référentiels comprenant les objectifs à atteindre tout en intégrant les contraintes techniques, esthétiques et fonctionnelles du projet. Le cahier des charges va contenir tout ce que vous imaginez de A à Z et le cahier de fonctionnalité ce que l’utilisateur peut en faire. Ces deux documents fondamentaux vont nous permettre de comprendre vos attentes et ainsi d’y répondre avec facilité. Ils sont utiles, à condition qu’ils soient bien structurés et respectent un certain fil rouge afin d’être le plus détaillés possible.
2.1 Cahier des charges
Exemple de ce que l’on peut retrouver dans un cahier des charges :

L’objet de votre projet : qu’en attendez-vous exactement ? Dans quel but ?
Le budget : Il est important que vous sachiez d’avance quel budget vous souhaitez /pouvez consacrer à votre projet.
Le contenu que vous allez intégrer : C’est la matière que vous allez fournir à vos visiteurs. Cela doit être à la fois intéressant pour votre public cible mais également répondre aux normes des moteurs de recherche. C’est un travail perpétuel qui requiert un investissement en temps.

2.3 Le cahier de fonctionnalités
Exemple :
L’arborescence : c’est la structure, les menus que vous désirez voir apparaître lors de la création de votre site/appli et la manière dont les pages renvoient de l’une à l’autre, laquelle servira de colonne vertébrale afin de greffer le contenu.
Définir en tant qu’utilisateur ce qui peut être fait ou non.
Présenter de manière détaillée toutes les actions possibles.

3. Mockups indexés aux fonctionnalités et UX

Lors de cette étape, notre équipe se concentre plus sur le fond que sur la forme, nos UX designers entrent en jeu. Leur rôle : concevoir un parcours utilisateur le plus optimal et supprimer toutes les actions inutiles. Nous allons avoir pour principal objectif d’inciter vos visiteurs à effectuer une action précise (call to action) : un clic, une demande de devis, un abonnement à une newsletter, un téléchargement d’ebook ou bien un achat... Pour cela, elle va s’appuyer sur des logiciels tel que Balsamiq pour concevoir les mockups.

La mission principale d’un mockup consiste à représenter le squelette d'une interface utilisateur et analyser les problématiques de navigation, en se posant la question de la pertinence de chaque élément disposé sur le mockup. Pour chacun d’eux, une présentation détaillée des fonctionnalités est associée. C'est la première étape de conception :

Les différentes zones : logo, texte, menu...
Les fonctionnalités attendues : se connecter, envoi mail, partage sur réseaux sociaux…
Le recensement des éléments : icônes, boutons, images...
L'agencement du contenu : navigation, flèche...

3.1 Les Avantages
Un mockup est une étape indispensable durant la phase de conception d'un site, d’une appli, d'un logiciel ou de tout autre interface numérique pour les raisons suivantes :

Se concentrer sur le fond du projet
Optimiser l’expérience utilisateur, il sera possible de déplacer facilement un élément pour améliorer l'interface
Travailler l’ergonomie
Identifier et supprimer les fonctionnalités à faible valeur ajoutée
Constater un problème de placement, de taille des éléments ou même une
impossibilité technique
Ajuster son projet à moindre coût
Décrire intégralement votre projet pour le présenter à vos partenaires.

Après avoir livré les mockups, notre équipe annexe le cahier de fonctionnalités qui recense l’ensemble des mockups détaillés de l’application ou du site. A la suite de cette étape, il reste plus qu’à mettre vos couleurs à votre projet ?.Cahier de fonctionnalités

Documents référentiels comprenant les objectifs à atteindre tout en intégrant les contraintes techniques, esthétiques et fonctionnelles du projet. Le cahier des charges va contenir tout ce que vous imaginez de A à Z et le cahier de fonctionnalité ce que l’utilisateur peut en faire. Ces deux documents fondamentaux vont nous permettre de comprendre vos attentes et ainsi d’y répondre avec facilité. Ils sont utiles, à condition qu’ils soient bien structurés et respectent un certain fil rouge afin d’être le plus détaillés possible.
2.1 Cahier des charges
Exemple de ce que l’on peut retrouver dans un cahier des charges :

L’objet de votre projet : qu’en attendez-vous exactement ? Dans quel but ?
Le budget : Il est important que vous sachiez d’avance quel budget vous souhaitez /pouvez consacrer à votre projet.
Le contenu que vous allez intégrer : C’est la matière que vous allez fournir à vos visiteurs. Cela doit être à la fois intéressant pour votre public cible mais également répondre aux normes des moteurs de recherche. C’est un travail perpétuel qui requiert un investissement en temps.

2.3 Le cahier de fonctionnalités
Exemple :
L’arborescence : c’est la structure, les menus que vous désirez voir apparaître lors de la création de votre site/appli et la manière dont les pages renvoient de l’une à l’autre, laquelle servira de colonne vertébrale afin de greffer le contenu.
Définir en tant qu’utilisateur ce qui peut être fait ou non.
Présenter de manière détaillée toutes les actions possibles.

3. Mockups indexés aux fonctionnalités et UX

Lors de cette étape, notre équipe se concentre plus sur le fond que sur la forme, nos UX designers entrent en jeu. Leur rôle : concevoir un parcours utilisateur le plus optimal et supprimer toutes les actions inutiles. Nous allons avoir pour principal objectif d’inciter vos visiteurs à effectuer une action précise (call to action) : un clic, une demande de devis, un abonnement à une newsletter, un téléchargement d’ebook ou bien un achat... Pour cela, elle va s’appuyer sur des logiciels tel que Balsamiq pour concevoir les mockups.

La mission principale d’un mockup consiste à représenter le squelette d'une interface utilisateur et analyser les problématiques de navigation, en se posant la question de la pertinence de chaque élément disposé sur le mockup. Pour chacun d’eux, une présentation détaillée des fonctionnalités est associée. C'est la première étape de conception :

Les différentes zones : logo, texte, menu...
Les fonctionnalités attendues : se connecter, envoi mail, partage sur réseaux sociaux…
Le recensement des éléments : icônes, boutons, images...
L'agencement du contenu : navigation, flèche...

3.1 Les Avantages
Un mockup est une étape indispensable durant la phase de conception d'un site, d’une appli, d'un logiciel ou de tout autre interface numérique pour les raisons suivantes :

Se concentrer sur le fond du projet
Optimiser l’expérience utilisateur, il sera possible de déplacer facilement un élément pour améliorer l'interface
Travailler l’ergonomie
Identifier et supprimer les fonctionnalités à faible valeur ajoutée
Constater un problème de placement, de taille des éléments ou même une
impossibilité technique
Ajuster son projet à moindre coût
Décrire intégralement votre projet pour le présenter à vos partenaires.

Après avoir livré les mockups, notre équipe annexe le cahier de fonctionnalités qui recense l’ensemble des mockups détaillés de l’application ou du site. A la suite de cette étape, il reste plus qu’à mettre vos couleurs à votre projet ?.
3.1 Les Avantages
Un mockup est une étape indispensable durant la phase de conception d'un site, d’une appli, d'un logiciel ou de tout autre interface numérique pour les raisons suivantes :

Se concentrer sur le fond du projet
Optimiser l’expérience utilisateur, il sera possible de déplacer facilement un élément pour améliorer l'interface
Travailler l’ergonomie
Identifier et supprimer les fonctionnalités à faible valeur ajoutée
Constater un problème de placement, de taille des éléments ou même une
impossibilité technique
Ajuster son projet à moindre coût
Décrire intégralement votre projet pour le présenter à vos partenaires.

Après avoir livré les mockups, notre équipe annexe le cahier de fonctionnalités qui recense l’ensemble des mockups détaillés de l’application ou du site. A la suite de cette étape, il reste plus qu’à mettre vos couleurs à votre projet ?.",
            img: 'https://cdn-images-1.medium.com/max/1126/1*8nEZwglRtHPy3oDAANYPqA.png',
            side: 'left',
            marginTop: true,
            titleColor: 'blue',
        }) }}

        {{ canvas_component('service-item-image', {
            title: "React native",
            subTitle: 'Mon sous titre',
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol",
            img: 'https://humancoders-formations.s3.amazonaws.com/uploads/course/logo/89/thumb_bigger_formation-react-native.png',
            side: 'right'
        }) }}

        {{ canvas_component('service-item-image',{
            title: "Android",
            subTitle: 'Mon sous titre',
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol",
            side: 'left',
        }) }}
{% endblock %}

{% block footer %}
    {% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
