{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
    {% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
    {{ canvas_component('title', {'title':'Sidebar', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block sidebar %}
    {{ canvas_component('sidebar',{
        content:{
            nav:[
                {
                    text: 'item 1',
                    icon: 'icon-users1',
                    content: canvas_component('content-sidebar-1',{
                    content:{
                        data:[
                            'item 1',
                            'item 2',
                            'item 3',
                        ]
                    }
                })
                },
                {
                    text: 'item 2',
                    icon: 'icon-line-book',
                    content: canvas_component('content-sidebar-2',{
                    content:{
                        data:[
                            {
                                text: 'Je suis une image trop cool',
                                shortText: '21 mai 2019',
                                img: 'https://user.oc-static.com/files/6001_7000/6410.jpg'
                            },
                            {
                                text: 'item 2',
                                shortText: '21 mai 2019',
                                img: 'https://user.oc-static.com/files/6001_7000/6410.jpg'
                            },
                            {
                                text: 'item 3',
                                shortText: '21 mai 2019',
                                img: 'https://user.oc-static.com/files/6001_7000/6410.jpg'
                            },
                        ]
                    }
                })
                },
                {
                    text: 'item 2',
                    icon: 'icon-bars',
                    content: 'test'
                },
            ]
        }
    }) }}
{% endblock %}


{% block content %}

    <a href="#menu-toggle" id="menu-toggle" class="navbar-brand btn btn-primary">Click to open sideBar</a>
{% endblock %}

{% block footer %}
    {% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}

{% block body_javascript %}
    <script>
        $( function () {
            $( "#menu-toggle" ).click( function ( e ) {
                e.preventDefault();
                $( "#wrapper" ).toggleClass( "toggled" );
            } );

            $( window ).resize( function ( e ) {
                if ( $( window ).width() <= 768 ) {
                    $( "#wrapper" ).removeClass( "toggled" );
                } else {
                    $( "#wrapper" ).addClass( "toggled" );
                }
            } );
        } );
    </script>
{% endblock %}
