{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Sitemap', 'subTitle': 'Liste de pages', 'breadcrumb':[ ['Home', '#'], ['Pages', '#'], ['Sitemap', '#'] ]}) }}
{% endblock %}

{% block content %}
	{{ canvas_component('sitemap', {
		'lists': [
			{
				'title': 'Pages',
				'class': 'col_one_third nobottommargin',
				'list': [
							{
								'label': 'Partie 1',
								'icon': 'file-alt',
								'link': '#',
								'subList': [
									{ 'label': 'Element1-1', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-2', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-3', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-4', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-5', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-6', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-7', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-8', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element1-9', 'icon': 'file-alt', 'link': '#' },
								]
							},
							{
								'label': 'Partie 2',
								'icon': 'pencil2',
								'link': '#',
								'subList': [
									{ 'label': 'Element2-1', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element2-2', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element2-3', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element2-4', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element2-5', 'icon': 'file-alt', 'link': '#' },
									{ 'label': 'Element2-6', 'icon': 'file-alt', 'link': '#' },
								]
							},
							{
								'label': 'Partie 3',
								'icon': 'picture',
								'link': '#',
								'subList': []
							},
							{
								'label': 'Partie 4',
								'icon': 'shopping-cart',
								'link': '#',
								'subList': [
									{ 'label': 'Element4-1', 'icon': 'pencil2', 'link': '#' },
									{ 'label': 'Element4-2', 'icon': 'pencil2', 'link': '#' },
									{ 'label': 'Element4-3', 'icon': 'pencil2', 'link': '#' },
									{ 'label': 'Element4-4', 'icon': 'pencil2', 'link': '#' },
								]
							},
							{
								'label': 'Partie 5',
								'icon': 'file-alt',
								'link': '#',
								'subList': [
									{ 'label': 'Element5-1', 'icon': 'shopping-cart', 'link': '#' },
									{ 'label': 'Element5-2', 'icon': 'film', 'link': '#' },
									{ 'label': 'Element5-3', 'icon': 'camera', 'link': '#' },
									{ 'label': 'Element5-4', 'icon': 'picture', 'link': '#' },
									{ 'label': 'Element5-5', 'icon': 'magic', 'link': '#' },
									{ 'label': 'Element5-6', 'icon': 'link', 'link': '#' },
									{ 'label': 'Element5-7', 'icon': 'heart3', 'link': '#' },
								]
							},
						]
			},
			{
				'title': 'Autres pages',
				'class': 'col_one_third nobottommargin',
				'nextFollow': true,
				'list': [
							{
								'label': 'Autre partie 1',
								'icon': 'film',
								'link': '#',
								'subList': [
									{ 'label': 'Element1-1', 'icon': 'bar-chart', 'link': '#' },
									{ 'label': 'Element1-2', 'icon': 'apple', 'link': '#' },
									{ 'label': 'Element1-3', 'icon': 'th-large', 'link': '#' },
									{ 'label': 'Element1-4', 'icon': 'time', 'link': '#' },
									{ 'label': 'Element1-5', 'icon': 'indent-right', 'link': '#' },
									{ 'label': 'Element1-6', 'icon': 'picture', 'link': '#' },
									{ 'label': 'Element1-7', 'icon': 'pencil2', 'link': '#' },
									{ 'label': 'Element1-8', 'icon': 'list-alt', 'link': '#' },
									{ 'label': 'Element1-9', 'icon': 'plus-sign', 'link': '#' },
								]
							},
							{
								'label': 'Autre partie 2',
								'icon': 'lightbulb',
								'link': '#',
								'subList': [
									{ 'label': 'Element2-1', 'icon': 'resize-full', 'link': '#' },
									{ 'label': 'Element2-2', 'icon': 'th-list', 'link': '#' },
									{ 'label': 'Element2-3', 'icon': 'map-marker2', 'link': '#' },
									{ 'label': 'Element2-4', 'icon': 'play', 'link': '#' },
									{ 'label': 'Element2-5', 'icon': 'move', 'link': '#' },
									{ 'label': 'Element2-6', 'icon': 'align-justify2', 'link': '#' },
								]
							},
							{
								'label': 'Autre partie 3',
								'icon': 'plus-sign',
								'link': '#',
								'subList': [
									{ 'label': 'Element3-1', 'icon': 'tasks', 'link': '#' },
									{ 'label': 'Element3-2', 'icon': 'dollar', 'link': '#' },
									{ 'label': 'Element3-3', 'icon': 'thumbs-up', 'link': '#' },
									{ 'label': 'Element3-4', 'icon': 'rocket', 'link': '#' },
								]
							},
						]
			},
			{
				'title': 'Dernières pages',
				'list': [
				{
					'label': 'Dernière partie 1',
					'icon': 'connection-full',
					'link': '#',
					'subList': []
				},
				{
					'label': 'Dernière partie 2',
					'icon': 'book1',
					'link': '#',
					'subList': []
				},
				{
					'label': 'Dernière partie 3',
					'icon': 'road1',
					'link': '#',
					'subList': []
				},
			]
			},
			{
				'title': 'Bonus pages',
				'class': 'col_one_third nobottommargin col_last',
				'list': [
				{
					'label': 'Bonus partie 1',
					'icon': 'cogs',
					'link': '#',
					'subList': []
				},
				{
					'label': 'Bonus partie 2',
					'icon': 'exclamation-sign',
					'link': '#',
					'subList': []
				},
				{
					'label': 'Bonus partie 3',
					'icon': 'ok-circle',
					'link': '#',
					'subList': [
					{ 'label': 'Element3-1', 'icon': 'quote-left', 'link': '#' },
					{ 'label': 'Element3-2', 'icon': 'star3', 'link': '#' },
					{ 'label': 'Element3-3', 'icon': 'user4', 'link': '#' },
				]
				},
			]
			}
		]
		})
	}}
{% endblock %}

{% block footer %}
	{{ canvas_component('footer-2') }}
{% endblock footer %}
