{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{# la classe sticky-footer fait bugger les modales#}
{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'SOCIAL ICONS', 'subTitle': ' Your trigger to Social Networks', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{% include('@SixnappsCanvasTemplate/components/social-icons/social-icons.html.twig') %}
	</div>
{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
