{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{{ canvas_component('header') }}
{% endblock %}

{% block title %}
	{{ canvas_component('title') }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">Sticky Footer</h1>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ canvas_component('sticky-footer') }}
{% endblock footer %}
