{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
    {{ canvas_component('header') }}
{% endblock %}

{% block title %}
    {{ canvas_component('title', {'title':'Titles', 'subTitle': 'Tiltles list', 'breadcrumb':[ ['Features', '#'], ['Page titles', '#'] ]}) }}
{% endblock %}

{% block content %}
    <h2>
        <div class="container clearfix">
            {{ canvas_component('breadcrumb', {'list': [{'label': 'Test', 'link': '#'}, {'label': 'Solo', 'link': '#'}, {'label': 'Component', 'link': '#'}, {'label': 'Breadcrumb', 'link': '#'}]} ) }}
        </div>
    </h2>
    <h5>Title Default (Left):</h5>
    {{ canvas_component('title', titleDatasD) }}
    <br>
    <h5>Title CustomDark (Left):</h5>
    {{ canvas_component('title', titleDatasDCD) }}
    <br>
    <h5>Title CustomDark with cover (Left):</h5>
    {{ canvas_component('title', titleDatasDCDC) }}
    <br>
    <h5>Title Right:</h5>
    {{ canvas_component('title', titleDatasR) }}
    <br>
    <h5>Title Center:</h5>
    {{ canvas_component('title', titleDatasC) }}
    <br>
    <h5>Title Right and Dark:</h5>
    {{ canvas_component('title', titleDatasRD) }}
    <br>
    <h5>Title Left and Pattern:</h5>
    {{ canvas_component('title', titleDatasLP) }}
    <br>
    <h5>Title Center and Parallax background:</h5>
    {{ canvas_component('title', titleDatasPBG) }}
    <br>
    <h5>Title Left and no background:</h5>
    {{ canvas_component('title', titleDatasNBG) }}
    <br>
    <h5>Title Center, Dark, Parallax background and Mini:</h5>
    {{ canvas_component('title', titleDatasDPBGM) }}
    <br>
    <h5>Title Left and Video Background:</h5>
    {{ canvas_component('title', titleDatasVBG) }}
    <br>
{% endblock %}

{% block footer %}
    {{ canvas_component('footer-2') }}
{% endblock footer %}
