{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block body_class %}sticky-footer{% endblock body_class %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'Videos', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Section', '#'], ['Sub-section', '#'] ]}) }}
{% endblock %}

{% block content %}
	<div class="container clearfix">
		{{ canvas_component('video-custom-1') }}
	</div>
{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
