<div id="{{ id }}" role="tablist">

	{% for tab in accordion.content  %}
		<div class="card">
			<div class="card-header" role="tab" id="heading-{{ loop.index }}">
				<h5 class="mb-0">
					<a data-toggle="collapse" class="{% if loop.first %}{% else %}collapsed{% endif %}" href="#tab-{{ loop.index }}" aria-expanded="{% if loop.first %}true {% else %}false{% endif %}" aria-controls="tab-{{ loop.index }}">
						{{ tab.title|html }}
					</a>
				</h5>
			</div>

			<div id="tab-{{ loop.index }}" class="collapse{% if loop.first %} show{% endif %}" role="tabpanel" aria-labelledby="heading-{{ loop.index }}" data-parent="#{{ id }}" style="">
				<div class="card-body">
					{{ tab.content|html }}
				</div>
			</div>
		</div>



		{#<div class="card">#}
			{#<div class="card-header" role="tab" id="heading-{{ loop.index }}">#}
				{#<h5 class="mb-0">#}
					{#<a data-toggle="collapse" href="#tab-{{ loop.index }}" aria-expanded="true" aria-controls="tab-{{ loop.index }}">#}
						{#{{ tab.title }}#}
					{#</a>#}
				{#</h5>#}
			{#</div>#}

			{#<div id="tab-{{ loop.index }}" class="collapse show" role="tabpanel" aria-labelledby="heading-{{ loop.index }}" data-parent="{{ id }}">#}
				{#<div class="card-body">#}
					{#{{ tab.content }}#}
				{#</div>#}
			{#</div>#}
		{#</div>#}

		{#<div class="card">#}
			{#<div class="card-header" role="tab" id="heading-{{ loop.index }}">#}
				{#<h5 class="mb-0">#}
					{#<a class="collapsed" data-toggle="collapse" href="#tab-{{ loop.index }}" aria-expanded="false" aria-controls="tab-{{ loop.index }}">#}
						{#{{ tab.title }}#}
					{#</a>#}
				{#</h5>#}
			{#</div>#}
			{#<div id="tab-{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ loop.index }}" data-parent="{{ id }}">#}
				{#<div class="card-body">#}
					{#{{ tab.content }}#}
				{#</div>#}
			{#</div>#}
		{#</div>#}

	{% endfor %}




</div>
