<div class="accordion {% if class is defined %}{{ class }} {% endif %}{% if type is same as('large') %}accordion-lg{% elseif type is same as('background') %}accordion-bg{% elseif type is same as('border') %}accordion-border{% endif %} clearfix" {% if style is defined %}style="{{ style }}"{% endif %}>
	{% for content in accordion.content  %}
		<div class="acctitle">
			<i class="acc-closed icon-{% if content.iconClosed is defined %}{{ content.iconClosed }}{% else %}ok-circle{% endif %}"></i><i class="acc-open icon-{% if content.iconOpen is defined %}{{ content.iconOpen }}{% else %}remove-circle{% endif %}"></i>{{ content.title|html }}
		</div>
		<div class="acc_content clearfix" style="">
			{{ content.content|html }}
		</div>
	{% endfor %}
</div>
