{% if type is same as('href') %}
	<a class="btn btn-primary collapsed" data-toggle="collapse" href="#{{ id }}" aria-expanded="false"
	   aria-controls="{{ id }}">
		{{ collapse.label|html }}
	</a>

{% else %}
	<button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#{{ id }}"
			aria-expanded="false" aria-controls="{{ id }}">
		{{ collapse.label|html }}
	</button>

{% endif %}

<div class="collapse" id="{{ id }}" style="">
	<div class="card card-body">
		{{ collapse.content|html }}
	</div>
</div>

