<div class="postcontent nobottommargin clearfix">

	<h3>Toggles</h3>

	{% for el in toggles %}
		{% if el.type is same as('background') %}
			<h4>With Background</h4>
		{% endif %}
		{% if el.type is same as('border') %}
			<h4>With Border</h4>
		{% endif %}
		{% for toggle in el.toggles  %}

			{{ canvas_component('toggle',{ 'toggle': toggle, 'type': el.type }) }}

		{% endfor %}
		<div class="line"></div>
	{% endfor %}

	<div class="divider"><i class="icon-circle"></i></div>
	<h3>Accordions</h3>
	{% for accordion in accordions  %}

		{% if accordion.type is same as('background') %}
			<h4>With Background</h4>
		{% endif %}

		{% if accordion.type is same as('border') %}
			<h4>With Border</h4>
		{% endif %}

		{% if accordion.type is same as('bootstrap') %}
			<h4>Bootstrap Accordion</h4>
			{{ canvas_component('accordion-bootstrap',{ 'accordion': accordion, 'id': 'myAccordion' ~ loop.index }) }}
		{% else %}
			{{ canvas_component('accordion',{ 'accordion': accordion, 'type': accordion.type }) }}
		{% endif %}


		<div class="line"></div>
	{% endfor %}
	<div class="divider"><i class="icon-circle"></i></div>
	<h3>Collpase</h3>

	{% for collapse in collapses %}
		{{ canvas_component('collapse',{ 'collapse': collapse, 'type': collapse.type ,  'id': 'myCollapse' ~ loop.index}) }}

	{% endfor %}
</div>
