<div class="toggle {% if type is same as('background') %}toggle-bg{% endif %}{% if type is same as('border') %}toggle-border{% endif %}">
	<div class="togglet">
		<i class="toggle-closed icon-ok-circle"></i>
		<i class="toggle-open icon-remove-circle"></i>
		{{ toggle.title|html }}
	</div>
	<div class="togglec" style="display: none;">{{ toggle.content|html }}</div>
</div>
