
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">


			<div class="nobottommargin clearfix">

				{% for thumbnail in thumbnails %}

					{% if thumbnail.images is defined and thumbnail.images is not empty %}
						{% set images = thumbnail.images %}
					{% else %}
						{% set images = '' %}
					{% endif %}

					{% if thumbnail.type == 'thumbnails' %}
						<div class="row">
							{% for image in images %}
								<div class="col-6 col-lg-3">
									<a href="#">
										<img alt="100%x200" src="{{ asset('canvas/images/' ~ image ) }}" class="img-thumbnail" style="height: 200px; width: 100%; display: block;">
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}


					{% if thumbnail.type == 'slider' %}

						<h3>Slider</h3>

						<div class="fslider">
							<div class="flexslider">
								<div class="slider-wrap">
									{% for image in images %}
										<div class="slide"><img src="{{ asset('canvas/images/' ~ image) }}" alt="Slider {{ loop.index }}"></div>
									{% endfor %}
								</div>
							</div>
						</div>

					{% endif %}

					{% if thumbnail.type == 'fading-thumbs' %}

						<h4>With Fading Animation &amp; Thumbs</h4>

						<div class="fslider" data-arrows="false" data-animation="fade" data-thumbs="true">
							<div class="flexslider">
								<div class="slider-wrap">
									{% for image in images %}
										<div class="slide" data-thumb="{{ asset('canvas/images/' ~ image.thumb ) }}"><img src="{{ asset('canvas/images/' ~ image.full ) }}" alt="Slider {{ loop.index }}"></div>
									{% endfor %}
								</div>
							</div>
						</div>

					{% endif %}


					{% if thumbnail.type == 'thumbs-grid' %}

						<h4>Full Thumbs Grid</h4>

						<div class="fslider flex-thumb-grid grid-6 bottommargin-sm" data-arrows="false" data-animation="fade" data-thumbs="true">
							<div class="flexslider">
								<div class="slider-wrap">
									{% for image in images %}
										<div class="slide" data-thumb="{{ asset('canvas/images/' ~ image.thumb ) }}"><img src="{{ asset('canvas/images/' ~ image.full ) }}" alt="Image"></div>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="alert alert-info">
							<strong>Note:</strong> You can also add 3,4,5,8,10 &amp; 12 Thumbs Grid by adding the <strong>grid-*</strong> class.
						</div>
					{% endif %}

					{% if thumbnail.type == 'slider-with-content' %}


						{% if thumbnail.parameter is defined and thumbnail.parameter is not empty %}
							{% set parameter = thumbnail.parameter %}
						{% else %}
							{% set parameter = 'alignleft' %}
						{% endif %}

						{% if thumbnail.content is defined and thumbnail.content is not empty %}
							{% set content = thumbnail.content %}
						{% else %}
							{% set content = '' %}
						{% endif %}

						<h4>With Content</h4>

						<div class="fslider {{ parameter }}" data-arrows="false" style="width:250px;">
							<div class="flexslider">
								<div class="slider-wrap">
									{% for image in images %}
										<div class="slide"><img src="{{ asset('canvas/images/' ~ image ) }}" alt="Slider {{ loop.index }}"></div>
									{% endfor %}
								</div>
							</div>
						</div>

						{{ content|html }}

					{% endif %}

					<div class="line"></div>

				{% endfor %}

				{#<div class="line"></div>#}

				{#<h4>Custom Content</h4>#}

				{#<div class="row">#}
					{#<div class="col-md-6 col-lg-4">#}
						{#<div class="card" style="width: 18rem;">#}
							{#<img class="card-img-top" data-src="{{ asset('canvas/js/holder.js/300x200') }}" alt="Card image cap">#}
							{#<div class="card-body">#}
								{#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
								{#<a href="#" class="btn btn-primary">Go somewhere</a>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
					{#<div class="col-md-6 col-lg-4">#}
						{#<div class="card" style="width: 18rem;">#}
							{#<img class="card-img-top" data-src="{{ asset('canvas/js/holder.js/300x200') }}" alt="Card image cap">#}
							{#<div class="card-body">#}
								{#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
								{#<a href="#" class="btn btn-primary">Go somewhere</a>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
					{#<div class="col-md-6 col-lg-4">#}
						{#<div class="card" style="width: 18rem;">#}
							{#<img class="card-img-top" data-src="{{ asset('canvas/js/holder.js/300x200') }}" alt="Card image cap">#}
							{#<div class="card-body">#}
								{#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
								{#<a href="#" class="btn btn-primary">Go somewhere</a>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}


				{#<div class="clear"></div>#}

				{#<div class="divider"><i class="icon-circle"></i></div>#}

				{#<h3>Bootstrap - Carousel</h3>#}

				{#<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">#}
					{#<ol class="carousel-indicators">#}
						{#<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>#}
						{#<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>#}
						{#<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>#}
					{#</ol>#}
					{#<div class="carousel-inner">#}
						{#<div class="carousel-item active">#}
							{#<img class="d-block w-100" data-src="holder.js/800x400?bg=555555&fg=444444" alt="First slide" />#}
							{#<div class="carousel-caption d-none d-lg-block">#}
								{#<h3 style="color: #fff; margin-bottom: 10px;">First slide label</h3>#}
								{#<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>#}
							{#</div>#}
						{#</div>#}
						{#<div class="carousel-item">#}
							{#<img class="d-block w-100" data-src="holder.js/800x400?bg=444444&fg=333333" alt="Second slide" />#}
							{#<div class="carousel-caption d-none d-lg-block">#}
								{#<h3 style="color: #fff; margin-bottom: 10px;">Second slide label</h3>#}
								{#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
							{#</div>#}
						{#</div>#}
						{#<div class="carousel-item">#}
							{#<img class="d-block w-100" data-src="holder.js/800x400?bg=333333&fg=222222" alt="Third slide" />#}
							{#<div class="carousel-caption d-none d-lg-block">#}
								{#<h3 style="color: #fff; margin-bottom: 10px;">Third slide label</h3>#}
								{#<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
					{#<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">#}
						{#<span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
						{#<span class="sr-only">Previous</span>#}
					{#</a>#}
					{#<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">#}
						{#<span class="carousel-control-next-icon" aria-hidden="true"></span>#}
						{#<span class="sr-only">Next</span>#}
					{#</a>#}
				{#</div>#}

			</div>

		</div>

	</div>

</section>
