<div class="fancy-title title-dotted-border title-center">
    <h3>Boxes</h3>
</div>

<div class="container clearfix">

    {% for boxe in boxes %}

        {% if boxe.parameters is not defined %}
            {% set parameters = '' %}
        {% else %}
            {% set parameters = boxe.parameters %}
        {% endif %}

        {% if boxe.libelle is not defined or boxe.libelle is empty %}
            {% set libelle = 'libelle' %}
        {% else %}
            {% set libelle = boxe.libelle %}
        {% endif %}

        {% if boxe.description is not defined or boxe.description is empty %}
            {% set description = 'description' %}
        {% else %}
            {% set description = boxe.description %}
        {% endif %}

        {% if boxe.icon is not defined %}
            {% set icon = '' %}
        {% else %}
            {% set icon = boxe.icon %}
        {% endif %}

        {% if boxe.carousel is not defined %}
            {{ canvas_component('boxe-item', { 'parameters': parameters, 'libelle': libelle, 'description': description, 'icon': icon, 'index': loop.index}) }}
        {% else %}
            {{ canvas_component('boxe-carousel', { 'parameters': parameters, 'items': boxe.items, 'index': loop.index}) }}
        {% endif %}

    {% endfor %}

    <div class="fancy-title title-dotted-border">
        <h3>Centered Icons</h3>
    </div>
    {{ canvas_component('boxe-custom-1') }}

    <div class="fancy-title title-dotted-border">
        <h3>Boxe custom 2</h3>
    </div>
    {{ canvas_component('boxe-custom-2',{
        col: 3,
        dark: false,
        icons:[
            {
                link: '#',
                icon: 'twitter'
            },
            {
                link: '#',
                icon: 'facebook'
            }
        ]
    }) }}

</div>
