{% if col is not defined %}
    {% if icons|length <= 3 %}
        {% set class = 'col_one_third' %}
        {% set col = 3 %}
    {% elseif icons|length == 4 %}
        {% set class = 'col_one_fourth' %}
        {% set col = 4 %}
    {% elseif icons|length == 5 %}
        {% set class = 'col_one_fifth' %}
        {% set col = 5 %}
    {% elseif icons|length >= 6 %}
        {% set class = 'col_one_sixth' %}
        {% set col = 6 %}
    {% endif %}
{% else %}
    {% if col <= 3 %}
        {% set class = 'col_one_third' %}
    {% elseif col == 4 %}
        {% set class = 'col_one_fourth' %}
    {% elseif col == 5 %}
        {% set class = 'col_one_fifth' %}
    {% elseif col >= 6 %}
        {% set class = 'col_one_sixth' %}
    {% endif %}
{% endif %}

{% for data in icons %}
    <div style="height: 96px;" class="{{ class }} {% if loop.index is divisible by(col) %} col_last {% endif %}">
        <div class="feature-box fbox-center {% if dark %}fbox-dark{% endif %}">
            <div style="width: 96px; height: 96px;" class="fbox-icon">
                <a style="width: 100%; height: 100%;" href="{{ data.link }}" target="_blank">
                    <i style="line-height: 96px; font-size: 48px;" class="icon-{{ data.icon }}"></i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
