
	<div class="clear"></div>

	<div class="divider"><i class="icon-circle"></i></div>

	<div class="fancy-title title-dotted-border title-center">
		<h3>Carousel</h3>
	</div>

	<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="40" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-xl="3">

		{% for item in items %}

			<div class="oc-item">
				<div class="feature-box fbox-center fbox-border fbox-dark">
					<div class="fbox-icon">
						<a href="#"><i class="{{ item.icon }}"></i></a>
					</div>
					<h3>{{ item.libelle }}</h3>
					<p>{{ item.description }}</p>
				</div>
			</div>

		{% endfor %}

	</div>

