<div class="col_one_third {% if index is divisible by(3) %} col_last {% endif %}">
    <div class="feature-box fbox-effect
				{% if parameters is defined %}
					{% for parameter in parameters %}
						{{ parameter }}
					{% endfor %}
				{% endif %}
			">
        <div class="fbox-icon">
            <a href="#"><i class="{{ icon }} i-alt"></i></a>
        </div>
        {% if libelle is defined %}
            <h3>{{ libelle }}</h3>
        {% endif %}
        {% if description is defined %}
            <p>{{ description }}</p>
        {% endif %}
    </div>
</div>

