{% if icon is not defined %}
	{% set icon = 'icon-eye' %}
{% endif %}
{% if content is not defined %}
	{% set content = 'mon content' %}
{% endif %}

{#@TODO taille dynamic#}
<div class="feature-box fbox-center">
	<div style="width: 64px; height: 64px;" class="fbox-icon">
		<i style="line-height: 64px; font-size: 32px;" class="{{ icon }}"></i>
	</div>
	<h3>{{ content }}</h3>
	{{ canvas_component('rating-custom-1') }}
</div>
