<section id="content">

    <div class="content-wrap">

        {{ canvas_component('corporate1-custom-row-1',{
            marginTop: false,
            marginBottom: false,
            dark: false,
            customDark: true,
            bgColor: '#89bdd3',
            content: [
                {
                    title: 'App mobile',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-line2-screen-smartphone',
                },
                {
                    title: 'SIte internet',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-line2-screen-desktop',
                    link: '#',
                    txtBtn: 'Lire plus',
                },
                {
                    title: 'Personnalisé',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-cog',
                    link: '#',
                    txtBtn: 'Lire plus',
                },
            ]
        }) }}

        {{ canvas_component('corporate1-custom-row-2',{
            marginTop: true,
            marginBottom: false,
            iconColor: '#040F3D',
            dark: false,
            customDark: true,
            content: [
                {
                    title: 'App mobile',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-line2-screen-smartphone',
                    link: '#',
                },
                {
                    title: 'SIte internet',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-line2-screen-desktop',
                    link: '#',
                },
                {
                    title: 'Personnalisé',
                    text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur deleniti error et excepturi, fuga fugit itaque magnam mollitia nesciunt nisi, soluta veritatis! Consequuntur esse molestiae nemo quam. Quia.Aperiam assumenda consectetur, ex incidunt inventore iure libero, minus nam pariatur porro possimus praesentium, quibusdam quidem quis sint vel voluptate? Assumenda hic odio velit? Consequuntur fugit magnam magni nam quas.',
                    icon: 'icon-cog',
                    link: '#',
                },
            ]
        }) }}
        <div class="clear"></div>

        {{ canvas_component('corporate1-custom-section-1',{
            title: 'Services',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi atque, debitis dolore dolores eligendi exercitationem facilis inventore iste labore nostrum odit placeat possimus, praesentium provident quasi totam vel?',
            bg: "https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9",
            dark : true,
            marginTop: false,
            marginBottom: false,
        }) }}

        {{ canvas_component('corporate1-custom-section-1',{
            title: 'Methodo',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi atque, debitis dolore dolores eligendi exercitationem facilis inventore iste labore nostrum odit placeat possimus, praesentium provident quasi totam vel?',
            dark: false,
            customDark: true,
            marginTop: false,
            marginBottom: false,
        }) }}

        {{ canvas_component('corporate1-custom-section-1',{
            title: 'References',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi atque, debitis dolore dolores eligendi exercitationem facilis inventore iste labore nostrum odit placeat possimus, praesentium provident quasi totam vel?',
            dark: true,
            marginTop: true,
            marginBottom: true,
            marginTop: false,
            marginBottom: false,
        }) }}


        {{ canvas_component('corporate1-custom-portfolio-1',{
            customDark: true,
            content:[
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
                {
                    img: "https://d.facdn.net/art/dolphiana/1384789090/1384789090.dolphiana_kyuubi.jpg",
                    title: "Une image",
                    link: "#",
                },
            ]
        }) }}

        {{ canvas_component('corporate1-custom-section-1',{
            title: 'Entreprise',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi atque, debitis dolore dolores eligendi exercitationem facilis inventore iste labore nostrum odit placeat possimus, praesentium provident quasi totam vel?',
            dark: false,
        }) }}

        {{ canvas_component('corporate1-custom-section-1',{
            title: 'Entreprise2',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi atque, debitis dolore dolores eligendi exercitationem facilis inventore iste labore nostrum odit placeat possimus, praesentium provident quasi totam vel?',
            dark: false,
            img1: 'https://i.pinimg.com/originals/23/59/b3/2359b35ce87f8756c3e7697021de0b78.jpg',
            img2: 'http://www.fondsecran.eu/pictures/2014/0324/1/earth-creative-wallpaper-hd-3900.jpg',
        }) }}

    </div>

</section><!-- #content end -->
