<div class="section parallax
    {% if marginTop is defined and marginTop == false %}notopmargin{% elseif marginTop is defined %}topmargin-lg{% endif %}
    {% if marginBottom is defined and marginBottom == false %}nobottommargin{% elseif marginBottom is defined %}bottommargin-lg{% endif %}
    {% if dark is defined and dark %}dark{% elseif customDark is defined and customDark %}custom-dark{% endif %}
      nobottomborder"
     style="{% if bg is defined %} background-image: url('{{ bg }}'); {% endif %}
             {% if bgColor is defined %}background-color: {{ bgColor }};{% endif %}"
     data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2 {% if titleColor is defined %}style="color: {{ titleColor }}"{% endif %}>{{ title }}</h2>
            <span {% if textColor is defined %}style="color: {{ textColor }}"{% endif %}>{{ text|html }}</span>
        </div>

        {% if img1 is defined or img2 is defined %}
            <div style="position: relative; margin-bottom: -60px;" data-height-xl="415" data-height-lg="342"
                 data-height-md="262" data-height-sm="160" data-height-xs="102">
                {% if img1 is defined %}
                    <img src="{{ img1 }}"
                         style="position: absolute; top: 0; left: 0;"
                         data-animate="fadeInUp">
                {% endif %}
                {% if img2 is defined %}
                    <img src="{{ img2 }}"
                         style="position: absolute; top:0; left: 0;"
                         data-animate="fadeInUp" data-delay="300">
                {% endif %}
            </div>
        {% endif %}
    </div>

</div>
