<!-- Portfolio Items
       ============================================= -->
{% if content is defined %}
    <div id="portfolio"
         class="portfolio grid-container portfolio-nomargin portfolio-notitle portfolio-full clearfix">

        {% for data in content %}

            <article class="portfolio-item pf-media pf-icons
                    {% if dark is defined and dark %}dark
                    {% elseif customDark is defined and customDark %}custom-dark{% endif %} "
            style="height: 400px;">
                <div class="portfolio-image">
                    <a href="{{ data.link }}">
                        <img src="{{ data.img }}" alt="Open Imagination">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <h3><a {% if textColor is defined %}style="color: {{ textColor }}" {% endif %}
                           href="{{ data.link }}">{{ data.title }}</a></h3>
                </div>
            </article>

        {% endfor %}

    </div>

{% endif %}