{% if content is defined %}
    {% set lIndex = 0 %}
    <div class="container clearfix
        {% if marginTop is defined and marginTop == false %}notopmargin{% elseif marginTop is defined %}topmargin-lg{% endif %}
        {% if marginBottom is defined and marginBottom == false %}nobottommargin{% elseif marginBottom is defined %}bottommargin-lg{% endif %}
        {% if dark is defined and dark %}dark{% elseif customDark is defined and customDark %}custom-dark{% endif %}">
        {% for data in content %}
            {% set lIndex = lIndex+1 %}
            <div class="col_one_third {% if lIndex == 3 %} col_last {% set lIndex = 0 %} {% endif %}">
                <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
                    <div class="fbox-icon">
                        {% if data.link is defined and data.link != '#' %}
                            <a href="{{ data.link }}"><i
                                        style="{% if data.iconColor is defined %} color: {{ data.iconColor }}; {% endif %}"
                                        class="{{ data.icon }}"></i></a>
                        {% else %}
                            <i style="{% if iconColor is defined %} color: {{ iconColor }}; {% endif %}"
                               class="{{ data.icon }}"></i>
                        {% endif %}

                    </div>
                    <h3 style="{% if titleColor is defined %} color: {{ titleColor }}; {% endif %}">{{ data.title }}</h3>
                    <p style="{% if textColor is defined %} color: {{ textColor }}; {% endif %}">{{ data.text|html }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
