{% if content is defined %}

    {% set adjustBrightnessStep = 0 %}
    {% if content|length <= 2 %}
        {% set col = 6 %}
    {% elseif content|length == 3 %}
        {% set col = 4 %}
    {% elseif content|length >=4 %}
        {% set col = 3 %}
    {% endif %}

    <div class="row common-height
        {% if marginTop is defined and marginTop == false %}notopmargin{% elseif marginTop is defined %}topmargin-lg{% endif %}
        {% if marginBottom is defined and marginBottom == false %}nobottommargin{% elseif marginBottom is defined %}bottommargin-lg{% endif %}">
        {% for data in content %}
            <div class="col-lg-{{ col }}
             {% if dark is defined and dark %}
             dark
             {% elseif customDark is defined and customDark %}
             custom-dark
              {% endif %}
             col-padding ohidden"
                 style="{% if bgColor is defined %}background-color: {{ adjustBrightness(bgColor,adjustBrightnessStep) }};{% set adjustBrightnessStep = adjustBrightnessStep + 10 %}{% endif %}">
                <div>
                    {% if data.title is defined %}
                        <h3 class="uppercase"
                            style="font-weight: 600; {% if data.titleColor is defined %} color: {{ data.titleColor }}; {% endif %}">{{ data.title }}</h3>
                    {% endif %}
                    {% if data.text is defined %}
                        <p style="line-height: 1.8; {% if data.textColor is defined %} color: {{ data.textColor }}; {% endif %}">{{ data.text|html }}</p>
                    {% endif %}
                    {% if data.txtBtn is defined %}
                        <a href="{{ data.link }}"
                           class="button button-border button-light
                           button-rounded uppercase nomargin">{{ data.txtBtn }}</a>
                    {% endif %}
                    {% if data.icon is defined %}
                        <i class="{{ data.icon }} bgicon"></i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

