{% if boxe.parameter is defined and boxe.parameter is not empty %}
	{% set parameter = boxe.parameter %}
{% else %}
	{% set parameter = '' %}
{% endif %}

{% if boxe.close is defined and boxe.close is not empty %}
	{% set close = boxe.close %}
{% else %}
	{% set close = true %}
{% endif %}

{% if boxe.title is defined and boxe.title is not empty %}
	{% set title = boxe.title %}
{% else %}
	{% set title = 'Sorry, no data loaded' %}
{% endif %}

{% if boxe.content is defined and boxe.content is not empty %}
	{% set content = boxe.content %}
{% else %}
	{% set content = 'Sorry, no data loaded' %}
{% endif %}


<div class="style-msg2 {{ parameter }}">
	<div class="msgtitle">{{ title }} :</div>
	<div class="sb-msg">
		<ul>
			{% for item in content %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
