{% if boxe.parameter is defined and boxe.parameter is not empty %}
	{% set parameter = boxe.parameter %}
{% else %}
	{% set paramteter = '' %}
{% endif %}

{% if boxe.close is defined and boxe.close is not empty %}
	{% set close = boxe.close %}
{% else %}
	{% set close = true %}
{% endif %}

{% if boxe.content is defined and boxe.content is not empty %}
	{% set content = boxe.content %}
{% else %}
	{% set content = 'Sorry, no data loaded' %}
{% endif %}

{% if boxe.icon is defined and boxe.icon is not empty %}
	{% set icon = boxe.icon %}
{% else %}
	{% set icon = '' %}
{% endif %}


<div class="style-msg {{ parameter }}">
	<div class="sb-msg"><i class="{{ icon }}"></i>{{ content|html }}</div>
	{% if close is defined and close == true %} <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{% endif %}
</div>



