<div class="fancy-title title-dotted-border title-center">
	<h3>STYLE BOXES</h3>
</div>

<div class="nobottommargin clearfix">

	{% for boxe in boxes %}

		{% if boxe.type is defined and boxe.type is not empty %}
			{% set type = boxe.type %}
		{% else %}
			{% set type = 'native' %}
		{% endif %}

		{{ canvas_component('style-boxe-' ~ type, { 'boxe': boxe }) }}

	{% endfor %}


</div>
