<div {% if class is defined %}class="{{ class }}"{% endif %}>
	<div class="widget noborder notoppadding">
		{#<div class="fslider customjs testimonial twitter-scroll sixnapps-twitter-feed" data-username="{{ twitterProfile }}"#}
		{#data-count="3" data-animation="slide" data-arrows="false" data-loader="@SixnappsCanvasTemplate/components/widgets/twitter/tweets.php">#}
		{#<i class="i-plain i-small color icon-twitter nobottommargin" style="margin-right: 15px;"></i>#}
		{#<div class="flexslider" style="width: auto;">#}
		{#<div class="slider-wrap">#}
		{#<div class="slide"></div>#}
		{#</div>#}
		{#</div>#}
		{#</div>#}
		<div class="testimonial px-0 py-0" >
			<i class="i-plain i-small color icon-twitter nobottommargin" style="margin-right: 15px;"></i>
			<div style="max-height: 150px; overflow: auto;">
				<a class="twitter-timeline" href="https://twitter.com/{{ twitterProfile }}"
				   data-chrome="nofooter noborders noheader" data-height="150" data-tweet-limit="3" data-link-color="#28a745"></a>
			</div>
		</div>

	</div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{#<script>#}
	{#var $twitterFeedEl = $( ".sixnapps-twitter-feed" );#}
	{#if ( $twitterFeedEl.length > 0 ) {#}
		{#$twitterFeedEl.each( function () {#}
			{#var element           = $( this ),#}
				{#twitterFeedUser   = element.attr( "data-username" ),#}
				{#twitterFeedCount  = element.attr( "data-count" ),#}
				{#twitterFeedLoader = element.attr( "data-loader" );#}

			{#if ( !twitterFeedUser ) {#}
				{#twitterFeedUser = "twitter"#}
			{#}#}
			{#if ( !twitterFeedCount ) {#}
				{#twitterFeedCount = 3#}
			{#}#}
			{#if ( !twitterFeedLoader ) {#}
				{#twitterFeedLoader = "include/twitter/tweets.php";#}
			{#}#}

			{#$.getJSON( twitterFeedLoader + "?username=" + twitterFeedUser + "&count=" + twitterFeedCount, function ( tweets ) {#}
				{#if ( element.hasClass( "fslider" ) ) {#}
					{#element.find( ".slider-wrap" ).html( sm_format_twitter3( tweets ) ).promise().done( function () {#}
						{#var timer = setInterval( function () {#}
							{#if ( element.find( ".slide" ).length > 1 ) {#}
								{#element.removeClass( "customjs" );#}
								{#var t = setTimeout( function () {#}
									{#SEMICOLON.widget.loadFlexSlider();#}
								{#}, 500 );#}
								{#clearInterval( timer );#}
							{#}#}
						{#}, 500 );#}
					{#} );#}
				{#} else {#}
					{#element.html( sm_format_twitter( tweets ) );#}
				{#}#}
			{#} );#}
		{#} );#}
	{#}#}
{#</script>#}
