{% if commentUser is not defined %}
	{% set commentUser = 'John Doe' %}
{% endif %}
{% if commentDate is not defined %}
	{% set commentDate = '25/02/2019 à 17h30' %}
{% endif %}
{% if commentImage is not defined %}
	{% set commentImage = 'https://i.pinimg.com/originals/c6/a2/89/c6a289648d689ebf779f5c11b2699ab5.jpg' %}
{% endif %}
{% if commentContent is not defined %}
	{% set commentContent = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?' %}
{% endif %}
{% if commentAdmin is not defined %}
	{% set commentAdmin = false %}
{% endif %}
{% if urlEdit is not defined %}
	{% set urlEdit = '#' %}
{% endif %}
{% if urlRemove is not defined %}
	{% set urlRemove = '#' %}
{% endif %}
{% if dataContainer is not defined %}
	{% set dataContainer = '#' %}
{% endif %}
{% if iconBtnDelete is not defined %}
	{% set iconBtnDelete = 'icon-line-trash' %}
{% endif %}
{% if urlReponse is not defined %}
	{% set urlReponse = '#' %}
{% endif %}
{% if dataNameReponse is not defined %}
	{% set dataNameReponse = 'test username' %}
{% endif %}
{% if dataParentReponse is not defined %}
	{% set dataParentReponse = 0 %}
{% endif %}
{% if isResponse is not defined %}
	{% set isResponse = false %}
{% endif %}

<div class="card mb-4">
	<div class="card-header"
		 style="background-color: {% if isResponse %}rgba(211,84,0 ,0.1){% else %}rgba(142,68,173 ,0.1){% endif %};">
		{% if isResponse %}
			{% if commentAdmin %}
				<div style="position: absolute; left: 10px; top: 0;">
					<button style="background-color: transparent; padding: 0;"
							class="button fos_comment_comment_edit_show_form" data-container="{{ dataContainer }}"
							data-url="{{ urlEdit }}">
						<i style="color: #2980b9; margin-right: 0; font-size: 1.1rem;" class="icon-pencil"></i>
					</button>
					<button style="background-color: transparent; padding: 0;"
							class="button fos_comment_comment_remove btn btn-sm btn-light" data-url="{{ urlRemove }}">
						<i style="color: #c0392b; margin-right: 0; font-size: 1.1rem;" class="{{ iconBtnDelete }}"></i>
					</button>
				</div>
			{% endif %}
			<div class="float-right mb-0">
				<strong>Posté par <a class="disabled">{{ commentUser }}</a></strong> le {{ commentDate }}
			</div>
		{% else %}
			<strong>Posté par <a class="disabled">{{ commentUser }}</a></strong> le {{ commentDate }}
			{% if commentAdmin %}
				<div style="position: absolute; right: 10px; top: 0;">
					<button style="background-color: transparent; padding: 0;"
							class="button fos_comment_comment_edit_show_form" data-container="{{ dataContainer }}"
							data-url="{{ urlEdit }}">
						<i style="color: #2980b9; margin-right: 0; font-size: 1.1rem;" class="icon-pencil"></i>
					</button>
					<button style="background-color: transparent; padding: 0;"
							class="button fos_comment_comment_remove btn btn-sm btn-light" data-url="{{ urlRemove }}">
						<i style="color: #c0392b; margin-right: 0; font-size: 1.1rem;" class="{{ iconBtnDelete }}"></i>
					</button>
				</div>
			{% endif %}
		{% endif %}
	</div>
	<div class="card-body">
		{% if isResponse == true %}
			<div style="overflow: auto">
				<img src="{{ commentImage }}" alt="" class="rounded-circle author-image float-right">
				<p class="mb-0">{{ commentContent }}</p>
			</div>
			{#<button style="float: right; background-color: rgba(0, 0, 0, 0.03); padding: 0 10px; height: 30px; line-height: 30px;"#}
			{#class="button fos_comment_comment_reply_show_form btn btn-sm btn-light" data-url="{{ urlReponse }}"#}
			{#data-name="{{ dataNameReponse }}" data-parent-id="{{ dataParentReponse }}">#}
			{#<i style="color: #34495e; top: 3px; margin-right: 0; font-size: 0.8rem;" class="icon-comments-alt"></i>#}
			{#<span style="color: #444444; font-size: .5rem;">Répondre</span>#}
			{#</button>#}
		{% else %}
			<div class="author-image">
				<img src="{{ commentImage }}" alt="" class="rounded-circle">
			</div>
			<p class="mb-0">{{ commentContent }}</p>
			<button style="background-color: rgba(0, 0, 0, 0.03); padding: 0 10px; height: 30px; line-height: 30px; position: absolute; right: 0; bottom: 0;  margin: 5px;"
					class="button fos_comment_comment_reply_show_form btn btn-sm btn-light" data-url="{{ urlReponse }}"
					data-name="{{ dataNameReponse }}" data-parent-id="{{ dataParentReponse }}">
				<i style="color: #34495e; top: 3px; margin-right: 5px; font-size: 1.1rem;" class="icon-comments-alt"></i>
				<span style="color: #444444; font-size: .6rem;">Répondre</span>
			</button>
		{% endif %}

	</div>
</div>
