<div class="fancy-title title-dotted-border title-center">
	<h3>Tables</h3>
</div>
<div class="nobottommargin clearfix">
	{% for table in tables %}

		{% if table.parameters is defined and table.parameters is not empty %}
			{% set parameters = table.parameters %}
		{% else %}
			{% set parameters = '' %}
		{% endif %}

		{% if table.head is defined and table.head is not empty %}
			{% set head = table.head %}
		{% else %}
			{% set head = '' %}
		{% endif %}

		{% if table.body is defined and table.body is not empty %}
			{% set body = table.body %}
		{% else %}
			{% set body = '' %}
		{% endif %}

		{{ canvas_component('table', { 'head': head, 'body': body, 'parameters': parameters }) }}

	{% endfor %}
</div>
