<table class="table
	{% if parameters is defined %}
		{% for parameter in parameters %}
				table-{{ parameter }}
		{% endfor %}
	{% endif %}">
	<thead>
		<tr>
			{% for th in head %}
				<th>{{ th }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for data in body %}
			<tr {% if data.type is defined %} class="table-{{ data.type }}" {% endif %}>
				{% for td in data.values %}
					<td>{{ td }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="line"></div>
