<div class="widget clearfix">
	<h4>{{ itemList.title }}</h4>
	{% if itemList.list is defined %}
		<div id="post-list-footer">
			{% for item in itemList.list %}
				<div class="spost clearfix">
					<div class="entry-image">
						<a href="{{ item.link }}"><img src="{{ item.image }}" alt="{{ item.imageAlt }}"></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="{{ item.link }}">{{ item.name }}</a></h4>
						</div>
						<ul class="entry-meta">
							{% if item.sub is defined %}<li class="color">{{ item.sub }}</li>{% endif %}
							{% if item.rate is defined %}
								{% if itemList.rateMax is defined %}
									{% set rateMax = itemList.rateMax %}
								{% else %}
									{% set rateMax = 5 %}
								{% endif %}
								{% set rate = item.rate %}
								{% if rate > rateMax %}
									{% set rate = rateMax %}
								{% endif %}
								{% if rate < 0 %}
									{% set rate = 0 %}
								{% endif %}
								<li>
									{% for i in 1..rateMax %}
										{% if rate+1-i > 0 %}
											{% if rate+1-i < 1 %}
												<i class="icon-star-half-full"></i>
											{% else %}
												<i class="icon-star3"></i>
											{% endif %}
										{% else %}
											<i class="icon-star-empty"></i>
										{% endif %}
									{% endfor %}
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
