<ul class="skills">
	{% for skill in skills %}

		{% if skill.title is defined %}
			{% set title = skill.title %}
		{% else %}
			{% set title = 'title' %}
		{% endif %}

		{% if skill.from is defined %}
			{% set from = skill.from %}
		{% else %}
			{% set from = '0' %}
		{% endif %}

		{% if skill.to is defined %}
			{% set to = skill.to %}
		{% else %}
			{% set to = '100' %}
		{% endif %}

		{% if skill.interval is defined %}
			{% set interval = skill.interval %}
		{% else %}
			{% set interval = '10' %}
		{% endif %}

		{% if skill.speed is defined %}
			{% set speed = skill.speed %}
		{% else %}
			{% set speed = '1000' %}
		{% endif %}

		{% if skill.metering is defined %}
			{% set metering = skill.metering %}
		{% else %}
			{% set metering = '%' %}
		{% endif %}

		<li data-percent="{{ to }}">
			<span>{{ title }}</span>
			<div class="progress">
				<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="{{ from }}" data-to="{{ to }}" data-refresh-interval="{{ interval }}" data-speed="{{ speed }}"></span>{{ metering }}</div></div>
			</div>
		</li>
	{% endfor %}
</ul>
