<div class="fancy-title title-dotted-border title-center">
	<h3>Animations</h3>
</div>

<div class="container clearfix">

	{% for animation in animations %}

		{% if animation.word is not defined or animation is empty %}
			{% set word = 'Word' %}
		{% else %}
			{% set word = animation.word %}
		{% endif %}

		{% if animation.animate is not defined %}
			{% set animate = 'missing class' %}
		{% else %}
			{% set animate = animation.animate %}
		{% endif %}

		{% if animation.delay is not defined or animation.delay is empty %}
			{% set delay = '' %}
		{% else %}
			{% set delay = animation.delay %}
		{% endif %}

		{{ canvas_component('animation', { 'word': word, 'animate': animate, 'delay': delay }) }}
	{% endfor %}

</div>
