{% for item in list %}

	{% if item.class is defined %}
		{% set class = item.class %}
	{% else %}
		{% set class = '' %}
	{% endif %}

	{% if item.animation is defined %}
		{% set animation = item.animation %}
	{% else %}
		{% set animation = 'bounceIn' %}
	{% endif %}

	{% if item.icon is defined %}
		{% set icon = item.icon %}
	{% else %}
		{% set icon = 'icon-smile' %}
	{% endif %}

	{% if item.counter is defined %}
		{% if item.counter.from is defined %}
			{% set counterFrom = item.counter.from %}
		{% else %}
			{% set counterFrom = '0' %}
		{% endif %}
		{% if item.counter.to is defined %}
			{% set counterTo = item.counter.to %}
		{% else %}
			{% set counterTo = '100' %}
		{% endif %}
		{% if item.counter.interval is defined %}
			{% set counterInterval = item.counter.interval %}
		{% else %}
			{% set counterInterval = '10' %}
		{% endif %}
		{% if item.counter.speed is defined %}
			{% set counterSpeed = item.counter.speed %}
		{% else %}
			{% set counterSpeed = '1000' %}
		{% endif %}
		{% if item.counter.text is defined %}
			{% set counterText = item.counter.text %}
		{% else %}
			{% set counterText = '' %}
		{% endif %}
	{% endif %}

	{% if item.counterType is defined %}
		{% set counterType = item.counterType %}
	{% else %}
		{% set counterType = 'lined' %}
	{% endif %}

	{% if item.text is defined %}
		{% set text = item.text %}
	{% else %}
		{% set text = '' %}
	{% endif %}

	<div class="{{ class }} center" data-animate="{{ animation }}">
		<i class="i-plain i-xlarge divcenter icon-{{ icon }}"></i>
		<div class="counter counter-{{ counterType }}" {% if item.counter.style is defined %}style="{{ item.counter.style }}"{% endif %}><span data-from="{{ counterFrom }}" data-to="{{ counterTo }}" data-refresh-interval="{{ counterInterval }}" data-speed="{{ counterSpeed }}"></span>{{ counterText }}</div>
		<h5>{{ text }}</h5>
	</div>

{% endfor %}




