<div class="fancy-title title-dotted-border title-center">
	<h3>Tabs</h3>
</div>
<div class="nobottommargin clearfix">
	{% for tab in tabs %}

		{% if tab.categorie is defined and tab.categorie is not empty %}
			{% set categorie = tab.categorie %}
		{% else %}
			{% set categorie = 'Categorie' %}
		{% endif %}

		{% if tab.title is defined and tab.title is not empty %}
			{% set title = tab.title %}
		{% else %}
			{% set title = 'Title' %}
		{% endif %}

		{% if tab.content is defined and tab.content is not empty %}
			{% set content = tab.content %}
		{% else %}
			{% set content = 'Content' %}
		{% endif %}

		{% if tab.parameters is defined and tab.parameters is not empty %}
			{% set parameters = tab.parameters %}
		{% else %}
			{% set parameters = '' %}
		{% endif %}

		{% if tab.alternate is defined and tab.alternate == true %}
			{% set alternate = tab.alternate %}
		{% else %}
			{% set alternate = '' %}
		{% endif %}

		{{ canvas_component('tabs', { 'categorie': categorie, 'title': title, 'content': content, 'parameters': parameters, 'alternate': alternate }) }}

	{% endfor %}
</div>
