{% if tabNavCenter is not defined %}
	{% set tabNavCenter = false %}
{% endif %}
{% if alternate is not defined %}
	{% set alternate = false %}
{% endif %}

{% if categorie is defined %}
	<h4>{{ categorie }}</h4>
{% endif %}

<div class="tabs clearfix
	{% if parameters is defined %}
		{% for parameter in parameters %}
			{{ parameter }}
		{% endfor %}
	{% endif %}
	"
	 id="{% if idTab is defined %}{{ idTab }}{% else %}tab-1{% endif %}"
	 {% if styleTab is defined %}style="{{ styleTab }}"{% endif %}
>
	<ul class="tab-nav {% if alternate %} tab-nav2 {% endif %}{% if tabNavCenter %}center {% endif %}clearfix">
		{% for title in title %}
			<li {% if tabNavCenter %}class="inline-block"{% endif %}><a href="#tabs-{% if ids is defined and idsContent[loop.index0] is defined %}{{ idsContent[loop.index0] }}{% else %}{{ loop.index }}{% endif %}">{{ title }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-container">
		{% for content in content %}
			<div class="tab-content clearfix" id="tabs-{% if ids is defined and idsContent[loop.index0] is defined %}{{ idsContent[loop.index0] }}{% else %}{{ loop.index }}{% endif %}">
				{{ content|html }}
			</div>
		{% endfor %}
	</div>

</div>

<div class="line"></div>

