{% if item.image is defined and item.image is not empty %}
	{% set image = item.image %}
{% else %}
	{% set image = '' %}
{% endif %}

{% if item.title is defined and item.title is not empty %}
	{% set title = item.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if item.tags is defined and item.tags is not empty %}
	{% set tags = item.tags %}
{% else %}
	{% set tags = '' %}
{% endif %}

<article class="portfolio-item pf-media pf-icons">
	<div class="portfolio-image" style="background-image: url({{ asset('canvas/images/' ~ image ) }});" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;"><div class="portfolio-overlay"></div></div>
	<div class="portfolio-desc">
		<h3><a href="#">{{ title }}</a></h3>
		<span>
			{% for tag in tags %}
				<a href="{{ tag.link }}">{{ tag.name|capitalize }}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
		</span>
		<div class="portfolio-divider"><div></div></div>
	</div>
</article>
