<section id="content">

	<div class="content-wrap nopadding">

		<div id="portfolio" class="portfolio portfolio-parallax clearfix">

			{% for item in parallax %}
				{{ canvas_component('parallax', { 'item': item }) }}
			{% endfor %}

		</div>

	</div>

</section>
