{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
	<section class="inner-header divider layer-overlay overlay-dark" data-bg-img="http://placehold.it/1920x1280">
		<div class="container pt-30 pb-30">
			<div class="section-content text-center">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="text-theme-colored font-36">Vérifiez vos e-mails</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-8">
				<div class="card p-4">
					<div class="card-header">
						{{ texteDynamique('VerifMail') }}
					</div>
					<div class="card-body">
						{% block fos_user_content %}
							<p>
								{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
							</p>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
