{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block MailTitle %}
	{%- autoescape false -%}
	{{ 'resetting.email.subject'|trans({'%username%': user.prenomNom}) }}
	{%- endautoescape -%}
{% endblock %}

{% block Content %}
	{% autoescape false %}
	{{ 'resetting.email.message'|trans({'%username%': user.prenomNom, '%confirmationUrl%': confirmationUrl})|nl2br }}
	{% endautoescape %}
{% endblock %}

