{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-8">
				<div class="row">
					<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request w-100 form-inline justify-content-center">
						<div class="text-center col-12">
							{{ texteDynamique( 'RecupMDP' ) }}
						</div>
						<div class="row">
							<label class="text-muted mr-4" for="username">{{ 'resetting.request.username'|trans }}</label>
							<input class="form-control" type="text" id="username" name="username" required="required" />
							<div class="ml-4">
								<input class="btn btn-dark btn-theme-colored btn-md mt-15" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
