{% extends '@SixnappsCanvasTemplate/layout-blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<section class="inner-header divider layer-overlay overlay-dark" data-bg-img="http://placehold.it/1920x1280">
		<div class="container pt-30 pb-30">
			<div class="section-content text-center">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="text-theme-colored font-36">Modifier mot de passe</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">
				<div class="card p-4">
					<div class="card-header">
						{% include 'text-edit.html.twig' with {textDyn:texteDynamique('NouvMDP') } only %}
					</div>
					<div class="card-body">

						{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

							{% if form.plainPassword.first.vars.errors|length > 0 %}
								<div class='card text-white bg-danger text-center mb-3'>
									{{ form_errors(form.plainPassword.first) }}
								</div>
							{% endif %}

							<div class="row">
								<span class="text-muted col-md-6 col-form-label">{{ form_label(form.plainPassword.first) }}</span>
							    <span class="col-md-6 pull-right" type="password">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</span>
							    <span class="text-muted col-md-6 col-form-label">{{ form_label(form.plainPassword.second) }}</span>
							    <span class="col-md-6 pull-right" type="password">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</span>
							</div>
							<br>
							<div class="row">
							    <span class="col-md-12 text-right">
							        <input class="btn btn-dark btn-theme-colored btn-lg mt-15" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
							    </span>
							</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
