{% extends '@SixnappsCanvasTemplate/layout.html.twig' %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header.html.twig') %}
{% endblock %}

{% block title %}
	{{ canvas_component('title', {'title':'PAGE NOT FOUND', 'subTitle': '', 'breadcrumb':[ ['Home', '#'], ['Pages', '#'], ['404', '#'] ]}) }}
{% endblock %}

{% block content %}

	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<div class="col_half nobottommargin">
					<div class="error404 center">404</div>
				</div>

				<div class="col_half nobottommargin col_last">

					<div class="heading-block nobottomborder">
						<h4>{{ item.title }}</h4>
						<span>{{ item.subtitle }}</span>
					</div>

					<form action="#" method="get" role="form" class="nobottommargin">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Chercher pour la page...">
							<div class="input-group-append">
								<button class="btn btn-danger" type="button">Chercher</button>
							</div>
						</div>
					</form>

					<div class="col_one_third widget_links topmargin nobottommargin">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</div>

					<div class="col_one_third widget_links topmargin nobottommargin">
						<ul>
							<li><a href="#">Shop</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>

					<div class="col_one_third widget_links topmargin nobottommargin col_last">
						<ul>
							<li><a href="#">Support</a></li>
							<li><a href="#">Forums</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>

				</div>

			</div>

		</div>

	</section>

{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}

