{% extends '@SixnappsCanvasTemplate/layout-404.html.twig' %}

{% block header %}
	{% include('@SixnappsCanvasTemplate/components/header/header-404.html.twig') %}
{% endblock %}

{% block content %}

<section id="slider" class="slider-element slider-parallax full-screen dark error404-wrap">

	<div class="slider-parallax-inner">

		<div class="container-fluid vertical-middle center clearfix">

			<div class="error404">404</div>

			<div class="heading-block nobottomborder">
				<h4>{{ item.title }}</h4>
				<span>{{ item.subtitle }}</span>
			</div>

			<form action="#" method="get" role="form" class="divcenter nobottommargin">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Chercher pour la page...">
					<div class="input-group-append">
						<button class="btn btn-danger" type="button">Chercher</button>
					</div>
				</div>
			</form>

		</div>

		{% if item.video is defined and item.video is not empty %}

			<div class="video-wrap">
				<video poster="{{ asset('canvas/images/videos/' ~ item.video ~ '.jpg') }}" preload="auto" loop autoplay muted>
					<source src="{{ asset('canvas/images/videos/' ~ item.video ~ '.mp4') }}" type='video/mp4' />
					<source src="{{ asset('canvas/images/videos/' ~ item.video ~ '.webm') }}" type='video/webm' />
				</video>
				<div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
			</div>

		{% endif %}

	</div>

</section>

{% endblock %}

{% block footer %}
	{% include('@SixnappsCanvasTemplate/components/footer/sticky-footer.html.twig') %}
{% endblock footer %}
