<div class="fancy-title title-dotted-border title-center">
	<h3>DATA TABLES</h3>
</div>

<div class="nobottommargin clearfix">
	{% for table in dataTable %}

		{% if table.head is defined and table.head is not empty %}
			{% set head = table.head %}
		{% else %}
			{% set head = 'No item' %}
		{% endif %}

		{% if table.foot is defined and table.foot is not empty %}
			{% set foot = table.foot %}
		{% else %}
			{% set foot = 'No item' %}
		{% endif %}

		{% if table.body is defined and table.body is not empty %}
			{% set body = table.body %}
		{% else %}
			{% set body = 'No item' %}
		{% endif %}

		{% if table.parameters is defined and table.parameters is not empty %}
			{% set parameters = table.parameters %}
		{% else %}
			{% set parameters = '' %}
		{% endif %}

		{{ canvas_component('data-table', { 'head': head, 'foot': foot, 'body': body, 'parameters': parameters  }) }}

	{% endfor %}
</div>


<script src="{{ asset('canvas/js/components/bs-datatable.js') }}"></script>

<script>

	$(document).ready(function() {
		$('#datatable1').dataTable();
	});

</script>
