<div class="table-responsive">
	<table id="datatable1" class="table
		{% for parameter in parameters %}
				table-{{ parameter }}
		{% endfor %}
	" cellspacing="0" width="100%">
		<thead>
			<tr>
				{% for head in head %}
					<th>{{ head }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tfoot>
			<tr>
				{% for foot in foot %}
					<th>{{ foot }}</th>
				{% endfor %}
			</tr>
		</tfoot>
		<tbody>
			{% for td in body %}
				<tr>
					{% for td in td.values %}
						<td>{{ td }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
