{% if video is defined and video is not null %}
	<div class="col_two_fifth nobottommargin">
		<a href="{{ video }}" data-lightbox="iframe">
			<img src="{{ imageVideo }}" alt="Image" style="width:100%">
			<span class="i-overlay"><img src="{{ imagePlayer }}" alt="Play"></span>
		</a>
	</div>

	<div class="col_three_fifth nobottommargin col_last">


		{% if content is defined and content is not null %}
			<p>{{ content|html }}</p>
		{% endif %}

		{% if button is defined and button is not null %}
			<a href="{{ buttonLink }}" class="button button-small">{{ button }}</a>
		{% endif %}

	</div>
{% endif %}

