<div class="fancy-title title-dotted-border title-center">
	<h3>ICON LISTS</h3>
</div>

<div class="nobottommargin clearfix">

	{% for icon in icons %}

		{% if icon.parameter is defined and icon.parameter is not empty %}
			{% set parameter = icon.parameter  %}
		{% else %}
			{% set parameter = '' %}
		{% endif %}

		{{ canvas_component('icon-list', { 'parameter': parameter, 'index': loop.index }) }}

	{% endfor %}

	<div class="clear"></div>

	<a href="#" class="btn btn-secondary btn-lg btn-block mx-auto topmargin" style="max-width: 20rem;">Voir plus d'icon <i class="icon-line-arrow-right ml-2" style="position: relative; top: 1px;"></i></a>

</div>
