<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="heading-block center nobottomborder">
				<h1>{{ maintenance.title }}</h1>
				<span>{{ maintenance.subtitle }}</span>
			</div>

			{% for item in maintenance.items %}
				<div class="col_one_third topmargin {% if loop.index is divisible by(3) %} col_last {% endif %} ">
					<div class="feature-box fbox-center fbox-light fbox-plain">
						<div class="fbox-icon">
							<a href="#"><i class="{{ item.icon }}"></i></a>
						</div>
						<h3>{{ item.label }}</h3>
						<p>{{ item.content|html }}</p>
					</div>
				</div>
			{% endfor %}

		</div>

	</div>

</section>
